[2015-03-22 15:25] Eric89GXL commented on #758
Yeah, a better error message would be good. Thanks for the report. Feel free to open a PR if you have a good idea of how to fix it. We could try querying device capabilities at some point, but I'm not sure how robust it would be. At least when catching when the error occurred we could make clear what type of visual was creating the problem, which would help.

[2015-03-22 15:36] rougier commented on #758
yes, and most probably the texure limite size is 8192 on our card.

[2015-03-23 08:44] sh4wn commented on #132
Is it an idea to use msgpack [1] for this? msgpack is a sort of "binary JSON", so this would allow us to send almost any arbitrary object over the network, and use it in Javascript. The downside is that we would add another dependency.

[1]: http://msgpack.org/

[2015-03-23 08:56] rossant commented on #132
Actually now that IPython 3.0 is here, we have binary websocket support, so this issue can probably be closed (sorry if that's something you wanted to do!)...

[2015-03-23 08:56] #132 closed

[2015-03-23 08:58] almarklein commented on #132
Dunno; binary websockets just allows transmitting blobs of bytes. We still need a format to serialize a data structure to bytes and back.

[2015-03-23 09:02] rossant commented on #132
Yeah maybe this issue might be useful for the offline backend, but it's really not high priority because we can always start with base64 encoding (performance is less of an issue for the offline backend). For the online backend we now have everything we need already. But feel free to reopen if you need this @almarklein

[2015-03-23 09:11] sh4wn commented on #132
Haha well it sounded like a fun project, but I'll search for another!

[2015-03-23 10:53] eendebakpt opened #759 "incomprehensible error message in vispy.app.Canvas.on_draw"
When there is an error generated in the on_draw function from vispy.app.Canvas, the error message is very hard to understand. An example script is included below, comment out the line 1/0 to generate an error. The normal Python error is something line

<pre>
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ZeroDivisionError: division by zero
</pre>

But using vispy I get

<

[2015-03-23 20:51] QuLogic commented on #759
Interesting. This is the same error as #752, so I wonder if the real error there is also being masked.

[2015-03-23 21:29] StephenWest commented on #754
Eric

I have tested it and it works in my application.

I am new to GitHub.  Can you please point me to the instructions for
opening a PR etc.

Thanks

Steve

On Fri, Mar 20, 2015 at 11:26 AM, Eric Larson <notifications@github.com>
wrote:

[2015-03-24 11:28] Eric89GXL commented on #754
Take a look here:

https://github.com/LABSN/expyfun/blob/master/git_flow.rst#developers

[2015-03-24 13:22] Eric89GXL commented on #568
@rossant I think we have converged on these issues... should we put it in the docs or wiki somewhere?

[2015-03-24 13:23] rossant commented on #568
Yes we can... but that's not high priority I think.

[2015-03-24 13:23] rossant commented on #568
In the meantime we can probably close this!

[2015-03-24 13:25] #568 closed

[2015-03-24 13:44] Eric89GXL commented on #754
@StephenWest let me know if you have time to do it, otherwise I'll open a PR in a day or two

[2015-03-24 13:49] Eric89GXL commented on #556
Closing as a dup of #749 and #742 where we went into more depth on these issues

[2015-03-24 13:49] #556 closed

[2015-03-24 13:53] Eric89GXL commented on #685
Closing for open issues

[2015-03-24 13:53] #685 closed

[2015-03-24 13:54] Eric89GXL commented on #515
Closing since this seems to work with `scene` and appropriate use of the transform system, @boscoh feel free to reopen if you've tried setting the transform system appropriately but it doesn't work.

[2015-03-24 13:54] #515 closed

[2015-03-24 14:08] #643 closed

[2015-03-24 14:08] #686 closed

[2015-03-24 14:27] Eric89GXL commented on #551
@nippoo se also #99 and #639

[2015-03-24 14:30] #560 closed

[2015-03-24 14:52] rossant opened #762 "Call on_resize at first draw"
The viewport should be correctly set when you first initialize a canvas.

[2015-03-24 14:52] Eric89GXL commented on #762
I think some backends do this automatically and some don't.

[2015-03-24 15:37] almarklein opened #763 "Change Erics profile pic"
I assigned it to that dude that is presumable you.

[2015-03-24 20:03] almarklein commented on #763
I propose this one:

![2015-03-24 17 11 08](https://cloud.githubusercontent.com/assets/3015475/6811589/377177a4-d269-11e4-9469-4fa285c270af.jpg)

[2015-03-24 21:41] sh4wn commented on #648
Do we want our own implementation for cubehelix our should we depend on the package? Or just copy the module with proper attribution?

[2015-03-24 22:11] Eric89GXL commented on #299
@rossant this seems to work fine with some minor modifications now, see:

https://gist.github.com/Eric89GXL/09813f4c7a9449d940cc

Feel free to reopen if it doesn't work for you.

[2015-03-24 22:11] #299 closed

[2015-03-25 01:43] StephenWest commented on #754
Eric

I am having beginner trouble:

I rebased to the head, made a branch called Fix#752, modified the base.py
file and committed it, all with no issue.

But my push failed?

<Snip

ERROR: Permission to vispy/vispy.git denied to StephenWest.

fatal: Could not read from remote repository.

Please make sure you have the correct access rights

and the repository exists.

Snip>

I do have access, beca

[2015-03-25 02:16] QuLogic commented on #754
@StephenWest Everyone has pull access to all (public) GitHub repositories; that doesn't mean you automatically have push access. You need to [create your own fork](https://help.github.com/articles/fork-a-repo/) and push your code there.

[2015-03-25 07:29] Eric89GXL commented on #754
Yes, make sure you are pushing to your own fork. It needs to use https://
or git@gihub.com protocol, not git://. You can check that with git remote
-v.

[2015-03-25 09:32] rossant opened #768 "A few questions about shader/visuals"
* Things like `vec3to4()` might not be necessary thanks to GLSL overloading. You can define a GLSL function with different signatures. Glumpy uses this.
* Some shaders like phong should be refactored in the new GLSL library.
* Decision about shader system:
    * Option 1: work with existing `$`-based system
    * Option 2: Glumpy with `<transform()>;` etc
    * Option 3: shader graph with vanilla

[2015-03-25 14:33] almarklein commented on #648
No dependencies please :)  I think we should port the colormap to vispy's system, copying as much code as we can (and attributing it, of course).

[2015-03-25 15:16] almarklein opened #771 "Memory leaking in viewbox.py example"
Not sure if this is the only case, but I saw it here. Just interact with the demo for a minute or so, and at some point the memory will start to grow. Up to a certain point its stable, so it might be the VRAM which is full and overflows in system RAM. Maybe we're uploading buffer data when we should not? Do we create new buffers without deleting them?

[2015-03-25 15:17] Eric89GXL commented on #771
Can you try on my memory fixing branch? This sounds the same as the other bug descriptions.

[2015-03-25 15:45] StephenWest commented on #754
Thanks everyone.  I think I have got the PR done?

On Wed, Mar 25, 2015 at 12:29 AM, Eric Larson <notifications@github.com>
wrote:

[2015-03-25 16:00] almarklein commented on #771
Let's just wait for that to get merged and we'll try again

[2015-03-25 17:47] #725 closed

[2015-03-25 18:38] StephenWest opened #775 "Double Click not supported on Wx"
Wx converts the second mouse press in a double click sequence to a DClick event.
The vispy _wx backend does not currently handle wx DClick events.

The proposed change would be to converts the DClick events into a standard mouse press event,
deferring double click detection to the application.

This should be compatible with other backends.

[2015-03-25 18:43] Eric89GXL commented on #775
Sounds good to me. Eventually we want click/doubleclick-type events, too, but we can deal with that later.

[2015-03-25 19:26] nippoo opened #779 "HiDPI / OSX support for all examples"
This involves:

- Nothing for the scene examples (in theory!) because they'll all be dealt with on the canvas level.
- Changing Visual shaders to use the correct transform system
- Changing gloo examples to incorporate physical_size or multiply by a DPI scaling factor.

In the same fell swoop, standardising the `__init__` call so it looks like this (and prevents race conditions on Mac OS X):

[cod

[2015-03-25 19:47] Eric89GXL commented on #759
@eendebakpt I think this has been fixed by a recent PR, I'm going to close -- let me know if you hit the same problem again.

[2015-03-25 19:47] #759 closed

[2015-03-25 19:47] Eric89GXL commented on #752
Should be fixed in `master` now, feel free to re-open if it's not.

[2015-03-25 19:47] #752 closed

[2015-03-25 19:52] rossant commented on #747
Closed by #612.

[2015-03-25 19:52] #747 closed

[2015-03-25 22:10] #503 closed

[2015-03-26 00:00] almarklein opened #783 "Make use of gl+ in 3D textures etc."
We use some hacks to make non-ES 2.0 functionality work. Now we can do `gl.use_gl('gl+')`, so we should probably make use of that; or rather, simply take the functionality from `gloo.gl`, and document that the user needs to use `gl+` if he wants to use that feature.

[2015-03-26 00:00] almarklein commented on #783
See #185

[2015-03-26 00:36] campagnola commented on #771
This one is caused by ViewBox creating a new FBO at every frame when running in 'fbo' mode. Fixing GL object deletion should correct the problem, but probably the ViewBox should create only one FBO as well.

[2015-03-26 00:48] Eric89GXL commented on #255
We have this now, closing

[2015-03-26 00:48] #255 closed

[2015-03-26 00:50] Eric89GXL commented on #408
@rossant I think this one might be too tough, especially since it can be nested. Since it is also not in ES 2.0, do you think we can get away without it?

[2015-03-26 00:52] Eric89GXL commented on #579
Closing this since it should be fixed by a recent camera PR, feel free to reopen if it still doesn't work.

[2015-03-26 00:52] #579 closed

[2015-03-26 00:53] #580 closed

[2015-03-26 00:54] Eric89GXL commented on #771
We should also check that #735 is fixed by whatever fixes we make.

[2015-03-26 00:55] #775 closed

[2015-03-26 01:16] almarklein commented on #114
You can now do `gloo.gl.use_gl('gl+')` and then use `gl.GL_ANY_DESKTOP_ENUM`

[2015-03-26 01:16] #114 closed

[2015-03-26 01:18] almarklein commented on #97
In #505 a start was made, but this has stalled. Anyone wants to wrap this up?

[2015-03-26 01:19] almarklein commented on #128
@rossant this is done now, no?

[2015-03-26 01:23] #757 closed

[2015-03-26 01:24] Eric89GXL commented on #97
I can get this tomorrow

[2015-03-26 03:26] darshpandya18 commented on #514
Seems good.
Additionally I have recently worked on python and numpy for 4 months which may benefit me.

[2015-03-26 08:20] nippoo commented on #762
I'm refactoring/modifying a few examples to assume that on_resize *isn't* being called at first draw. It seems to be slightly non-deterministic on certain platforms: at least for me on the glfw backend, on_resize seems to be called around the first draw about 50% of the time (!!)

It seems slightly cleaner to me to *not* call on_resize, and make sure everything is correctly initialised in the __in

[2015-03-26 09:39] rossant commented on #408
Yeah it's probably not worth it!

[2015-03-26 09:39] #408 closed

[2015-03-26 09:42] rossant commented on #128
No, not yet. We have a GLIR interpreter, but not gloo. It would be handy to have gloo.js.

[2015-03-26 11:44] #691 closed

[2015-03-26 11:44] #711 closed

[2015-03-26 11:58] #647 closed

[2015-03-26 13:02] nippoo opened #789 "All visuals need to use transform or scaling factor to support HiDPI"
You can't just plot a fixed number of pixels to screen when writing your own visuals: everything has to be scaled up or down. i.e. lines, which should never be left as 1px, and instead should be scaled with the transform.

Top image is glfw which is hi-dpi aware (in this case, `canvas.physical_size == canvas.size * 2`)
Bottom is qt4 which is not hi-dpi aware and hides this from the program (`canva

[2015-03-26 14:28] almarklein opened #791 "Reuse FBO in viewbox"
Right now a new FBO object is created each draw, because at the time of writing gloo was not mature enough.

[2015-03-26 14:28] almarklein commented on #771
Memory error is fixed. Still need to fix that an FBO is created on each draw, but made #791 for that.

[2015-03-26 14:28] #771 closed

[2015-03-26 14:31] almarklein commented on #735
This seems fixed when I try it. Closing. Feel free to reopen if the error persists.

[2015-03-26 14:31] #735 closed

[2015-03-26 14:32] almarklein commented on #724
Can you please try with latest master? We fixed a lot of memory issues and I suspect this problem is fixed now.

[2015-03-26 14:33] Eric89GXL commented on #724
I have the script, I can try locally and close if it works.

[2015-03-26 14:34] rossant opened #792 "test_functionality fails on Ubuntu 14.04"
Intel HD Graphics GPU, Python 2.7 and 3.4.

[code]

[2015-03-26 14:35] ZuchaoWang commented on #724
Thanks for the fix, but I'm quite busy these days. I think Eric will test
that.

2015-03-26 22:32 GMT+08:00 Almar Klein <notifications@github.com>:

--

王祖超
Zuchao Wang
http://vis.pku.edu.cn/people/zuchaowang
Visualization and Visual Analytics Group
School of Electronic Engineering & Computer Science
Room 2104, Science Building No. 2
Peking University, Beijing 100871, P.R.China

[2015-03-26 14:37] Eric89GXL commented on #792
Does this happen for you on `master`?

[2015-03-26 14:37] rossant commented on #792
This is on my collections PR, which has been rebased off master a couple of hours ago.

I think I've always had this issue on my system.

[2015-03-26 14:50] Eric89GXL commented on #724
Appears to be fixed, feel free to reopen if you experience it again -- and thanks for the reports and test help!

[2015-03-26 14:50] #724 closed

[2015-03-26 14:53] Eric89GXL commented on #763
Done, closing :)

[2015-03-26 14:53] #763 closed

[2015-03-26 15:34] almarklein commented on #575
I tested and it's fixed now. Pushing a PR in a minute to fix the mpl_plot example (since its broken right now).

[2015-03-26 15:34] #575 closed

[2015-03-26 16:17] rossant opened #795 "Choropleth map example"
@rougier has a working example using path/polygon collections.

[2015-03-26 16:21] rossant commented on #609
Closing this for now. We can reopen if we really need this.

[2015-03-26 16:21] #609 closed

[2015-03-26 16:22] rossant commented on #435
Closed by #506.

[2015-03-26 16:22] #435 closed

[2015-03-26 17:14] almarklein opened #796 "Clean up how we handle #version in GLSL"
We should allow users to specify `#version` on desktop GL. But in about-to-be-merged-per we remo e that pragme. We should undo that. We do something with version in glir.py and in visuals/shader/compiler.py (or something), we should look at that and make sure it's all consistent.

[2015-03-26 17:18] #410 closed

[2015-03-26 17:18] #651 closed

[2015-03-26 17:18] #705 closed

[2015-03-26 17:32] almarklein opened #797 "Fix remaining small issues in new collections code"
See comments in code #788

Overview:
* do we need empty `__init__.py` in glsl subdirectories?
* make module names pep8 compliant (no underscores)
* remove whitespace between parameter descriptions in docstrings.

cc @rossant @rougier

[2015-03-26 17:32] almarklein opened #798 "Merge code for text rendering in visuals and collections"

[2015-03-26 17:32] almarklein opened #799 "Merge code for colormaps in visuals and collections"

[2015-03-26 17:36] almarklein commented on #63
I mean the one with the moving dashed lines. This one is also cool though :)

[2015-03-26 17:37] rossant commented on #63
nooo

[2015-03-26 17:40] almarklein commented on #63
@rossant you still have the whole night *and* tomorrow to work on it!

[2015-03-26 22:04] #345 closed

[2015-03-26 23:07] nippoo opened #801 "examples/demo/gloo/shadertoy.py throws up a load of warnings"
[code]

This also isn't tested by Travis for some reason or another. Probably because of the above warnings.

[2015-03-26 23:09] rossant commented on #801
These warnings are normal actually. This example accepts any shadertoy code which may or may not implement all uniforms. I guess these warnings could be made more discrete (they are useful for debugging, not for the normal user).

[2015-03-26 23:18] rossant commented on #685
TODO on Friday (roughly decreasing priority)

* **AXIS/TICKS**: @nippoo and others?
* `vispy.plot` / `vispy.mpl_plot` @Eric89GXL and others?
* Finish and merge #800. This way we can port many Glumpy examples and demos easily. @campagnola
* Website: @rougier needs to do a PR
* Documentation: @rossant
* Choropleth map example #795: done by @rougier, need to make a PR

[2015-03-26 23:18] nippoo commented on #801
Hm. I don't think we should be throwing warnings in our default demos.

Why isn't this tested by Travis, anyway?

[2015-03-26 23:25] rossant opened #802 "Interactive WebGL demos in the gallery"
I can _try_ to convert a couple of demos to standalone interactive WebGL widgets to put on the gallery (galaxy maybe?). This will require to export the list of all GLIR commands emitted during the visualization (cc @almarklein how to do that?). Then I can generate the JavaScript code to render these and implement animations and/or interactivity.

[2015-03-26 23:30] rossant opened #803 "Better documentation"
* User guide
  * Introduction to VisPy
  * Interactive scientific plots
    * Line plot
    * Scatter plot
    * Image
    * Surface plot
    * Convert a matplotlib figure to VisPy (experimental)
  * The scene graph (TODO @campagnola @almarklein)
  * Custom OpenGL visualizations
    * Introduction to modern OpenGL and gloo
    * How to make a new visual
* API reference (cc @almarklein)

I can do m

[2015-03-26 23:55] izaid commented on #685
Need to also merge my emulated texture branch. Either @rougier and I will get the new version working, or I'll merge the more memory-limited one.

[2015-03-27 09:21] nippoo opened #806 "Fix GL examples on glfw backend (OSX at least)"
Some of these examples have both `__init__` and `on_initialize` methods. They're not executed at the same time, and the examples look different or fail to work entirely.

[code]

Example of behaviour:
[code]

[2015-03-27 10:24] #779 closed

[2015-03-27 12:15] almarklein opened #812 "PanZoomCamera sets AffineTransform now, but should in theory be able to set a STTransform"
See cameras.py line 705

[2015-03-27 12:56] rossant opened #813 "Make volume rendering work in WebGL"
WebGL doesn't support `while` loops. The GLSL volume rendering code will have to be rewritten a bit. See http://www.atmind.nl/?p=623
cc @almarklein @izaid

Same problem for mandelbrot and ray tracing examples.

[2015-03-27 13:07] rossant opened #814 "Should canvas.show() automatically run the app?"
It would be nice if `canvas.show()` could *just work* in both interactive and non-interactive modes. In non-interactive mode, it would call `app.run()` automatically if the app is not already running.

Then we could replace

[code]

with

[code]

[2015-03-27 13:22] rossant opened #815 "All collection examples are broken on master"
[code]

[2015-03-27 13:27] rossant commented on #815
Closed by e7a2f852cf785bf42eab0b648437918b71c4f0a3.

[2015-03-27 13:27] #815 closed

[2015-03-27 14:19] izaid commented on #813
At least there's a reasonable workaround for the while loops -- I'll give this a shot when I get a chance.

[2015-03-27 15:42] #803 closed

[2015-03-27 15:43] #795 closed

[2015-03-27 17:09] rossant opened #818 "Port skybox example from Glumpy"
https://github.com/glumpy/glumpy/blob/master/examples/skybox.py

[2015-03-27 17:10] rossant opened #819 "Port Klein bottle example from Glumpy"
https://github.com/glumpy/glumpy/blob/master/examples/geometry-parametric.py
#817 implements some geometry facilities required by this example.

Need to fix some bugs in `vp.mesh()` first.

[2015-03-27 17:13] rossant opened #820 "Port Cartopy example from Glumpy"
https://github.com/glumpy/glumpy/blob/master/examples/cartopy.py

Require all kinds of transforms.

[2015-03-27 17:25] campagnola opened #821 "Text is misplaced in scene/console example"
![cdg3](https://cloud.githubusercontent.com/assets/940580/6873155/a27d28da-d4ae-11e4-9a79-b638389294e5.jpg)

[2015-03-27 17:52] campagnola commented on #821
Possibly related problems in scene/markers and scene/grid_large

[2015-03-27 19:25] Eric89GXL commented on #821
`git bisect` says @almarklein should check this commit:

https://github.com/vispy/vispy/commit/597698ad0c8054a02adf8280b5a4780d180ae210

As @nippoo just said, "commit a little, commit often"...

[2015-03-27 20:18] #821 closed

[2015-03-27 20:46] rossant opened #825 "GLIR exporter"
For any VisPy visualization I want a very simple way to export to a Python list (or a text file in JSON or whatever) the list of all GLIR commands that have been emitted so far. @almarklein could you help me with this please? How would it work?

Once we have a JSON file with the list of GLIR commands, it becomes very easy to debug failing WebGL visualizations. I can easily write a JavaScript modul

[2015-03-27 20:47] #97 closed

[2015-03-27 20:47] #507 closed

[2015-03-27 21:28] eendebakpt opened #827 "memory leak in vispy"
Below is a minimal example. When pressing the r key a random is image is loaded as an ImageVisual.
The memory leak is still present after recent fixes #784, #790.

    from __future__ import division

    #%% Load packages
    import os,sys
    import numpy as np
    import vispy.app
    from vispy import gloo
    from vispy import visuals
    from vispy.visuals.transforms import STTransform, Tran

[2015-03-27 21:30] rossant commented on #762
can this be closed?

[2015-03-27 21:37] almarklein commented on #827
confirmed

[2015-03-27 21:43] almarklein commented on #827
@campagnola can it be that visuals are held onto by the caching mechanism?

[2015-03-27 21:48] almarklein commented on #825
You'd need to create  a GlirParser that just passes all commands to the default parser but also logs the commands. You set that parser at the start end after a short while you make it export the commands.

[2015-03-27 21:54] rossant commented on #825
Ah, makes sense, thanks! I'll give it a try.

[2015-03-27 21:58] Eric89GXL commented on #762
Closing, feel free to reopen if it's a problem in the future

[2015-03-27 21:58] #762 closed

[2015-03-27 22:32] Eric89GXL commented on #814
I think we can actually already get rid of the `sys.flags.interactive` check because we have our own "interactive mode" -- in other words, the `app.run()` doesn't do anything if the user is in interactive mode.

[2015-03-27 23:57] Eric89GXL commented on #628
I have an idea for how we might be able to optionally get performance metrics from our library with an easy API (more or less just adding function decorators) and little to no overhead (at least when debugging is off, which it would be by default). @campagnola Almar mentioned you had some utilities for profiling our code -- does it already work in a similar manner? I wouldn't want to re-invent the

[2015-03-28 01:01] jvtrudel opened #830 "Bug in examples/basics/scene/isosurface.py"
$ python isosurface.py
    Generating scalar field..
    Traceback (most recent call last):
      File "isosurface.py", line 49, in <module>
        cam.set_range((-10, 10), (-10, 10), (-10, 10))
    AttributeError: 'TurntableCamera' object has no attribute 'set_range'

[2015-03-28 01:04] #801 closed

[2015-03-28 01:07] almarklein commented on #830
Are you sure you have the latest Master? It works fine for me.

[2015-03-28 09:54] rossant opened #831 "Replace LineVisual by SegmentCollection"
It seems like [agg support of LineVisual is very minimal currently](https://github.com/vispy/vispy/blob/master/vispy/visuals/line/line.py#L39). Maybe we could replace it by the new [SegmentCollection](https://github.com/vispy/vispy/blob/master/vispy/visuals/collections/segment_collection.py) that was ported from Glumpy?

[2015-03-28 11:30] jvtrudel commented on #830
You're right. Sorry.

[2015-03-28 11:30] #830 closed

[2015-03-28 11:57] almarklein opened #832 "Refactoring of node transformations and caching system"
During the 2015 sprint in Paris, Luke and I discussed a plan for the transformation caching. It allows allow for all the flexibility that we currently have, while realizing a performance that is (we think) close to using bare visuals.

Steps:

* [ ] Implementation of a DefaultTransform class that can do scaling, translation and rotation, which is aware of the complexity of the transform and is eff

[2015-03-28 15:28] Eric89GXL commented on #832
Sounds great to me!

[2015-03-28 20:35] rougier commented on #832
Some questions:
* Why not using identity as the default transform ? (scaling(1) + translate(0) + rotation(0) has a cost)
* Does not collapsing transforms impact performances significantly ?
* Is there an option to not have transform for a node (just inheriting parent's transform) ?

[2015-03-29 10:46] Eric89GXL commented on #831
Sounds pretty reasonable. Do you have time to work on it? If not, I could give it a shot at some point. @campagnola I assume #800 should be completed first?

[2015-03-29 16:34] rossant commented on #831
No I won't have time to work on this for now...

[2015-03-29 18:54] sh4wn commented on #648
Ok, so I'm currently busy implementing this, but another question: What's the relation between the glsl_map defined in the class of a colormap and the GLSL programs in vispy/glsl/colormaps/[name].glsl? Are they both used?

[2015-03-29 18:56] rossant commented on #648
They are redundant, we'll have to merge them at some point. For now I think you can just use those in vispy.colors.

[2015-03-29 19:05] Eric89GXL commented on #648
BTW I have the `cubehelix` colormap in my open `vispy.plot` PR, so don't bother with that one...

[2015-03-29 20:03] almarklein commented on #832
You mean like an IdentityTransform class? I think it would be good if we can allow the user to simply do `node.transform.translate(x, y, z)`, without needing to set the type of transform. The class I'm now working on keeps track of its own complexity, so that if its still the identity, it will be fast.

I think we can attain the best performance if we can collapse all static transform, but keep th

[2015-03-29 20:11] Eric89GXL commented on #814
Although I guess for non-interactive mode it would be more like `matplotlib` to have `show` call `app.run`. Maybe we could just add an option to `show` that is `run=True` by default. I'd be fine with that.

[2015-03-29 20:12] Eric89GXL commented on #798
@rougier I looked at the text visual a little bit, and it turns out there is already a font manager in there. So hopefully the merging won't be too difficult.

[2015-03-29 20:13] Eric89GXL commented on #791
@almarklein is this as simple as creating a FBO at the initialization of the ViewBox and re-using it, instead of instantiating a new one each time?

[2015-03-29 20:14] almarklein commented on #791
It should be. Though probably want to create it lazily, since by default a viewbox does not use an FBO.

[2015-03-29 20:14] Eric89GXL commented on #792
closing as duplicate of #649

[2015-03-29 20:14] #792 closed

[2015-03-29 20:19] Eric89GXL commented on #702
I think we took care of this :)

[2015-03-29 20:19] #702 closed

[2015-03-29 20:22] Eric89GXL commented on #676
FYI this is implemented in WIP PR #804

[2015-03-29 20:23] Eric89GXL commented on #681
Duplicate of #642

[2015-03-29 20:25] rossant commented on #681
Reopening because I think the matrix and dendograms should be separate visuals.

[2015-03-29 20:30] Eric89GXL commented on #681
Ahh, fair enough

[2015-03-29 20:33] Eric89GXL commented on #619
@rossant I don't have this on my OSX machine. Can you check to see if the bug still exists, and let me know what OS and backend you're on?

[2015-03-29 20:37] Eric89GXL commented on #582
A clearer error message is now in `master` to help users with this problem.

[2015-03-29 20:37] #582 closed

[2015-03-29 20:38] Eric89GXL commented on #577
closing this, feel free to reopen if you come up with another idea @campagnola

[2015-03-29 20:38] #577 closed

[2015-03-29 20:52] Eric89GXL commented on #485
IIUC this was done in #563

[2015-03-29 20:52] #485 closed

[2015-03-29 20:53] campagnola commented on #831
Yes, #800 should go through first.  There will be some design decisions to make around how best to adapt Collections to Visuals, but I don't think it will be terribly difficult.

[2015-03-29 20:54] Eric89GXL commented on #482
I think this was fixed by the `GLIR` changes, I no longer see the bug

[2015-03-29 20:54] #482 closed

[2015-03-29 20:58] Eric89GXL commented on #157
@almarklein your cameras have this now, right?

[2015-03-29 21:02] Eric89GXL commented on #693
@rossant is this a dup of #140?

[2015-03-29 21:05] rossant commented on #693
No, I'd like to have just one small example of picking that doesn't use the scene graph.

[2015-03-29 21:07] Eric89GXL commented on #157
Looked through the source code and answered my own question (no) -- sorry for the noise...

[2015-03-29 21:09] campagnola commented on #140
Update: #822 allows us to attach filters to the beginning and end of a Visual's shaders. This will allow us to easily and transparently force any visual to render with a solid color, which brings us much closer to making picking possible.

[2015-03-29 21:10] Eric89GXL commented on #157
FYI the license on the code linked above appears to be GPLv3, so we'd need to ask relicensing permission

[2015-03-29 21:11] Eric89GXL commented on #140
Oh I hadn't even considered that use case... yes that is a nice benefit indeed.

[2015-03-29 21:20] nippoo commented on #801
Perhaps we should reopen this? The referenced PR says "fixes?" questioningly but that shouldn't be enough to close it ;)

[2015-03-29 21:25] Eric89GXL commented on #801
@rossant and I had a discussion somewhere (maybe in the PR) where we decided it was okay for that example to have warnings, so long as we added a comment saying that it's normal behavior for it (which we did).

[2015-03-29 21:44] rossant commented on #157
cc @rndblnch

[2015-03-29 21:45] rossant commented on #801
or we switch from WARNING to INFO

[2015-03-29 21:46] izaid opened #836 "Cannot determine DPI on Amazon EC2"
I'm trying to get VisPy going on an Amazon EC2 instance running an IPython notebook server. I've got the IPython notebook working fine, so now it is time to sort out VisPy.

In IPython, I'm getting a runtime error "could not determine DPI" whenever I try to create a canvas, though app.use_app('ipynb_webgl') works fine. Do I need to be running X Windows or something on the server, despite doing all

[2015-03-29 21:48] rossant commented on #836
I remember seeing this in a similar use-case. The fix is to implement a handshake for Python/JS where JS tells Python the dpi and other GL-related info. There shouldn't be a need for any X server here because the browser does all the rendering. I think Cedric has worked on this.
cc @nippoo @cgestes

[2015-03-29 21:48] nippoo opened #837 "examples/tutorial/gl/fireworks.py doesn't work on OS X"
Shows a black screen on any backend...

[2015-03-29 21:50] nippoo opened #838 "Bunch of tests fail on Mac OS X"
Mac OS X 10.10.1

Retina MacBook Pro 15" (mid-2012)

nVidia GeForce GT 650M

[code]

[code]
[code]

[2015-03-29 21:59] izaid commented on #836
@rossant @nippoo @cgestes Can one of you tell me roughly what needs to be done? If yes, then I'll give this a shot today or tomorrow.

[2015-03-29 21:59] campagnola commented on #837
Looks ok to me. Can you do a git-bisect?

[2015-03-29 22:01] nippoo commented on #837
@campagnola are you on OS X?

[2015-03-29 22:03] campagnola commented on #702
If by "we" you mean "Eric Larson, PR Slayer".

[2015-03-29 22:06] Eric89GXL commented on #836
I don't think we should in principle raise an error if DPI couldn't be determined (probably warning instead), so I have added this to #834. You should probably still work out the IPython communication even though it will now just be a warning, though :)

[2015-03-29 22:08] campagnola commented on #832
To answer more directly, yes--currently all visuals use a `NullTransform` by default (should be renamed to `IdentityTransform` as you suggested) and even if we change the default, it will always be possible to reassign it to any other type.

[2015-03-29 22:12] campagnola commented on #837
OF COURSE NOT.
;)

[2015-03-29 22:13] Eric89GXL commented on #837
Ahh good call, I can verify it works back on https://github.com/vispy/vispy/tree/5dc34f10323c7a35b35a6f8351587541fd2bf3bf/examples/rawgl two years ago, bisecting now

[2015-03-29 22:35] Eric89GXL commented on #837
The commit was mine:

https://github.com/vispy/vispy/commit/bf27284ce1399ca0a83d91113610bdebd1f86a12

Apparently deleting the `#version 120` was a problem... putting back in made it work for me. Commit made. @nippoo can you check at your end?

[2015-03-29 22:44] nippoo commented on #837
Works great for me! `git bisect`-a-licious.

Just running the tests now.

[2015-03-29 22:48] nippoo commented on #837
Still get:

[code]

as well as the ton of `max_corr` errors. The other two are gone though!

[2015-03-29 23:10] nippoo commented on #836
Out of interest, what do we need the DPI for in the browser, when the browser itself already does a ton of scaling/resizing/zooming depending on the users' preference? I'm not sure how much we can rely on correct cross-browser DPI reporting, but perhaps it's worth testing...

[2015-03-29 23:13] izaid commented on #836
@nippoo If I'm running VisPy in IPython, where should the DPI come from? There is only the browser in that situation, isn't there?

[2015-03-29 23:28] rndblnch commented on #157
which license would suit your needs?

[2015-03-29 23:33] Eric89GXL commented on #157
We use BSD

[2015-03-29 23:46] nippoo commented on #836
Well yes, obviously - you should be able to do this with https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia. But I don't know what happens if the browser zooms in or out, or how we should even handle those cases (if the user has the browser set at 80% zoom, or 150% zoom because they have bad eyesight, should we scale the DPI down by that zoom level?)

[2015-03-29 23:56] Eric89GXL commented on #838
@nippoo good news about HiDPI:

http://stackoverflow.com/questions/12124576/how-to-simulate-a-retina-display-hidpi-mode-in-mac-os-x-10-8-mountain-lion-on

Looks like I might be able to simulate it locally and fix your correlation problems, too.

[2015-03-30 00:23] campagnola commented on #628
I just adapted the Profiler class from pyqtgraph. It's pretty nice:
https://github.com/campagnola/vispy/blob/scenegraph-performance/vispy/util/profiler.py

I haven't tested it, but the overhead should be very small except when profiling is enabled.

[2015-03-30 07:16] rossant commented on #836
Using a default value would be fine. The point is to implement handshake
for other gl caps like max texture size etc

Le lundi 30 mars 2015, nippoo <notifications@github.com> a écrit :

[2015-03-30 07:47] rndblnch commented on #157
there you go, a dual license quaternion implementation in python :)

https://bitbucket.org/rndblnch/linalg/src

[2015-03-30 08:06] rougier commented on #798
Yes, but I did not know where to put the font manager code in the vispy hierarchy.
Also note that we need a (unique) Agg and SDF font manager.

[2015-03-30 09:13] almarklein commented on #648
cc @izaid because he did most of the works on colormaps.

[2015-03-30 09:17] almarklein commented on #814
If we're going to change all examples at some point, I propose we also move the instantiation of the canvas in the `if __name__ == '__main__':` block. In that way, it should be possible to import example modules and have more control over how the Canvas is created. We could e.g. create a Qt app that can show all examples by clicking in a list.

[2015-03-30 09:20] almarklein commented on #140
I was going to say that it would not be that simple, because you'd want to write simpler shaders for this case. But maybe by setting `gl_Color` to a color at the end will make the compiler optimize out all the complicated stuff that we do (casting rays, calculating aa). That would be sweet.

[2015-03-30 09:27] almarklein commented on #837
This looks like PyOpenGL now produces a str instead of bytes. What version of PyOpenGL do you have? There was a new release like a month ago.

[2015-03-30 09:38] almarklein commented on #837
Continuuing discussion on `str.decode` on #838

[2015-03-30 09:39] almarklein commented on #838
I cannot reproduce the `str.decode()` error. It might be OSX specific. I can make a fix though.

[2015-03-30 09:52] almarklein commented on #836
Sweet!

[2015-03-30 09:55] almarklein commented on #157
Thanks @rndblnch !

I don't particularly like the Arcbal camera, but yes, we should add it to vispy. Note that we already have quaternions in `vispy.util.quaternion.Quaternion`, so it should be relatively easy to implement it.

[2015-03-30 10:26] Eric89GXL commented on #798
Ahh, right. We should probably refactor that part to go into `visuals/fonts` or so. The manager can be global, but the SDF renderer cannot. If someone has multiple contexts, or creates and destroys contexts, the SDF renderer will need to switch/change appropriately.

[2015-03-30 10:41] #715 closed

[2015-03-30 10:42] almarklein commented on #798
I think we should store the renderer on the `canvas.context.shared` object.

[2015-03-30 10:57] larsoner opened #841 "FIX: Guarantee on_resize before on_draw"
We should do this for all backends and all platforms, @nippoo has seen it not happen on OSX with either glfw or pyqt4 (or both?).

[2015-03-30 11:20] #576 closed

[2015-03-30 11:20] #630 closed

[2015-03-30 11:20] #667 closed

[2015-03-30 11:20] #806 closed

[2015-03-30 11:20] #837 closed

[2015-03-30 12:28] rossant commented on #814
+1

[2015-03-30 12:29] rossant commented on #140
@almarklein it might depend on the driver, but I think at least some of them do it, because you sometimes get error messages about non-existing attributes and uniforms which have been optimized out.

[2015-03-30 12:47] campagnola commented on #140
I think we generally don't want to skip the work that is done in the fragment shader because it may have discards or set the alpha=0, which should change the picking area. If it becomes a performance issue, then we will need to let each visual override the default behavior and define its own picking behavior.

[2015-03-30 13:04] nippoo commented on #841
I guess this isn't a bad idea. At the moment I've refactored all the relevant examples to have an `activate_zoom()` method which is called in the `__init__` as well as `on_resize`. So if we can guarantee that on_resize() will be called before, we should re-factor it back to avoid two calls. At the moment everything works, it's called once in the init then once on subsequent resizes...

[2015-03-30 13:06] nippoo commented on #838
I've got PyOpenGL 3.1.0...

[2015-03-30 13:07] nippoo commented on #838
Also @Eric89GXL yes, - I didn't realise you had a non-Retina OS X machine! Might be worth someone running the tests in HiDPI mode every so often :)

[2015-03-30 13:15] Eric89GXL commented on #838
Yeah, it is. We also plan to test something that should show HiDPI errors by using `SceneCanvas.render` with different arguments -- if things are not set up to use transforms correctly such that they would mess up rendering on HiDPI computers, such tests should fail on any machine (HiDPI or not).

[2015-03-30 14:06] campagnola commented on #827
Looks like this is related to components in ImageVisual; will likely be resolved by #804.

[2015-03-30 14:41] #838 closed

[2015-03-30 14:44] almarklein commented on #140
I don't think a compiler would optimize the discards out. Having it ignore `alpha=0` is probably ok; they will be e.g. the semi-transparent fragments for aa. If we want a visual to become non-pickable in transparent areas, we should discard  `if alpha==0`.

[2015-03-30 14:46] almarklein commented on #827
@eendebakpt  Also, note that you probably want to use `image.set_data()` for updating your image. Even with the memory leak fixed, the current approach would be slow ...

[2015-03-30 14:48] izaid commented on #836
@rossant An update on this. Right now, master is setup to return a default DPI (96) with a warning instead of raise an exception. With this change, I get a black screen, which is progress.

I've tried with the ImageVisual and the LineVisual, and all I see is a black screen.

Can you direct me at what should be done to help sort this out? I'm happy to help, but not sure what to do.

[2015-03-30 14:53] rossant commented on #836
Do you mean that you get a black canvas on any VisPy example when you use the WebGL backend on a notebook served by Amazon EC2?

Do you get any JS error message? (F12)

[2015-03-30 14:57] izaid commented on #836
Yes, exactly that. I've only tried LineVisual and ImageVisual so far, both with just a black canvas.

No JS error.

[2015-03-30 14:58] izaid commented on #836
To be clear, I'm literally copying and pasting the examples, except without the app.run and with app.use_app('ipynb_webgl') before anything else.

[2015-03-30 15:31] rossant commented on #836
Ah. Might be a WebSocket problem with EC2? Not sure how to configure the
server properly...

Le lundi 30 mars 2015, Irwin Zaid <notifications@github.com> a écrit :

[2015-03-30 15:36] izaid commented on #836
Amazon EC2 has an option to allow "All traffic", which I've enabled. Still nothing.

This obviously could be a lot of things, ranging from a VisPy issue to something completely independent. Any thoughts on who we might ask?

[2015-03-30 15:41] rossant commented on #836
Can you try various IPython widgets?

You use IPython 3 right?

Also you can inspect the websocket frames in the browser dev tools. You
want to see if the comms are being exchanged correctly.

Le lundi 30 mars 2015, Irwin Zaid <notifications@github.com> a écrit :

[2015-03-30 15:50] izaid commented on #836
Yes to IPython 3. I also confirm the IPython widgets work.

[2015-03-30 15:53] rossant commented on #836
Can you give me access to the notebook?
You use the very latest master of vispy? We made a change to webgl earlier
today

Le lundi 30 mars 2015, Irwin Zaid <notifications@github.com> a écrit :

[2015-03-30 15:56] izaid commented on #836
@rossant Yes, I'm going to give you access to my notebook on EC2. Give me a few minutes, I'll email you.

Master is from minutes ago.

[2015-03-30 21:04] jvtrudel opened #846 "bug in the console when closing the window with PyQt4"
I got an error when I close the window using esc command while running example/tutorial/app/interactive.py . Maybe it is not the way it should be closed, but it should close silently anyway. no?

[code]

[2015-03-30 22:38] Eric89GXL commented on #827
@eendebakpt thanks for the bug report. Here is what I ran:
[code]
I get this on `master`:

![figure_1](https://cloud.githubusercontent.com/assets/2365790/6908513/e0440c6a-d73d-11e4-91cd-066c658f1382.png)

And a slight improvement but the leak is not eliminated on my PR #804:

![figure_1](https://cloud.githubusercontent.com/assets/2365790/6908531/0e1ab7b0-d73e-11e4-981b-6a7454f5ac9a.png)

I'll keep

[2015-03-30 22:50] Eric89GXL commented on #846
Looks like the closing of the last canvas is not automatically killing the timer. I assumed it should... thanks for the report.

[2015-03-31 13:21] eendebakpt opened #848 "transparency for linevisual"
I am trying to plot a semi-transparent line over an image. I use the alpha channel of the LineVisual to set transparency. The line becomes transparent, but the underlying image is not shown through the line.

An example script is included below.

<pre><code>
"""
Simple demonstration of ImageVisual.
"""

import numpy as np
import vispy.app
from vispy import gloo
from vispy import visuals
from vispy

[2015-03-31 14:52] campagnola commented on #848
You need to draw the lines after the image and either disable depth testing or ensure that the lines are not obscured by the image.

[2015-03-31 15:42] sylm21 opened #849 "Problem with collection example"
Hi,

When i launch an example about collection i  always the same error :

WARNING: Traceback (most recent call last):
  File "C:\Users\moynesy\Desktop\projet_python\vispy-master\examples\collections\choropleth.py", line 86, in <module>
    app.run()
  File "C:\Python27\lib\site-packages\vispy-0.4.0_dev-py2.7.egg\vispy\app\_default_app.py", line 61, in run
    return default_app.run()
  File "C:\P

[2015-03-31 15:51] rossant commented on #849
what is your GPU and GPU driver?

[2015-03-31 16:05] sylm21 commented on #849
Intel HD Graphics 4000

[2015-03-31 16:07] rossant commented on #849
you have the latest master version of vispy?

there is a command to get OpenGL diagnostics, @Eric89GXL or @almarklein can you remind me what it is?

Also, do you have the very latest version of your GPU driver?

[2015-03-31 16:17] eendebakpt commented on #848
Thanks for the suggestion. I tried the code below, but the result is that the lines are obscured by the image. I also tried the blend=True and 'translucent' options for gloo.set_state, but these did not result in the line being transparent.

<pre>
<code>
import numpy as np
import vispy.app
from vispy import gloo
from vispy import visuals
from vispy.visuals.transforms import STTransform, TransformS

[2015-03-31 16:31] campagnola commented on #848
My mistake--setting depth_test will not work in this case because the LineVisual overrides that when it draws. We've discussed allowing that to be overridden, but that has not been implemented yet. As a workaround, you can give each coordinate a z value of -0.1.

[2015-03-31 19:33] sylm21 commented on #849
latest version of vispy and update driver after your comment

[2015-03-31 20:30] eendebakpt commented on #848
Settings the z coordinate to a negative value works, so I will close the issue. A working example is included below.

Should this be documented somewhere? I can make an example for transparency and make a pull request, but if the implementation will change in the near future I will skip that.

<pre><code>
import numpy as np
import vispy.app
from vispy import gloo
from vispy import visuals
from vis

[2015-03-31 20:30] #848 closed

[2015-04-01 22:34] #551 closed

[2015-04-01 22:34] #789 closed

[2015-04-02 02:56] campagnola opened #851 "Pick one of 'style', 'method', and 'mode'"
Visuals can each provide multiple mechanisms for drawing the same data.  We are currently using three different names to describe this: VolumeVisual uses 'style', ImageVisual uses 'method', and LineVisual uses 'mode'. Let's pick one.

I vote against 'style' because I'd like that to eventually refer to a different set of properties (line width, color, font, etc.)

[2015-04-02 04:15] Eric89GXL commented on #851
+1 for method

[2015-04-02 07:15] almarklein commented on #851
On 02-04-15 06:15, Eric Larson wrote:

+1

[2015-04-02 10:07] rossant commented on #851
+1

[2015-04-03 03:18] Eric89GXL commented on #851
Closing for #853 and #804

[2015-04-03 03:18] #851 closed

[2015-04-03 03:41] Eric89GXL commented on #825
Closing since I think @izaid just got this, feel free to reopen if not

[2015-04-03 03:41] #825 closed

[2015-04-03 03:42] Eric89GXL commented on #825
@izaid in the future if there are issues you directly address feel free to put "Closes #N" in the PR description, it will auto-close the issue when the PR is merged

[2015-04-03 03:43] Eric89GXL commented on #814
I am taking care of the Canvas changes related to this in #804, but we will need to change a bunch of examples in a different PR (for simplicity of review)

[2015-04-03 03:45] Eric89GXL commented on #718
taken care of in #744

[2015-04-03 03:45] #718 closed

[2015-04-03 03:49] Eric89GXL commented on #591
@campagnola do you think this is still necessary? I think most folks will use `python setup.py develop` on their development rigs, I think it's fairly standard.

[2015-04-03 13:48] #157 closed

[2015-04-03 15:57] campagnola commented on #591
Nah, it seems I'm the only one with this complaint  :)

[2015-04-03 15:57] #591 closed

[2015-04-03 20:40] karlcz commented on #663
I don't know if you guys want to keep this issue around or close it.  I have lost interest in the image extension since I haven't actually needed to do general purpose stuff in the interactive rendering frames, and PyOpenCL works fine to process data prior to loading vispy textures...

[2015-04-03 21:19] Eric89GXL commented on #663
I'll go ahead and close for now, then -- we can reopen if someone feels the need for the feature in the future

[2015-04-03 21:19] #663 closed

[2015-04-03 23:18] Eric89GXL opened #859 "ENH: Testing HiDPI support idea"
I think we can fake it by making a canvas option to modify with the inputs / outputs of the size setters and getters. This might be worthwhile so that @nippoo doesn't need to test everything for us.

[2015-04-04 02:37] campagnola commented on #859
+1

[2015-04-04 03:01] #689 closed

[2015-04-04 21:45] campagnola opened #862 "Shared context example is broken"
The example in `basics/scene/shared_context.py` no longer works correctly for me as of commit 592c973  (ping @almarklein). The mesh in the 3D view appears briefly, then disappears.

[2015-04-05 12:53] #443 closed

[2015-04-05 12:53] #598 closed

[2015-04-05 12:53] #676 closed

[2015-04-05 12:53] #680 closed

[2015-04-05 12:53] #749 closed

[2015-04-05 12:53] #827 closed

[2015-04-06 19:19] rossant opened #866 "Clearer repeat error messages"
Instead of displaying multiple lines:

[code]

it might be clearer to display *one* line with the number of repeats that gets updated in real-time (on the same line):

[code]

This is similar to how identical error messages in JavaScript are displayed in Chrome's developer console.

[2015-04-06 19:22] Eric89GXL commented on #866
It might be tricky because if other errors are printed in the meantime, the backspace won't work as expected. But it might work enough that it would be worthwhile. It already logarithmically spaces messages, so I personally don't feel like the annoyance of the repeated messages is worth the effort to do it myself, though :)

[2015-04-06 19:23] rossant commented on #866
At least replacing the first 10 repeats by a single line would be an improvement :)

[2015-04-07 05:21] ardot opened #867 "GL Error when running Offscreen.py"
Hey all,

Thanks for the library! I'm trying to use gloo for offscreen rendering, but am getting an error when I run the offscreen.py example script. Paste from the error message is at:

https://gist.github.com/ardot/f300779d24102f2d15d4

Is this a KP? Am I configuring something wrong?
Thanks,
-Tim

[2015-04-07 07:57] almarklein commented on #866
That's a good point. Fortunately, we only have to remove 1 char (or 2/3 if >10), so if things go wrong, it should not be that bad. I would not call this high priority though.

[2015-04-07 07:59] almarklein commented on #867
Can you turn on gl debugging: `gloo.gl.use_gl('gl debug')`? This should provide us with a clearer error message. Also a minimal example should help.

[2015-04-07 08:00] rossant commented on #867
I can reproduce this. The `offscreen.py` example in demo/gloo is broken on master.

[2015-04-07 16:56] Eric89GXL commented on #867
It works for me. I wonder if this is the ol' Intel GPU (#649) issue coming up again. @ardot what GPU are you running?

[2015-04-07 17:38] ardot commented on #867
Eric - Seems very possible. I have a late 2013 Macbook pro with an Intel Iris Pro 1024 MB GPU.

Almar - when I add in the debugging line I get "RuntimeError: Could not import gl target "gl":
No module named gl". It seems like 'gl debug' isn't a valid input here. Thoughts?

[2015-04-07 17:41] rossant commented on #867
I can confirm that I only have this bug on my Intel GPU, not my NVIDIA one.

[2015-04-07 19:31] Eric89GXL commented on #867
@ardot try `use_gl('desktop debug')`

@ardot @rossant if one of you could boil the example down to a minimal version, it might also help us figure out where the failure occurs. Or if you want to ship me your laptop I can have a look :)

[2015-04-08 00:53] ardot commented on #867
@Eric89GXL 'desktop debug' gives the same error, except replace "no module named desktop" instead of "no module named gl".

[2015-04-08 00:58] Eric89GXL commented on #867
Are you on latest master?

[2015-04-08 01:04] ardot commented on #867
Yes, I believe so. I just did a 'git pull', uninstalled the current version with 'pip uninstall vispy" and re-installed with 'python setup.py install'. Did I do that correctly? Is there anything else I need to do to update?

[2015-04-08 01:57] Eric89GXL commented on #867
Agh, I forgot we changed the names. Try `use_gl('gl2 debug')`.

[2015-04-08 02:50] ardot commented on #867
Nice! Yeah that works. I am still getting the same error messages though:
"OpenGL got errors (Check before draw): GL_INVALID_FRAMEBUFFER_OPERATION"

[2015-04-08 04:49] Eric89GXL commented on #867
Although some posts make it seem like the Intel driver might not work properly:

https://communities.intel.com/message/220401

I wonder if we're not doing something right with the framebuffer, see first answer here:

http://stackoverflow.com/questions/10533609/opengl-gl-quads-produces-error-0x506

@rossant @ardot any interest in seeing if you can see what e.g. the status from `glCheckFramebufferSt

[2015-04-08 08:39] almarklein commented on #867
But the trace should be more precise now. In debug mode, we test for GL errors on each GL command rather than only once each draw.

[2015-04-08 14:34] Eric89GXL commented on #867
@almarklein I think the error could be slightly more subtle, see stack overflow link above. We could be creating the framebuffer without error, but it could be in a non-useable INCOMPLETE state. We might need to change which type of color we use, for example.

[2015-04-09 18:51] ardot commented on #867
@almarklein  Gotchya. Okay, you were right - the trace is different. Here is the new trace:
https://gist.github.com/ardot/fda493f68afbe45ee31b

[2015-04-09 19:54] almarklein commented on #867
This shows that the error is detected right after calling `glClear`. Which is a bit weird, since you'd expect to see it after FBO attachement or something. @Eric89GXL is probably right in that this is some subtle bug...

[2015-04-09 21:09] Eric89GXL commented on #867
I think with the issue I linked to above you don't get the error during attachment, but only once you try to do something to the attached framebuffer (but the attachment is "incomplete"). So that's consistent with that idea. @ardot or @rossant if one of you has time to dig into trying different attachment schemes, even just in raw `gl` and seeing what throws the error and what fixes it, that might

[2015-04-11 14:54] inclement opened #871 "Depth testing broken for some mesh Nodes"
This can be seen in master in the basics/visuals/tube.py example.

I bisected the problem to the introduction of set_gl_state for the Visual class, and I think the actual cause is that MeshVisual and Node both call `Visual.__init__(...)`, but Node does so second. This overwrites the MeshVisual setting (enabling depth testing) with the default.

In testing, I found that e.g. replacing the relevant

[2015-04-11 15:46] Eric89GXL commented on #871
Could it be fixed by switching the `Node` super-class `__init__` to occur before the `Mesh` `set_gl_state` calls instead of after? @campagnola if you have an idea of the correct answer here feel free to jump in.

[2015-04-11 16:31] inclement commented on #871
@Eric89GXL I tried this by switching the order in the constructed `__init__` method of vispy/scene/visuals.py, but it doesn't work - running the tube example gives

    Traceback (most recent call last):
      File "tube.py", line 59, in <module>
        canvas.view.add(l1)
      File "/home/asandy/devel/vispy/vispy/scene/widgets/viewbox.py", line 182, in add
        node.add_parent(self.scene)

[2015-04-11 19:40] Eric89GXL commented on #871
Ahh, so it's a more general problem than just `gl_state` then. Somehow we need to make it so that either `Node` respects what is done by its subclasses and have `Node.__init__` run at the end of the subclass `__init__`, or the subclasses need to respect what `Node` does and do `Node.__init__` at the beginning of each subclass `__init__`. I'm fine either way. @campagnola WDYT?

[2015-04-12 15:30] campagnola commented on #871
I have already fixed this in a branch I am working on.

[2015-04-14 10:57] campagnola opened #874 "Can't import ext.glfw"
I have glfw 3.1.1 installed from source and the python wrapper version 1.1.1 installed from pip. This is what I get when running examples using the glfw backend:
[code]
However the import works if import glfw manually first:
[code]
Perhaps we need to update ext.glfw?

[2015-04-14 13:47] Eric89GXL commented on #874
Probably, yeah, I'll try to look today

[2015-04-14 17:06] Eric89GXL commented on #874
Maybe a stupid question, but did you happen to do `sudo ldconfig` after installing `glfw` from source?

[2015-04-14 17:06] Eric89GXL commented on #874
...I think your OS should be able to find the library if you've done it, and installed to the default location `/usr/local/lib`

[2015-04-14 17:07] Eric89GXL commented on #874
FWIW that wrapper is completely different from ours. Different naming conventions, etc., so we can't just drop it in.

https://github.com/FlorianRhiem/pyGLFW/blob/master/glfw.py

[2015-04-15 02:43] campagnola commented on #874
AH. That was it, thanks.

[2015-04-15 02:43] #874 closed

[2015-04-15 06:29] davidtrem opened #875 "`vispy.plot` doesn't work in WebGL"
In an IPython 3.1 notebook cell:
[code]
leads to this traceback:
[code]

[2015-04-15 07:02] hadim commented on #875
Same error, using conda:

[code]

- vispy f57eb089689699a9e3c9912de1fab6f3a184fba8
- ipython 3.1.0

[2015-04-15 10:41] izaid commented on #836
Fixed this.

[2015-04-15 10:41] #836 closed

[2015-04-15 10:43] izaid opened #876 "SceneCanvas does not work in WebGL"
ccing @rossant @almarklein @campagnola

I tried to port the ImageVisual + SceneCanvas example to IPython, and I'm getting an error in vispy.min.js. I've tried to debug this a bit with @cgestes kind help, but I'm flailing around miserably. This might be related to https://github.com/vispy/vispy/issues/875

[2015-04-15 12:56] campagnola commented on #127
@rossant, can this be closed?

[2015-04-15 13:00] rossant commented on #127
Although this is no longer necessary for the WebGL backend, maybe having an export feature for the scene graph would be useful? But maybe there's another issue for it already?

[2015-04-16 20:46] rossant commented on #876
I have 0 knowledge of the scene graph's internals so I'm afraid I won't be very helpful..
What I can say is that texture support in vispy.js is still limited, and framebuffers haven't been implemented yet. I don't know if the scene graph uses those.
Almar and Luke should know more

[2015-04-17 01:50] campagnola commented on #876
Irwin, can you post a bit of code to run in ipython and the error(s) you are getting just so we're all on the same page?

[2015-04-17 08:15] gabyx opened #877 "GridlLines not working in 3D"
It seems, that the GridLines Visual only works for 2D Scenes so far.

Would be cool to add 3d support :-)

From Luke:

GridLines only works in coordinate systems that leave the z axis unchanged. I recently fixed the same issue with Image; that solution would probably apply as well in this situation.

[2015-04-17 11:48] gabyx opened #878 "point_collection (no key in -> program.vert['transform'] )"
When I try to run the example point_collection
https://github.com/vispy/vispy/blob/master/examples/collections/point_collection.py
with the ``mode='raw' or 'agg'``
the following error occures:

[code]

[2015-04-17 12:13] campagnola commented on #878
It works for me.. are you using the latest from github?

[2015-04-17 12:22] gabyx commented on #878
I am using the version: (so the latest pull)

Merge: 402cf95 6deb4e7
Author: Eric Larson <larson.eric.d@gmail.com>
Date:   Tue Apr 14 19:31:27 2015 -0700

     Merge pull request #868 from campagnola/perspective

     Perspective correction

Strange problem...

On 04/17/2015 02:13 PM, Luke Campagnola wrote:

[2015-04-17 13:07] gabyx commented on #878
the simple code
[code]

Does not work

[2015-04-17 16:33] brickgao commented on #878
It doesn't for me in latest version, too.

[code]

[2015-04-17 17:09] gabyx opened #879 "rename markers visual to scatter visual"
This would be more according to all other plotting libraries, matlab, matplotlib, and so on :+1:

[2015-04-18 02:03] campagnola opened #880 "Glir queues flush when wrong canvas is active"
I ran into an issue while working on image tests. Basically, there are two canvases in use during a test--one is used to draw the test, the other is a GUI for the user to audit the results. Each canvas has a context with many GL objects, and many overlapping GL identifiers between the two contexts. This is OK so far, but some of the image tests have code like this:

[code]

The trouble is that at

[2015-04-18 13:39] campagnola commented on #879
I have a slightly different take:
* `MarkerVisual` should remain as it is, and will eventually be superseded by `PointVisual` which will be based on the new `PointCollection`. This will be a general-purpose, primitive visual like `LineVisual` and `MeshVisual`.
* `ScatterVisual` should be a new wrapper around `Marker/PointVisual` that is specifically for drawing scatter plots, and thus will have an

[2015-04-18 14:16] campagnola commented on #878
Try this:
1. Run `python -m pdb examples/collections/point_collection.py`
2. Type `c [enter]` to start the program
3. When the error appears, type `print self.code`. At the bottom of the print, you should see:
[code]
    If not, post the code output you see. Also post the contents of `vispy/glsl/collections/raw-point.vert`, which is the original source of the `$transform` template variable.
4. If

[2015-04-18 14:55] campagnola commented on #880
See https://github.com/campagnola/vispy/commit/7b99faa573f52a0950c3c71d6bc836dca6cac141
for an approach to the second problem.

For the first problem, here's an important chunk of code (`gloo/program.py:442`):
[code]

What happens when a program gets associated with multiple contexts? Is that allowed, or should we ensure that the program can only be associated once?

[2015-04-19 17:45] gabyx commented on #879
Good points, so this issue can be closed I think :+1:

[2015-04-19 17:46] gabyx commented on #878
Will do this tomorrow, I installed the latest on my Mac here, and it works,  something is strange with my python stuff at work :-)

[2015-04-19 20:58] almarklein commented on #880
I think that everything should work correctly if you consistently use `canvas.gloo.glFoo` instead of `gloo.flFoo`. Not sure if we do this in the visuals yet, though...

[2015-04-19 21:04] campagnola commented on #880
So should we make `vispy.gloo` private, then?

[2015-04-19 21:10] almarklein commented on #880
No, because there's still all the gloo objects in there :)  We could consider phasing out the `vispy.gloo.glFoo` functions though, perhaps starting with a deprecation warning...

[2015-04-19 21:19] Eric89GXL commented on #879
Cool. We might as well leave it open as a reminder to follow @campagnola's plan until those points are implemented.

[2015-04-19 21:28] campagnola commented on #880
So there is no `Canvas.gloo.Program` ? When I call `program.draw()`, how can I be sure that the correct context is active?

[2015-04-20 07:04] gabyx commented on #878
Syntax Output (no ``gl_position`` there):

[code]
[code]

[code]

this is `` vispy/glsl/collections/raw-point.vert``
[code]

[2015-04-20 07:38] almarklein commented on #880
All commands end up at the correct context automatically, except for two situations, where it's responsibility of the caller to ensure that the correct canvas is active: `Program.draw()` and `FrameBuffer.activate()`.

[2015-04-20 19:17] campagnola commented on #878
Thanks! It looks like one of the GLSL files is not being loaded correctly (the "collections/raw-point.vert" at the end of the shader code indicates the file was not found. @rougier, can you have a look? I see this in `vispy/glsl/__init__.py`:

[code]

Is the `return name` line necessary? It would be much nicer to just raise an exception here.

[2015-04-28 10:33] rossant commented on #880
@almarklein canvas has no attribute  ̀gloo`... Using `gloo.func` results in the OpenGL calls being sent to the wrong canvas. What's the fix?

[2015-04-28 16:18] eendebakpt opened #883 "error with render_transform"
The following test code gives an error:

<pre><code>
import vispy
import vispy.scene
rr=vispy.scene.SceneCanvas()
rr.render_transform
</pre></code>

The error generated is:

<pre>
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/eendebakpt/.local/lib/python2.7/site-packages/vispy-0.4.0_dev-py2.7.egg/vispy/scene/canvas.py", line 408, in render_transform
    ret

[2015-04-29 07:58] almarklein commented on #880
Ah, my mistake: it's `canvas.context.func()`

[2015-04-29 10:44] rossant commented on #880
thanks @almarklein !

[2015-05-01 16:00] Eric89GXL commented on #880
@campagnola I think you fixed this one so I'm closing

[2015-05-01 16:01] Eric89GXL commented on #859
Implemented by @campgnola

[2015-05-01 16:01] #859 closed

[2015-05-01 16:09] campagnola commented on #880
There is one thing remaining:  we need to have glir queues check (or enforce) that their associated context is active before they are flushed.

[2015-05-01 16:11] larsoner opened #884 "Add HiDPI helper to TransformSystem"
We have this in our code in multiple places:

[code]

We should add a property to TransformSystem to directly expose this scale factor.

[2015-05-01 21:53] rossant opened #885 "primitive_mesh_viewer_qt example is broken on master"

[2015-05-01 22:03] rossant opened #886 "Focus problem in Qt"
When embedding a VisPy canvas in a QMainWindow dock widget, the keyboard events are not received by VisPy. It might be a focus problem. You can test this in the primitive_qt_viewer example, by implement an `on_key_press` event in the canvas. Any ideas?

[2015-05-02 13:49] inclement opened #888 "A recent commit caused a big framerate drop in 3d"
The commit (found by bisection) is 6e82de1b3408555f6ce23b45b4568b66e2e86eb4. I'm not sure if it only affects 3d scenes, but that's the only place I've directly experienced it. After asking on gitter about it, I checked if it's fixed by #873, but it seems it isn't.

I first noticed this in one of my own scenes, with a small number of visuals, that previously could be updated at 60fps with no issues

[2015-05-02 13:55] #886 closed

[2015-05-02 14:30] inclement commented on #888
The problematic line seems to be 243 in vispy/visuals/shaders/function.py

[2015-05-02 14:46] sylm21 commented on #885
I'm correct it, I make a pul request to submit an issue as soon as possible ...

Sylm

[2015-05-03 13:52] inclement opened #890 "Depth testing is broken in master"

[2015-05-04 03:47] campagnola commented on #890
Can you be more specific? It works in the surface plot example.

[2015-05-05 19:32] sylm21 commented on #885
Correct in #891

Sylm,

[2015-05-07 14:51] campagnola commented on #885
Fixed now?

[2015-05-07 15:03] Eric89GXL commented on #885
Yep

[2015-05-07 15:03] #885 closed

[2015-05-08 20:58] SimonDanisch opened #892 "surface slow and buggy"
Hi,
I don't know much about python and vispy, but I'd like to have this go as fast as possible:

[code]

Normals seem to be missing, and the animation runs really slow.
 The camera stutters even without animation with a 20x20  surface.
There was also a bug, when I updated the scalars after canvas.show(), where the surface got distorted depending on the camera angle.

Best,
Simon

[2015-05-08 21:05] SimonDanisch commented on #892
I also suspect  #890 to be true... In my example I don't have any shading, so any depth testing issue couldn't be seen.
But if I execute the original example, it does seem to look odd and indicates some depth testing issue.

![image](https://cloud.githubusercontent.com/assets/1010467/7545610/b212e5f2-f5d6-11e4-8552-3ce7df6b169a.png)

I'm not sure which version I'm running, but I installed it some

[2015-05-08 21:23] inclement commented on #890
@campagnola When I first noticed this I mistakenly thought it was all Meshes, but actually I'm only seeing it consistently with Tubes and a Mesh merging visual I have, which makes me suspect it may be my fault following recent changes in Mesh. I'll try to narrow it down some more.

[2015-05-08 21:44] inclement commented on #892
I've just updated my issue about depth testing, I don't think it actually applies to SurfacePlot (or at least I'm not experiencing it there).

I'm wondering why you don't get shading though - is this a bug in set_data? The shading does appear if I move the camera directly above the surface. I've experienced some apparent shading bugs elsewhere where it appears or disappears depending on camera pos

[2015-05-08 21:59] SimonDanisch commented on #892
So you can't see anything else slowing this down, and I'm doing things in the correct way?
The animation is just rather sluggish even for small N (like 100), and I bench marked the generate function alone and it seems to be as fast as it should (so not the culprit I guess)...
Concerning the bug, it's not very stable...one time I had shading when I removed the transforms, one time when i changed ge

[2015-05-08 22:04] SimonDanisch commented on #892
Concerning the depth test: it's hard to really pin it down, but when the shading was working, there was some shady thing going on (no pun intended)... It looked like fragments where randomly put to the front or back... But it could also be some shading issue, where the shaded part changes with the camera angle in an unnatural way.

[2015-05-08 22:12] inclement commented on #892
@SimonDanisch I don't know if there's a better way to continuously update vertices from the cpu side, but I'm not a vispy dev or opengl expert. I'm sure one of the developers will point it out if there is one.

It would be very fast to do it on the gpu with a vertex shader, but I'm not sure how best to do so in vispy. It might actually be really easy with a custom Transformation, which would be co

[2015-05-08 23:29] inclement commented on #890
I bisected this to 8c84c6563290b0150db244f3a6c53bf2051e0c59 or something directly related.

[2015-05-08 23:48] inclement commented on #890
Okay, it turns out I already noticed this, reported it at https://github.com/vispy/vispy/issues/871 and acknowledged the fix from lcampagnola in #873 (preventing the Node init overriding the Mesh). But then somehow forgot about it and thought it was resolved in master.

So...quite silly on my part, sorry about that! I'll look forward to https://github.com/vispy/vispy/pull/873 being merged.

[2015-05-08 23:48] #890 closed

[2015-05-09 01:05] Eric89GXL commented on #892
It looks like not having the vertex normals forces them to get calculated. I ran your example with the `--vispy-cprofile` option and got this for the first few lines:
[code]
I'm not sure where we should make this faster, but it does solve part of the mystery regarding speed.

[2015-05-09 02:46] campagnola commented on #892
Agreed--the only way I was able to get fast surface plots in pyqtgraph is by adding a flag that disabled normal recalculation and using a fragment shader that did not depend on normals. Ultimately we have a better option for vispy, though: we should be able to hold the z values in a texture, which would allow normals to be calculated in the vertex shader.

[2015-05-09 03:18] larsoner opened #893 "Minor volume rendering/camera issues"
Found in a recent PR in the volume example, not sure when they popped up:
- camera reset doesn't seem to do anything for me for TurntableCamera, and for Arcball it only resets the distance (not rotation)
- isosurface threshold can be set negative (should probably be limited here >= 0)
- scroll wheel with FlyCamera doesn't seem to work:

[code]

cc @campagnola @almarklein

[2015-05-09 03:19] #888 closed

[2015-05-09 07:52] SimonDanisch commented on #892
I do that in GLVisualize.jl and I have a very smooth experience up to N=600. Normal calculation in the vertex shader must be very cheap, as turning it on and off wasn't making any noticeable difference for me.

Background: I'm bench marking my stuff, mayavi and vispy at the moment, and vispy was so much behind, that I wanted to make sure that its not something I'm doing wrong ;)

[2015-05-09 08:41] rougier commented on #892
Here is an example, must be pretty easy to adapt it to vispy:

https://github.com/glumpy/glumpy/blob/master/examples/geometry-surface.py

z values are held in a textures. The mesh is uploaded only once and can be of a different size than the texture array.

[2015-05-09 11:39] campagnola commented on #892
You're not doing anything wrong. We still have a lot of optimization to do on the scenegraph.

[2015-05-09 12:00] SimonDanisch commented on #892
That's good to know!
I appreciate your quick answers!

[2015-05-09 13:12] campagnola opened #894 "Optimize and complete the scenegraph"
Thinking out loud: here is my plan for completing the scenegraph and taking care of performance issues.

The major issues right now are (1) multi-parenting in the scenegraph suggests an architecture where visuals do not know their transformations until draw time. Consequently, a lot of unnecessary work is done on every redraw. (2) The scenegraph needs picking and (3) some concept of a "scene" coor

[2015-05-09 20:44] SimonDanisch opened #896 "Mesh Visualization"
Hi,
next example isn't working:
![image](https://cloud.githubusercontent.com/assets/1010467/7551912/c616bec4-f69a-11e4-9113-d9f4009a07ad.png)
This looks definitely like wrong normals.
Is this a similar problem as in #892 ?

[code]
Best,
Simon

[2015-05-10 00:34] Eric89GXL commented on #894
This sounds like a good starting proposal to me. I think we can hash out the details in PRs as we go. I agree with the 0.5 milestone.

I'm fine with having to add a special picking switch to all fragment shaders. It's not elegant, but it should get us the functionality in a simple way to start. (We can always try to figure out some other more elegant way later.) I might have time to take that on i

[2015-05-10 03:06] Eric89GXL commented on #896
Did this work at some point previously? Could show the same problem with our `triceratops` object? If not, could you upload the model somewhere?

Do you know if this worked at all in a previous version of `vispy`?

[2015-05-10 07:11] SimonDanisch commented on #896
that's my second try with vispy, so I don't know about previous states ;)
Do you mean  the tutorial\visuals\05_viewer_location.py example?
It doesn't seem to use the newest API. When I use the mesh in my code snippet it looks different but definitely weird.
![image](https://cloud.githubusercontent.com/assets/1010467/7553367/605c8230-f6f4-11e4-909e-c6ebdf43ba32.png)

I got the model fromturbosquid:

[2015-05-10 13:36] Eric89GXL commented on #896
Yeah, and in case we need a simpler example:
[code]
I get the same behavior there. @campagnola any idea what might be causing this?

[2015-05-10 13:50] campagnola commented on #896
@SimonDanisch, thanks for pointing out that the tutorials are broken! The screenshot you posted looks to me like the mesh is being drawn with face culling enabled. Make sure you call `gloo.set_state(cull_face=False)`.

@Eric89GXL, your example looks correct on my machine. Can you verify that culling is being disabled in your MeshVisual (this has been tampered with recently, so check with latest ma

[2015-05-10 13:56] Eric89GXL commented on #896
I tried on latest master on my machine, I get

![screen shot 2015-05-10 at 6 55 23 am](https://cloud.githubusercontent.com/assets/2365790/7554548/9f9c0294-f6e1-11e4-9f8d-9bec01ccd6f5.png)

[2015-05-10 14:05] SimonDanisch commented on #896
That looks like mine...
I tried inserting gloo.set_state(cull_face=False) at various places, but it doesn't change anything.

While we're at it, a python beginner question: why are my vispy scripts only working in the example folder?
I couldn't really find a solution for that, I guess it has something to do with the load path. It says: `ImportError: cannot import name app`.
I'm on anaconda, and in

[2015-05-10 14:11] campagnola commented on #896
Ok, I can enable culling and it does not generate the effect you see (so the normal vectors are correct for this mesh). However if I disable the depth test (search for 'depth_test' in visuals/mesh.py) then I see the same artifact you have. So you are correct that this is a depth testing issue. The question then is why it is only broken on some platforms..

[2015-05-10 14:19] Eric89GXL commented on #896
@SimonDanisch Python has an order in which it looks at directories to import things. Let's say you say `import vispy`. The first place it looks is the current directory for `vispy.py` or a directory named `vispy` with an `__init__.py` inside it. If either exists, it imports `vispy` from there. If they don't, then it looks in the user's Python directory, then the system-wide one. Somewhere in there

[2015-05-10 14:19] Eric89GXL commented on #896
@campagnola I'm not sure why it would be platform dependent. I'll take a look on my Linux machine and see if it's fixed there tomorrow.

[2015-05-10 14:29] SimonDanisch commented on #896
Thanks a lot for the explanation!
Indeed the console doesn't care... So it must be a problem with Sublime! I'll see if I can pin this down further.

[2015-05-11 22:13] KelSolaar opened #898 ""Cube" geometry vertex colours are inconsistently defined."
`Cube` geometry vertex colours are not defined consistently with the world axis in `vispy.geometry.generation.create_cube` definition.

Here is an image on the current implementation:

![image](https://cloud.githubusercontent.com/assets/99779/7576196/76bb2f34-f83b-11e4-8613-3255eafc7494.png)

and what should be expected:

![image](https://cloud.githubusercontent.com/assets/99779/7576211/956eff82-f

[2015-05-12 07:30] #898 closed

[2015-05-12 08:44] KelSolaar opened #900 ""edge_color" parameter of "CubeVisual" and array_like input support."
I'll describe first the context of this issue: In the long term I would like to provide [Colour](https://github.com/colour-science/colour) with alternative 3d plotting capabilities and be able to produce plots such as:

![image](https://cloud.githubusercontent.com/assets/99779/7582162/41dddc8a-f88b-11e4-9c56-4d6a2268639e.png)

The main reason for this is that [Matplotlib](http://matplotlib.org) is

[2015-05-12 11:55] campagnola commented on #900
In the most general case, we want to be able to specify:

* Solid face color
* 1 face color per face
* 1 face color per vertex
* 3 face colors per face
* 1 edge color per edge
* 1 edge color per vertex
* 2 edge colors per edge

I think this is already possible using the `Mesh` visual. Given that `Cube` is just a convenience class, it might make more sense to keep that API simple and use `Mesh` for

[2015-05-12 16:51] KelSolaar commented on #900
I would actually like to extend the visuals and add some more primitives. I have just implemented a parametric plane and a parametric box based on it:

https://gist.github.com/KelSolaar/73143fbbe23bb7301b0f

![image](https://cloud.githubusercontent.com/assets/99779/7592997/2dfb46b6-f8d7-11e4-8d0f-03531783d342.png)

I would be glad to contribute the code to Vispy but the issue I described above is

[2015-05-13 03:32] Eric89GXL commented on #900
Which issue needs further investigation? The clipping issue you mentioned on `gitter`, or the issue about how to set colors / API changes?

[2015-05-13 05:29] KelSolaar commented on #900
I was referring to the API changes one regarding to the `CubeVisual`, a thing I can do for now is contribute the `create_plane` and `create_box` definitions.

As for the clipping issue, what do you suggest? It should probably be handled in a separate issue / gitter directly?

[2015-05-13 21:11] KelSolaar commented on #900
I created my own visuals with what I needed so I guess we can close the issue.

![image](https://cloud.githubusercontent.com/assets/99779/7621214/50114d42-f9c5-11e4-853f-7a40f4070665.png)

I'm still keen on knowing how to fix the clipping / transparency issues, it is really ugly at the moment.

[2015-05-13 21:11] #900 closed

[2015-05-13 21:53] Eric89GXL commented on #900
Can you try to construct a minimal example, like maybe just using a cube and a SceneCanvas or Canvas? It will help isolate the problem to as few components/lines as possible. It might also be system dependent. We want to fix it either way, but reducing the code as much as possible should help us track it down more easily.

Also, if you think your new visuals will be useful to other people, we welc

[2015-05-13 23:01] KelSolaar opened #902 "Investigate transparency issues."
This is a follow-up on #900 and `gitter` conversations regarding transparency issues I'm experiencing.

![image](https://cloud.githubusercontent.com/assets/99779/7622923/bebebd06-f9d4-11e4-9247-a3bde00b94a2.png)

Here is a screencast: https://drive.google.com/file/d/0B_IQZQdc4Vy8emdpWmRWZnBCb28/view?usp=sharing

Minimum code to reproduce the issue is as follows:

[code]

[2015-05-13 23:03] KelSolaar commented on #900
Sure! I have opened a new issue for the transparency issues investigations: #902

[2015-05-14 02:28] Eric89GXL commented on #902
I can replicate on Windows. @campagnola do you see this?

[2015-05-14 02:38] campagnola commented on #902
Same behavior for me. This is not a bug so much as a feature not implemented. If you want transparency to work correctly, then the triangles need to be sorted by depth before they are drawn. This is a classic gotcha in 3D graphics for which there are a zillion articles and many different solutions we could try.

Turns out we even have a wiki page for this one: https://github.com/vispy/vispy/wiki/T

[2015-05-14 06:14] KelSolaar commented on #902
Coming from the VFX where almost everything is rendered offline and raytraced I was probably naive thinking it was a sorted problem nowadays in realtime graphics.

Thanks for the wiki page link, great reading, it put me straight in the context! It seems like that what I was intending to do is the worst case scenario: varying opacity with nested geometries that can intersect.

Anything I can do on

[2015-05-14 12:39] almarklein commented on #902
That's one solution, which would work in this example, but does not scale up well for meshes of 100k points or so...

One of the weighted averaging methods would be awesome. But probably not easy. They'd at least require changes to glsl. Also, I'm not sure if they'd work on webgl, as you cannot write to multiple framebuffers. In that respect, it would be very useful to do some research to what met

[2015-05-14 12:51] bollu commented on #878
I'm having the same error when I tried to run ```tiger.py``` and ```choropleth.py```among the collections example. I'll take a look at this tomorrow after my Mech end semester exam.

I have a feeling that the error will crop up among all collections.

Just for the record - I'm running the Windows 10 technical preview with ```Python2.7```

***python version***
[code]

***installed packages***
[code

[2015-05-14 12:57] jvtrudel opened #903 "Must have features for the v0.4 release"
The next version of Vispy is waited by an increasing enthusiasts potential users. To catalyse the work yet to be done before this release, I propose to clarify what we consider mandatory feature for this release. It could allow us to concentrate our effort on these specific aspects.

  - What is the actual list of new features implemented?
  - Which feature do you think should be _absolutetly_ add

[2015-05-14 14:00] campagnola commented on #902
I've been wondering if we could just make a relatively large frame buffer (say, HxWx20) and sort each fragment as it goes into the buffer. If there are more than 20 overlapping fragments, then some fragments would need to be intelligently blended (you could naively blend the two most distant fragment, or pick two fragments that are close together, etc.). Ultimately the result would not be perfect,

[2015-05-14 14:26] almarklein commented on #902
Can we make a HxWx20 framebuffer in OpenGL? And in webgl?

[2015-05-14 14:43] rougier commented on #902
This method is WebGL compatible: http://jcgt.org/published/0002/02/09/

[2015-05-14 22:04] KelSolaar opened #904 "Displayed image is rotated 180 degrees."
When using the `ImageVisual` (with a `PanZoomCamera`) the image is rotated 180 degrees:

![image](https://cloud.githubusercontent.com/assets/99779/7642747/e3f56d58-fa93-11e4-9fc8-951cc5c025c0.png)

It could be coming from the visual or the camera, I haven't checked yet. I don't think the image data is rotated, I have used it in the past straight and this page seems to confirm it is properly orient

[2015-05-15 01:18] campagnola commented on #904
The image is flipped vertically (not rotated). The reason is that PanZoomCamera, by default, has its +y axis pointing upward. Image data, on the other hand, is usually represented with its +y axis pointing downward. So you should get the correct results by adding `view.camera.flip = (False, True, False)`.

[2015-05-15 04:40] Eric89GXL commented on #903
I'd like to see #829 (axes) in w/plotting updates, plus a fix for #878 since collections appear to be broken

[2015-05-15 04:42] Eric89GXL commented on #878
@bollu it would be great if you could try to diagnose this ... @rougier any reason you can think of why this would be happening?

@bollu BTW if you do `python setup.py develop` instead of `python setup.py install`, then whatever version of `vispy` you have checked out via `git` will be the active one in the next Python session you start.

[2015-05-15 04:49] Eric89GXL commented on #903
ping @rossant @rougier @campagnola @almarklein WDYT?

[2015-05-15 04:51] Eric89GXL commented on #894
BTW does this supersede #832?

Any idea about who would be good to work on each issue? I might be able to work on picking this summer (July-ish?), if not sooner.

[2015-05-15 04:58] Eric89GXL commented on #902
nice, do you feel like implementing a version of that @rougier? :)

[2015-05-15 05:17] KelSolaar commented on #904
Ahh good catch (http://en.wikipedia.org/wiki/Lenna)! Shouldn't the `ImageVisual` be flipped by default otherwise so that all the defaults somehow work properly together?

[2015-05-15 05:26] KelSolaar opened #905 "Implement support for visual visibility toggle."
It would be great to have a `visible` attribute on the various visuals so that we can toggle their drawing at will without removing them from the scene graph (maybe skipping the `draw` call). I have seen a maye related attribute in the [`vispy.visuals.visual.Visual`](https://github.com/vispy/vispy/blob/master/vispy/visuals/visual.py#L36) class but it doesn't seem to be used.

[2015-05-15 05:32] Eric89GXL commented on #905
+1 for `.visible` property that toggles drawing by just returning if it is `False`, okay with you @campagnola?

[2015-05-15 07:04] rougier commented on #902
Yes, but I don't know when exactly (maybe this summer)

[2015-05-15 07:06] rougier commented on #903
We should make a release very soon, even with missing features just to let know people the project is alive. Then we can target a more proper release by end of summer.

[2015-05-15 07:13] rossant commented on #903
+1. I'm about to release a production-ready software and vispy is the only dependency that needs to be installed from github, which feels wrong...

[2015-05-15 07:13] rougier commented on #878
Th culprit seems to be in vispy/glsl/__init__.py. @gabyx , coudl add debug message in the find function to check the reason why the file has not been found ?

[2015-05-15 11:04] campagnola commented on #905
Sounds good to me. The scenegraph should also handle this by skipping drawing the children of a hidden node.

[2015-05-15 12:41] KelSolaar commented on #905
I have just found a `visible` attribute in the [vispy.scene.node.Node](https://github.com/vispy/vispy/blob/master/vispy/scene/node.py#L69) class that seems to be doing the job just fine: https://drive.google.com/file/d/0B_IQZQdc4Vy8YVBTdExYUVJMSUk/view?usp=sharing

I have some unrelated redrawing issues though when I toggle the `XYZAxisVisual`.

[2015-05-15 13:42] campagnola commented on #904
It's not obvious what set of defaults would be the most intuitive for the user. We could:

1. Make ViewBox +y point downward by default. This would be confusing in pretty much every situation except images, so not a good option.
2. Give Image a default STTransform with scaling of (1, -1). As a consequence, all of its children will be vertically flipped as well, which may or may not surprise the us

[2015-05-15 13:54] campagnola commented on #894
Yeah, consider this the super-issue of #832 (and potentially others as well) but don't close that one--we will probably want to have a sub-issue for each point raised here.

I am already working on the first two points. I listed them first because they will involve a major overhaul of visuals and scenegraph. However we should still be able to work in parallel--the transform system will not be affe

[2015-05-15 14:01] Eric89GXL commented on #904
And just to make things interesting, let's switch to left-handed coordinate systems. :)

@campagnola any idea what children of images might be? I'm not sure what to think of for tha. To me 2 and 3 seem like the best choices from a user perspective, and the use cases for children would help determine which makes more sense. Which do you like?

[2015-05-15 14:06] Eric89GXL commented on #905
Ahh, so visibility can be toggled that way iff you're using scenegraph @KelSolaar? If so, can you think of a place we can improve the docs so that this will be clearer to users?

For the redrawing issue, can you check to see if it's due to the removal of that item, or if it's just due to causing a draw update (like add a keyboard command that just calls update and see if that also causes the issue

[2015-05-15 14:10] Eric89GXL commented on #903
Ahh, fair enough. So fix just #878, then release. Okay with you @campagnola @almarklein?

[2015-05-15 14:11] Eric89GXL commented on #902
Sounds good. Maybe someone will beat you to it but I doubt it.

[2015-05-15 14:34] Eric89GXL commented on #878
I bet `setup.py` needs to be updated. Looking into it now. @rougier okay if we delete the `return name` line? I agree with @campagnola that it seems dangerous.

[2015-05-15 14:37] campagnola commented on #903
I'm fine with it.

[2015-05-15 14:51] KelSolaar commented on #905
Yes it does work and I'm using it in the screencast above. The attribute is actually documented in the section for the [vispy.scene.node.Node](http://api.vispy.org/en/latest/scene.html#module-vispy.scene.node).

I definitely didn't think about looking at the `vispy.scene.node.Node` class for that since it is specifically a display related attribute. The _looks like it does nothing_ `self._visible

[2015-05-15 14:56] campagnola commented on #904
Common children of images might be:

* Arrows (need to have correct access to pixel CS [so 3 is bad], but should not be y-flipped [so 2 is bad]). Imagine you want an arrow pointing to the pixel at row 50, column 30 in an image. How should this be written?

[code]

* Overlay images (should NOT inherit y-flip from parent)

[code]

* Contour plots (should work correctly regardless of the transformati

[2015-05-15 15:00] campagnola commented on #904
Ah, there's a bug here--the documentation for the VisualNodes (http://vispy.readthedocs.org/en/latest/scene.html#module-vispy.scene.visuals) should have included the 'visible' property..

[2015-05-15 15:01] campagnola commented on #905
Ah, there's a bug here--the documentation for the VisualNodes (http://vispy.readthedocs.org/en/latest/scene.html#module-vispy.scene.visuals) should have included the 'visible' property..

[2015-05-15 15:03] Eric89GXL commented on #905
@KelSolaar it sounds like one of those two visuals is setting a line width `gl` property, when probably both should be doing it. That could cause the width changes you describe. Do you have time to take a stab at the doc changes, `gl` fixes, or both?

[2015-05-15 15:03] campagnola commented on #905
I'll bet this is due to one visual setting `GL_LINE_WIDTH` and the other not..

[2015-05-15 15:07] rougier commented on #878
Yes returning name was a bad idea.

[2015-05-15 16:39] #878 closed

[2015-05-15 22:51] Eric89GXL commented on #903
@almarklein I think you did the last release... anything to do other than:

- create tag / use GitHub release
- push to PyPi
- email lists
- update zenodo ref

?

[2015-05-16 16:27] stonebig opened #907 "Webgl example1 (and 2) doesn't work on windows because of "symbolic link""
hi,

On today master, I try the two webgl examples in Ipython3.1/windows7/python3.4.3, and I fall on this error:

for the first cell of webgl_example_1
[code]

[code]

I guess it's a windows limitation. Is there any workaround ?

[2015-05-16 16:31] rossant commented on #907
I guess this is an ipython issue? You may want to ask them...

Le samedi 16 mai 2015, stonebig <notifications@github.com> a écrit :

[2015-05-16 16:47] stonebig commented on #907
ah, If it's not a Windows issue, hope is back.... digging further

[2015-05-16 17:02] stonebig commented on #907
Well, it seems it means I'm not administrator of my machine, and users by default can't create symlinks

[2015-05-16 17:06] Eric89GXL commented on #907
Yeah, you'll need an admin to tweak a setting:

http://superuser.com/questions/124679/how-do-i-create-a-link-in-windows-7-home-premium-as-a-regular-user

[2015-05-16 17:13] stonebig commented on #907
I didn't have this Windows problem before.
As a workaround, Will this work ?

replacing
[code]
per
[code]

[2015-05-16 17:16] Eric89GXL commented on #907
I'm not sure, but I suspect that a copy will work instead of a symlink, yeah

[2015-05-16 17:17] stonebig commented on #907
ok, so I intercept the error in the Ipython code, to see further

[2015-05-16 17:21] stonebig commented on #907
ok, after the manual copy, Ipython decides to avoid the symlink, but then nothing shows up.

[2015-05-16 17:23] stonebig commented on #907
heum, a little better with Chrome instead of firefox

[2015-05-16 17:26] stonebig commented on #907
ok, works on chrome. my firefox is mayby disabling too much scripts.
So the issue is that, on windows, the symlink would be better replace per a copy, or another solution

[2015-05-16 17:34] stonebig commented on #907
Webgl example2 is puting chrome on his knees, I don't guess exactly why, as memory and Cpu usage was looking rather constant.

[2015-05-16 17:36] rossant commented on #907
you have quite some settings to do on chrome to enable gpu acceleration in
webgl
you'll find some references on google

2015-05-16 19:34 GMT+02:00 stonebig <notifications@github.com>:

[2015-05-16 17:59] stonebig commented on #907
yes:
[code]
it says that my i3-350m is `WebGL: Hardware accelerated`, but that may not mean enough for your example.

[2015-05-16 23:28] KelSolaar opened #908 ""bgcolor" parameter has no effect."
I'm maybe overlooking something but I don't manage to have the `bgcolor` parameter to work in this example:

[code]

Passing `bgcolor='yellow'` here for example is fine: https://github.com/vispy/vispy/blob/master/examples/basics/scene/nested_viewbox.py#L115

[2015-05-17 07:19] stonebig commented on #907
Why did yo pass the parameter `symlink=True` in `vispy/app/backends/_ipynb_webgl.py` ?

Could you switch it to `False` under windows ?

[2015-05-17 08:42] rossant commented on #907
that's better for development, but i guess we could put it to false for end-users...
feel free to test it and propose a PR if it works!

[2015-05-17 10:37] stonebig commented on #907
ok, there #909 .

Next it the curious behaviour:
- first time I run webgl_example_1, I get a dark square,
- then if I destroy the black square and re-rerun from first cell, it becomes OK.

==> Could there be a wrong ordering of orders, that get fixed by running twice ?

[2015-05-17 11:12] rossant commented on #907
any JS console output (F12 dev tools)?

cc @cgestes

2015-05-17 12:37 GMT+02:00 stonebig <notifications@github.com>:

[2015-05-17 12:56] stonebig commented on #907
this ?
![vispy_webgl1_js_console](https://cloud.githubusercontent.com/assets/4312421/7670444/d3e35e1c-fca4-11e4-95fe-9235c0119459.GIF)

[2015-05-17 12:59] stonebig commented on #907
I don't guess on retry what is looking different, but it works:
![vispy_webgl1_js_console_on_retry_ok](https://cloud.githubusercontent.com/assets/4312421/7670457/57e11146-fca5-11e4-8d5b-ac8ad8dd9348.GIF)

[2015-05-17 13:01] rossant commented on #907
I can't reproduce this on Linux
might have to do with async loading
@cgestes have you seen this already?

[2015-05-18 21:38] Eric89GXL commented on #908
Yep, it does look like the `bgcolor` parameter is not being utilized. @KelSolaar do you have time to track down where the problem is in the `scene` system? If not, I can probably have a look.

[2015-05-19 05:26] KelSolaar commented on #905
@Eric89GXL I'm quite tight on schedule here, I can certainly take a look at the documentation though. The `GL_LINE_WIDTH` property is another matter and I'm not comfortable enough with Vispy API nor OpenGL to do that quickly I think.

[2015-05-19 05:29] KelSolaar commented on #908
I can probably take a quick look at it although as I'm in the middle of relocating I'm trying to focus on my codebase.

[2015-05-19 15:22] Eric89GXL commented on #908
Don't sweat it, I'll take a look then

[2015-05-19 16:12] KelSolaar opened #912 "Surround object references in docstrings with backticks to allow Sphinx to generate links."
Object references in the docstrings should be surrounded with backticks in order to allow Sphinx to generate links:

For example: https://github.com/vispy/vispy/blob/3e21db8f91619c103c29b0f4e9032383cd3a2015/vispy/scene/visuals.py#L7

[code]

Could be written as follows:

[code]

References
---
- https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#class-docstring

[2015-05-19 16:13] Eric89GXL commented on #912
TL;DR: single-backticks for things that should have references, double-backticks for code literals

[2015-05-19 17:41] Eric89GXL commented on #905
Okay @KelSolaar I'll take a look

[2015-05-19 18:36] Eric89GXL commented on #908
@campagnola how is background drawing supposed to work for `fragment` and `viewport` methods? Should each ViewBox just draw a quad before drawing the subscene?

[2015-05-19 18:37] Eric89GXL commented on #908
`fbo` is broken on my system, too, BTW, so it seems that there is no reliable way to get backgound color for a ViewBox currently...

[2015-05-19 18:40] Eric89GXL commented on #905
@KelSolaar which visuals are you using where you see the line width change, `XYZAxis` and what else?

[2015-05-19 18:41] campagnola commented on #908
Yes, the ViewBox needs to draw a quad.

[2015-05-19 18:50] KelSolaar commented on #905
I think it was the `LineVisual`, I don't have the issue anymore though as I changed quite a lot of stuff in my code. In order to mitigate the transparency issues, I'm adding the various visuals in a specific order and if I have to regenerate one, I un-parent them all from the scenegraph, regenerate the relevant visual and re-parent them all back, thus maintaining the order.

[2015-05-19 21:31] KelSolaar opened #914 "Add support for "TurntableCamera" translate speed."
I have some issues when using a `vispy.scene.cameras.TurntableCamera` with user defined distance.

In my application the camera is sometime set quite close of the origin and I suspect the combination of that distance and the large scene bounding box is enough to generate values in `vispy.scene.cameras.TurntableCamera._dist_to_trans` that predate correct traveling as you can see in this video: http

[2015-05-19 21:57] jdreaver commented on #914
I had a pull request (#714) that implemented a consistent panning speed for cameras, but the camera code changed so much before it was merged that it didn't work anymore. It worked like this: if you imagine a flat surface in front of the camera, as if there is a glass window in front of you, then panning the view is like grabbing a part of that window and moving yourself. That is, the point under

[2015-05-19 22:02] KelSolaar commented on #914
That looked great and seems to be perfect in my context.

[2015-05-19 22:35] Eric89GXL commented on #905
@KelSolaar and just to make sure I have a handle on the issue, the `.visible` property from `Node` actually works, right? Or does that need to be fixed, too?

[2015-05-19 22:38] Eric89GXL commented on #905
Ignore that last question -- I see the answer above.

[2015-05-19 22:40] Eric89GXL commented on #905
@KelSolaar I'm going to close this issue for now since the title and discussion is wrong... I think the LineWidth issue might be solved moving forward as we use collections, since I think those use AGG rendering for lines.

[2015-05-19 22:40] #905 closed

[2015-05-19 22:41] Eric89GXL commented on #905
We can open a targeted issue later if/when someone hits the issue again

[2015-05-19 22:46] Eric89GXL commented on #914
I don't see a problem with having some multiplicative parameter like you have @KelSolaar. @campagnola what did you and @almarklein have in mind for this sort of thing?

@jdreaver yeah we want picking, hopefully one day the "handle" thing will be possible. But for now we might have to go for a less ideal but more easily workable solution. It would be good if you could try to reimplement your change

[2015-05-19 23:41] jdreaver commented on #914
Agreed. Simple is definitely best for now.

[2015-05-20 12:47] #908 closed

[2015-05-21 18:06] bollu commented on #894
@campagnola: I wouldn't want our work to collide and lead to lost time. so, well, should we separate our tasks out on this so we don't step on each other's toes? If you could point me to something concrete I can help with the SceneGraph (so we can later integrate collections into this as well), that would be great!

[2015-05-21 18:11] Eric89GXL commented on #894
@bollu I think you can safely work on:

1. getting return values from `gloo` / `GLIR`
2. getting picking working

That would be a good start.

[2015-05-22 07:30] bollu opened #918 "Vispy plotting API design"
So, I've been thinking about Vispy's high level plotting API. I've looked around at similar libraries (both Python and non-python). And, I've come to my own conclusions about plotting API's. I maybe grossly wrong, but I thought I'd put this up for feedback

There seem to be three very popular ways to decompose a graphics API. I'll list al there below along with (my opinion of) the pros and the con

[2015-05-22 07:31] bollu commented on #918
@Eric89GXL @rossant

[2015-05-22 07:40] bollu commented on #894
@Eric89GXL How do I test both of them?

For returning values, write a dummy shader and check if you can get the return values?

And as for picking, build a demo where you can pick / select objects?

[2015-05-22 07:41] rossant commented on #918
agreed with this perspective. I also prefer (3), or some combination of (2) and (3). (1) is good for highly reactive applications but maybe not plotting
have you looked at bokeh http://bokeh.pydata.org/en/latest/ ? it chose (3). The API is popular I think, and it should work fine with OpenGL
cc @almarklein who is working a bit on bokeh now

[2015-05-22 07:42] rossant commented on #894
there is a picking demo in glumpy cc @rougier

[2015-05-22 07:45] Eric89GXL commented on #894
right now `gloo` commands go through `glir`, and those are one-way -- you can send GL commands, but you can't really get much for return values. For picking we need to be able to get values out. You could start with anything really, but modifying `read_pixels` to go through `gloo` instead of `gl` directly would be a good start. @rossant do you know a good way to do this?

Maybe the first step shou

[2015-05-22 07:46] Eric89GXL commented on #894
...after the return-values-from-glir is sorted out, *then* you can move on to picking, which glumpy should be able to understand. Basically you'd need to attach something to all fragment shaders to draw each visual in a scene with a different fixed color -- I think you'd want to start at the level of `scenegraph` for this, at least for the first pass. But let's worry about that after we have retur

[2015-05-22 07:48] Eric89GXL commented on #918
@bollu I will look at this more in a few hours, looks like a comprehensive rundown and I want to give it some thought. cc @campagnola as well

[2015-05-22 08:00] bollu commented on #894
@Eric89GXL what are the remote backends that exist right now? I'm not aware of them.

So, first get the return values working, and then get the other stuff done?

And, well, for returning values, what's the method you want to use?

I was considering constructing an FBO and then writing out values to it from the shader, using ```read_pixels``` to read out the data written by the shader.
Is there a

[2015-05-22 08:02] rossant commented on #894
i think having return values in glir will be difficult, because it's all asynchronous. I'm not sure how the python glir backend is implemented, @almarklein will know
might be better to bypass glir and use gl directly

[2015-05-22 08:07] bollu commented on #894
So, use ```gl``` directly with the FBO approach?

[2015-05-22 08:10] rossant commented on #894
I think so yeah

[2015-05-22 08:16] bollu commented on #894
hm, all right.

Any particular file / module that I can just start by taking a look at? Like, where in ```gloo``` would have to modify it to go through ```gl``` (since it uses ```glir``` right now). And where is the ```read_pixels``` that should go through ```gloo?```

Is this the right ```read_pixels``` function? [vispy/gloo/wrappers.py](https://github.com/vispy/vispy/blob/5695b93194863c4b15a2423

[2015-05-22 08:21] Eric89GXL commented on #894
For that approach you wouldn't actually have to modify anything. You'd just want to make sure the Canvas's GLIR queue is flushed, then use `gloo.gl` calls directly. `read_pixels` uses `gloo.gl` already. So I guess you can just about move on to picking?

[2015-05-22 08:38] bollu commented on #894
If it is that straight forward, then yes, I suppose I can.

So, why does _each_ visual need a different color when we choose to implement picking? Is it not enough to just  have one _picking_ color? I don't think the problem statement is very clear to me just yet.

what exactly does picking imply? coloring objects that have been selected with the mouse with a custom color? (this is what I assume y

[2015-05-22 08:43] Eric89GXL commented on #894
So imagine you have 10 objects in a scene, and I want to know which one I clicked on. You draw all 10 in some opaque color (for vertices that weren't transparent before) to a Framebuffer, extract the image, and find out what color was under the cursor. That tells you which object you were on. Make sense?

[2015-05-22 09:35] bollu commented on #894
ah, yeah. Makes sense. Since you know what color each object is, you can figure out what color is under the mouse cursor position, which tells you which object is being hovered over, yes?

So, how do you generate unique colors for each object?

[2015-05-22 11:22] campagnola commented on #918
The API we're going for right now is most like (2), but more composable by being based on the scenegraph API which gives much lower-level access to the individual components in the scene. I also like (3), though, so it would be interesting to see how / whether that style could be combined with what we have.

@bollu, can you maybe give some examples that highlight the strengths and weaknesses of th

[2015-05-22 13:06] campagnola commented on #894
@bollu, it might be better to start this work from my `multiprogram` branch. All visuals are currently broken there, but there is a new example in `examples/basics/visuals/line_prototype.py` that is my sandbox for exploring how the new visual system will work. This is what needs to be done:

1. Add a `PickingFilter` class that sets the fragment color to the ID value (and decide whether all visuals

[2015-05-22 13:37] rossant commented on #918
cc @jvtrudel too

[2015-05-22 13:55] Eric89GXL commented on #894
Don't we now have filter support in `master` that could be used?

[2015-05-22 14:06] campagnola commented on #894
Yes, however:

* There are so many other things changed in the new visual system (especially wrt 5) that it does not make sense to me to start in master.
* Adding picking will require some changes to the canvas/transforms/gloo triad; it would be much better to base these changes on the new system.
* `line_prototype.py` is relatively simple compared to the existing visuals library, which makes it e

[2015-05-22 14:19] jdreaver commented on #918
In my applications, I always wrap plot widgets and items with my own view classes. Using this approach, I have created both Model-View-Presenter and Reactive GUIs for scientific and financial visualization. It is best to give the user something easy-to-use for quick scripts, but also powerful enough that they can extend and customize the system.

I am a huge fan of functional programming, but I th

[2015-05-22 14:25] campagnola commented on #918
I think that's exactly where we are headed. The quick-and-easy functional API basically just wraps the lower-level object-oriented API and returns scenegraph objects that can be further modified, recombined, etc. I recommend seeing how the current histogram and spectrogram classes are implemented for examples of this--we would love to hear feedback on this design.

[2015-05-22 14:26] bollu commented on #918
@jdreaver:

isn't it also possible to wrap #3 just like one wraps #2?

if you were wrapping, say, a histogram, rather than using ```pylab.hist(data, ...)``` can't one just as well use ```plot(dataset("ggplot2", "diamonds"), x="Price", Geom.histogram)```

The first example is [from matplotlib](http://matplotlib.org/examples/pylab_examples/histogram_demo_extended.html), while the second example is [

[2015-05-22 14:28] campagnola commented on #918
@siddarth, I am not so familiar with either of these APIs. Can you give examples of how you would, for example, change the number of bins in the histograms after they have been displayed?

[2015-05-22 14:38] jdreaver commented on #918
@bollu: I'm sorry, I didn't mean to say we shouldn't choose 1 or 3. I was just expressing why I liked option 2. I should have made that clearer. Your points are very valid. However, I think the histogram example in Gadfly only looks so nice because they use a builtin dataset, while matplotlib creates each histogram. In fact, I like the matplotlib example more because it shows a wide variation of h

[2015-05-22 14:46] bollu commented on #918
@campagnola Sure, I'll create two iPython notebooks, one with Julia and one with python to compare and contrast. Does that sound fair? If you could give me a list of visualizations that you'd be interested in looking at, that would be of help

@jdreaver, @campagnola your criticism stating that the Gadfly example doesn't let you modify is valid. However, that's more the limitation of the library th

[2015-05-22 14:51] campagnola commented on #918
@bollu, I don't have any particular visualizations in mind, I am just hoping to get a clear picture of what the benefits and drawbacks are to each API style. Anything that can be done easily and naturally in one API but is awkward, verbose, or impossible under another API.

[2015-05-22 14:53] campagnola commented on #918
(Ultimately we will probably stick to the API style as it is currently laid out, but I hope we can make sure that we have a natural approach to each of these examples.)

[2015-05-22 14:55] bollu commented on #894
Also, I'm probably out of my depth here, but don't games solve the exact same problem in a different way?

There's usually a structure that maintains a spatial hierarchy (the most common one that I've seen used in 3d are [octrees](http://en.wikipedia.org/wiki/Octree)).

So, since you have the screen position of the mouse click, you use the inverse of the modelview matrix to convert to world coordi

[2015-05-22 14:56] bollu commented on #918
@campagnola very well. I'll try and come up with some motivating examples tonight :)

[2015-05-22 15:01] rossant commented on #894
maybe because of perf reasons: games have "few" large objects whereas plots have *many* tiny objects

[2015-05-22 15:03] bollu commented on #894
yes, I assumed so too. Supporting millions of point particles with this isn't really scalable.

[2015-05-22 15:20] campagnola commented on #894
There's also a simplicity / consistency issue: by using the same system to do both drawing and picking, we can ensure for all visuals that the picked visual is exactly the one that is displayed on screen under the cursor. If picking were implemented in python instead, we would basically have to create a parallel OpenGL-like state machine to ensure that we correctly "guess" which visual is the one

[2015-05-22 15:23] campagnola commented on #894
Imagine, for example, a surface plot where the z-value is computed in the vertex shader, which intersects a grid made from 2 triangles where the grid lines are computed in the fragment shader. This situation would be a LOT of work to ray-cast in python.

[2015-05-22 15:38] Eric89GXL commented on #894
yeah, I agree that it should be the most robust approach assuming you don't have more than 256*256*256 items you're picking amongs (reasonable enough for now anyway)

@bollu you want to take a look at @campagnola's example mentioned above, and poke around `glumpy` for the picking example to see what you can make of it?

[2015-05-22 15:39] bollu commented on #894
@Eric89GXL will do :) I'll check it out and report back.

[2015-05-22 15:40] campagnola commented on #894
..actually I think we can get 32-bit IDs by disabling alpha blending.

[2015-05-22 15:42] Eric89GXL commented on #918
I prefer (2) mostly because I think it ends up being simplest for users. It's already where we're headed a bit with `vispy.plot`

[2015-05-22 18:47] rougier commented on #894
We can have any precision we want using color picking because we can query more than one attribute (see https://github.com/glumpy/glumpy/blob/master/examples/gloo-picking.py)

To answer @bollu question, we cannot use regular inverse transform because some of the transform we use are not invertible at all.

[2015-05-22 18:53] bollu commented on #894
@rougier: whoa, interesting. which transforms in the pipeline are non-invertible? I'd never assumed that you'd even *get* non invertible transforms in rendering

[2015-05-22 21:43] #903 closed

[2015-05-22 23:15] bollu commented on #918
@campagnola

I tried to show how a simple histogram plot leads to two different API styles.

[matplotlib](http://nbviewer.ipython.org/gist/bollu/2911661be16aec5b0f9b)
[gadfly](http://nbviewer.ipython.org/gist/bollu/c57d201a824cb08a5453)

I hope that the example motivates the main goal of the API.

Plotly also use a similar API design. [Here is their webpage on drawing Histograms](https://plot.ly/j

[2015-05-23 04:41] Eric89GXL commented on #894
@bollu maybe the very first step should be to port @rougier's example to `vispy` as a `gloo` example. That will help you understand the strategy, and put @campagnola's ideas about SceneGraph integration in context.

[2015-05-23 05:34] rougier commented on #894
At least, some (future) cartography mapping won't be invertible.

[2015-05-23 09:06] stonebig opened #921 "'Isoline' object has no attribute 'set_levels', in "isocurve_for_trisurface_qt.py" example"
trying isocurve_for_trisurface_qt.py example on windows/PyQt4/vispy0.4, it seems there is a basic compile error

[code]

[2015-05-23 13:57] Eric89GXL commented on #849
@sylm21 can you try on latest master? I feel like we fixed an issue with compiles a couple of weeks ago that might have helped. Also you could try the debugging steps listed in #867

[2015-05-23 14:09] Eric89GXL commented on #921
Indeed, looks like that example was never updated. Can you try changing it to `self.iso.level = cl` and see if that works? If it does, can you open a PR to fix it?

[2015-05-23 16:13] stonebig commented on #921
Unfortunately, I have a lot of error in my windows/python3.4 spyder console when I try all these tests, so I can't check it works "well" at the end.

Please do.

[2015-05-23 17:31] stonebig commented on #867
for the maybe same issue on `one_cam_two_scenes.py`, I do:
[code]

and gets:
[code]

[2015-05-23 17:37] stonebig commented on #867
on the same switchable-graphics PC, I switch to the ATI HD-5650, I get another error, but two images in the vispy canvas this time are drawed:
[code]

[2015-05-23 17:43] stonebig commented on #867
curioustly, the donut.py example worsk on intem graphics, and shows nothing (a white window) on the ATI graphics, with no error reported.

[2015-05-24 00:57] campagnola commented on #894
@bollu, FYI I am going to start working on (5) above  (TransformSystem / viewport).

[2015-05-24 06:13] Eric89GXL commented on #867
I just tested the code on an NVIDIA switchable graphics system (Windows 8.1) and it worked for both GPUs for me. I wonder if Intel and ATI have iffy OpenGL support across different drivers / cards. I have an old laptop with Intel HD 3000 graphics I think that I can try, but I'm not sure even that will allow me to reproduce the problem.

[2015-05-24 06:16] Eric89GXL commented on #867
Oh wait, there's hope... I had just been trying the camera example, which works fine for me. I can reproduce the elusive invalid framebuffer bug over here. I'll try to dig into it to see if I can solve it.

[2015-05-24 06:36] Eric89GXL commented on #849
Closing for now (works on latest master on Intel hardware for me), feel free to reopen if this one isn't fixed for you @sylm21

[2015-05-24 06:36] #849 closed

[2015-05-24 06:36] Eric89GXL commented on #649
@rossant can you see if this works for you now? this test passes on my intel hardware

[2015-05-24 07:39] stonebig commented on #867
testing by hand on isocurve on my intel-inside:
- now, the butons are working interactively,
 - I have still some message in my spyder console, I don't know if it's important ?
[code]

[2015-05-24 07:43] stonebig commented on #867
the offscreen.py complains about a `GLFW`library not found
[code]

[2015-05-24 07:57] bollu commented on #894
@campagnola All right. I'm checking out the picking example :)

[2015-05-24 08:38] stonebig opened #923 "magnify.py example doesn't work well on intel i3-350m with switchable graphics (to amd hd5650), when on intel"
hi,

When on HD5650, I have the nice loop effect on 4 different Viewboxes.

When on intel graphics, I have roughly only the Top Viewbox visible, and it seems to display "Z" lines instead of a magnification.
![magnifying_issue_on_intel_inside_i3_350](https://cloud.githubusercontent.com/assets/4312421/7787229/0a9f0062-0201-11e5-995c-b8c3715e08ef.png)

[2015-05-24 12:16] campagnola commented on #867
@stonebig, it would be helpful to use a regular console (cmd or powershell) to make sure we aren't also debugging spyder issues at the same time (but problems with spyder could be dealt with in another issue).

[2015-05-24 12:31] stonebig commented on #867
You're right, there could be an interaction.
If I launch via IDLE, I confirm I get the same errors for isocurve_for_trisurface.py

[2015-05-24 12:37] stonebig commented on #867
ah, replaying this example in AMD hd5650 mode, I get :
- zero message in the console,
- 3 bars referencial in the middle of the sphere, that I don't have when under intel graphics.

Would it mean that the problem is in the drawing of these little 3 bars ?

[2015-05-24 12:51] stonebig commented on #921
ah, replaying this example in AMD hd5650 mode and the above fix, I get :
- zero message in the console,
- 3 bars referencial in the middle of the sphere, that I don't have when under intel graphics.

In intel and AMD case, buttons are now functional.

Would it mean that the problem is in the drawing of these little 3 bars ?
![isocurve_intel_graphics](https://cloud.githubusercontent.com/assets/4312

[2015-05-24 13:10] stonebig commented on #921
seems something like that: http://stackoverflow.com/questions/14558256/unable-to-find-an-entry-point-named-glbindframebuffer-in-dll-opengl32-dll-i

[2015-05-24 14:51] campagnola commented on #921
We generally try to keep everything GL2.1 compatible (while still allowing features from GL3+ to be used). If this really is a GL version issue, then at least we should issue a more helpful warning.

[2015-05-24 19:26] Eric89GXL commented on #921
@campagnola I thought we were going for OpenGL ES2.0 and above, which does contain glBindFramebuffer. I don't know if GL 2.1 is going to work since framebuffers can't be used there.

In any case, I think we can close this as a dup of #669 since that's open as an issue to deal with reporting and triaging GL version capabilities.

[2015-05-24 19:57] #867 closed

[2015-05-24 19:57] #921 closed

[2015-05-24 20:00] Eric89GXL commented on #923
whoaa, that's a weird one :) Is this the graphics card with GL 2.1 capabilities only? I wonder if this is some other limitation of 2.1 that we're hitting without detecting it.

[2015-05-24 20:19] stonebig commented on #923
detail of errors in the IDLE console:
[code]

[2015-05-25 01:07] Eric89GXL commented on #907
I think this was fixed by #909 feel free to reopen if I'm mistaken

[2015-05-25 01:07] #907 closed

[2015-05-25 01:09] Eric89GXL commented on #923
Thanks for the report. This looks like the same OpenGL 2.1 error that was mentioned in #921. This would make it a duplicate of #669. (FYI mentioning #669 in this issue will make us see this issue when looking at #669.) I'm going to close this, but feel free to reopen if you think the problem is different.

[2015-05-25 01:09] #923 closed

[2015-05-25 01:11] Eric89GXL commented on #669
@rossant do you know where the right place to put this would be, at least for the desktop? What object should I add e.g. a `opengl_version`, `max_texture_size`, or `extensions` attributes to?

[2015-05-25 05:35] Eric89GXL commented on #669
never mind, I think I got it from the description...

[2015-05-25 16:29] campagnola commented on #894
@bollu, I am currently tearing up the SceneCanvas code and came across a method I had totally forgotten about: `SceneCanvas.render()`. This allows you to render any region of the scene to a framebuffer and returns the image array. I think this combined with a PickingFilter is all we need to get picking to work (and this could even be done from the current master branch).

[2015-05-25 16:31] Eric89GXL commented on #894
ahh right, because you could just render the single logical pixel (could be multiple physical pixels) under the mouse. +1 for that, should hopefully be fairly simple!

[2015-05-25 16:35] #669 closed

[2015-05-25 18:19] KelSolaar opened #927 "Add a way to retrieve the current "SceneCanvas" instance from the "SceneGraph"."
It is maybe implemented but I didn't find it, I need a way to find the current `SceneCanvas` instance a `SceneGraph` node, specifically a `ViewBox`, at the moment I'm passing the current `SceneCanvas` instance to my views which is not particularly elegant. I tried to walkup the graph, there is a node named **canvas_cs** up there but I didn't see which attribute links it to the `SceneCanvas` instan

[2015-05-25 18:48] campagnola commented on #927
This is already fixed in #928.

[2015-05-25 19:27] KelSolaar commented on #927
Ah great news!

[2015-05-26 03:23] campagnola commented on #894
Ok, sorry for the toe-stepping, but I'm at the point right now where I can't move forward without picking, and it's just a few lines of code away now that all the supporting features are in place. Picking forthcoming..

[2015-05-26 05:31] Eric89GXL commented on #894
cc @bollu looks like picking will be taken care of in this PR, sorry about that.

[2015-05-26 05:31] Eric89GXL commented on #894
(it should be more straightforward to see how to proceed after this PR is in)

[2015-05-26 07:26] sylm21 commented on #849
It's OK for me now

Thanks

[2015-05-26 11:29] rossant opened #929 "Importing gloo should not automatically load the OpenGL library"
I'm trying to run vispy on a headless server with docker, to use the ipynb webgl backend exclusively. I cannot `import vispy.gloo`:

[code]

I should not need to have the OpenGL library on a headless server when using a remote backend.

[2015-05-26 13:39] Eric89GXL commented on #929
I think it should be fine to not have this happen. It will probably mean nesting some `from . import gl` calls. Do you have time to fix it?

[2015-05-26 13:41] rossant commented on #929
Not sure i'll have time in the near future.. for now i just install the libs and it works, but it would be nice to have it fixed eventually!

[2015-05-26 16:51] #929 closed

[2015-05-26 21:20] Eric89GXL commented on #912
I took care of a bunch of these in recent PRs, I'm going to go ahead and close this for now. We should also keep in mind `See also` sections, and also `..versionadded` directives.

[2015-05-26 21:20] #912 closed

[2015-05-26 22:42] bollu commented on #894
@Eric89GXL whoops, sorry I missed that. Looks like I disabled all of my notifications while I was cleaning things up :| Will bring this back on. sorry!

[2015-05-27 21:18] bollu commented on #797
@almarklein There seem to a few no-op statements littered in the codebase as well. May I remove them?
They've all been commented with ```# noqa```.

wouldn't removing the underscores hurt readability? I think PEP8 says that you _can_ use underscores if your names are multi-word.  [PEP8 link to module naming conventions](https://www.python.org/dev/peps/pep-0008/#package-and-module-names)

```Unders

[2015-05-27 21:38] bollu commented on #783
how would I check if ```gl+``` is enabled or not?

There's a part in ```glir``` where it check if ```PyOpenGL``` is loaded and then resets the 1D and 3D textures that are currently bound.

If I'm understanding this right, We'll be removing ```PyOpenGL``` as a dependency sometime in the future (?) Therefore, is there a way to check if ```gl+``` has been loaded to perform this corrrectly?

[Here is

[2015-05-27 21:52] bollu opened #934 "Unable to import gl in iPython notebook session"
I was playing around with vispy in an ipython notebook, and it refuses to load ```vispy.app``` because it's not able to load "gl" for some reason.

Here's the traceback:
[code]

I'm on commit [```2e72df7ba38e129ef3049c1e7e0e31f5a4c5c364```](https://github.com/vispy/vispy/commit/2e72df7ba38e129ef3049c1e7e0e31f5a4c5c364) on the master branch of ```vispy/vispy```

[2015-05-27 21:58] #934 closed

[2015-05-27 21:59] bollu commented on #934
It looks like there was some strange interaction between ipython and my testing branch

[2015-05-27 23:05] bollu commented on #682
@rossant:  what should the API for the visual look like?

[2015-05-27 23:19] QuLogic opened #935 "vispy.test() is broken for pip-installed vispy"
The tarball on PyPI does not include documentation, examples, or the `make` directory. The readme does not indicate any other way of running tests, so I have no way of verifying that my installation is correct (besides running random scripts).

[2015-05-27 23:39] jdreaver commented on #935
I was under the impression that PyPI packages should be minimal so they don't take up more space than they need.

[2015-05-28 01:11] Eric89GXL commented on #935
@jdreaver indeed. AFAIK this is consistent with what other packages (numpy, scipy, scikit-learn, etc.) do to keep download sizes small.

You should be able to do:
[code]
But it's currently broken. I'll change the title here as a reminder to fix it, and update the README to tell people they can run it.

[2015-05-28 01:12] Eric89GXL commented on #934
do you have vispy installed with `python setup.py develop`? That might fix some of these issues...

[2015-05-28 01:14] Eric89GXL commented on #682
@bollu please take a look at the existing visuals and propose an API consistent with those, and we can iterate over it here quickly before you implement it. It's likely that your visual will eventually make use of the `AxisVisual`, too, but for now you can just put a box around the colorbar, and put a label at the top and bottom (or left and right, depending on e.g. an `orientation='horizontal' |

[2015-05-28 01:18] QuLogic commented on #935
For sure, leaving out documentation is understandable; I just mentioned it in case it was unintentional.

But it would definitely be good to have those tests working (even if just minimal).

[2015-05-28 01:48] Eric89GXL commented on #797
I think the idea is that `__init__.py` should generally only be in directories that have Python code. But I think in our case we might need them in order for `setup.py` to auto-detect what directories to include in distribution, so I think it's okay to keep them for now.

[2015-05-28 02:34] Eric89GXL commented on #783
FWIW currently `gl+` actually uses PyOpenGL under the hood.

I propose that, for now, users should have to explicitly do `gl.use_gl('gl+')` to get access to higher OpenGL version functionality. This makes it clear that things will e.g. likely not work with with WebGL. Your PR then would:

1. Find places that currently use PyOpenGL in the code (I think it's just 3D textures currently, and probably

[2015-05-28 03:05] Eric89GXL commented on #866
@rossant would log-2 spacing (1, 2, 4, 8, ...) work for you? I think it's going to work better than assuming backspace will work. I think there are a lot of cases where it might not.

[2015-05-28 03:30] Eric89GXL commented on #671
@jlaura if you're still interested in this, we have started making it so that the kwargs are explicitly specified, so you could make the changes you wanted. If you don't have time let me know and I might be able to do it. (Sorry for the loooong delay.)

[2015-05-28 03:35] QuLogic commented on #935
I tried out `vispy.test()`, and I see this error:
[code]
Now, it's obvious that I need `pytest-cov`, but I don't think it should be a requirement anywhere other than Travis (if that's possible.)

[2015-05-28 03:35] Eric89GXL commented on #271
@nippoo can you add this now that you've added the `doubleclick` event?

[2015-05-28 03:42] Eric89GXL commented on #935
Yeah, even with `pytest-cov` installed I get an error that needs to be fixed :) But yes, I agree that shouldn't be required.

[2015-05-28 06:32] QuLogic commented on #935
If I comment out the coverage stuff, then I get three errors in `vispy/gloo/gl/tests/test_functionality.py` (for both `pyqt4` and `pyglet` backends), other Qt backends do not run because the first one is loaded, the `nobackend` test seems to load extra tests from _other_ packages, and the remaining backends are skipped because I don't have the dependencies.

[2015-05-28 08:22] rossant commented on #866
+1

Le jeudi 28 mai 2015, Eric Larson <notifications@github.com> a écrit :

[2015-05-28 10:18] almarklein commented on #904
My vote would be for option (4): when using `imshow()` we initialize the camera to flip the y-axis.

[2015-05-28 10:26] almarklein commented on #914
I agree that the mouse should stay in the same spot. What's shown in the video is just wrong :)

[2015-05-28 10:42] bollu commented on #934
Yup, I do. did that when you showed it to me last time.

[2015-05-28 11:09] campagnola commented on #884
I think this can already be replaced with `prog['px_scale'] = trs.canvas.pixel_scale`.

[2015-05-28 11:13] sylm21 opened #937 "Problem with turn ans shift key event"
In a Canvas with a turnable Camera, if you try to make a left click to turn the mesh and if you maintain the left click and after you press shift key you are an error message.

[2015-05-28 11:14] campagnola commented on #791
FBO method has been removed from #928 (because it would need to be reimplemented for the new scenegraph, and there are many higher-priority issues to deal with first). If we ever find the need for ViewBox FBOs again, then hopefully it will be implemented without this issue  :)

[2015-05-28 11:14] #791 closed

[2015-05-28 13:09] sylm21 commented on #937
Fix in PR #938

[2015-05-28 14:38] almarklein commented on #903
@Eric89GXL maybe add announcement on website.

[2015-05-28 16:13] Eric89GXL commented on #875
I think I have a workaround in mind...

[2015-05-28 16:26] Eric89GXL commented on #876
dup of #875

[2015-05-28 16:26] #876 closed

[2015-05-28 17:21] #937 closed

[2015-05-28 18:01] Eric89GXL commented on #896
I can confirm this works on Linux, so it does appear to be platform-dependeng somehow. Argh...

[2015-05-28 19:05] QuLogic commented on #903
The 0.4 Milestone still contains some open tickets. They should probably be bumped to 0.5 if still relevant.

[2015-05-28 21:04] Eric89GXL commented on #903
Indeed, there was a PR with a 0.4 milestone, thanks for the hint

[2015-05-29 13:43] sylm21 commented on #902
I have the same problem with opacity.

I simply add a triad in this example and with an opacity = 0.5 you don't show the triad in the cube any idea ?

[code]

[2015-05-29 13:46] sylm21 commented on #902
And when you try opacity = 0 triad disappear ...

[2015-05-29 15:08] sylm21 opened #941 "In isocurve exemple the contour line disappear"
I'm on windows 7, when i  try isocurve example the image appear but the isoline appeant only a small moment ...

[2015-05-29 15:12] sylm21 opened #942 "In one_scene_four_cams example problem in fly mode"
In one_scene_four_cams example the fly mode view have a problem with  the self._distance parameters ...

[2015-05-29 15:13] #866 closed

[2015-05-29 15:13] #875 closed

[2015-05-29 15:13] #935 closed

[2015-05-29 15:27] sylm21 commented on #941
A solution more translate the image but why ?

image.transform = visuals.transforms.STTransform(translate=(0, 0, 4.0))

[2015-05-29 16:38] #942 closed

[2015-05-29 16:39] Eric89GXL commented on #941
It disappears for you? The image stays just fine on my system. I wonder if this is related to other issues we've had with setting GL state.

[2015-05-29 17:28] campagnola opened #945 "Interactive prompt degrades performance"
Observe:
[code]

We didn't have this problem when using PyQt's interactive prompt support.

[2015-05-29 17:55] Eric89GXL commented on #945
I think I've observed this at some point, too. We should definitely investigate to figure out why it degrades. Maybe the profiling code will be helpful here.

[2015-05-29 18:00] bollu commented on #945
@Eric89GXL : how does one explicitly profile vispy? do you use the standard tools like ```cProfile```? Or does vispy have built in profiling tooling?

[2015-05-29 18:02] Eric89GXL commented on #945
@bollu check out the discussion here:

https://github.com/vispy/vispy/pull/860

It would be great if someone could add a section to the wiki detailing a good procedure, @bollu if you have time please do it

[2015-05-29 18:52] bollu commented on #945
it looks like ```inputhook.py``` is the culprit. Specifically, lines 66 to 72.

[code]

If I'm reading this right, you take the time from when you've had no user interaction.
You start out an event loop, ticking vispy once (```app.process_events```), then measure the time since the last user interaction has taken place. If it's over 10 seconds, then you sleep for a second. If it's over 0.1 seconds

[2015-05-29 18:54] bollu commented on #945
Also, I'll add a section to the wiki once I read the associated docs and play around with it a bit more :)

[2015-05-29 19:03] campagnola commented on #945
Thanks @bollu!
The `sleep` calls are there to prevent pegging the CPU when nothing else is happening. It's actually quite tricky to write an event loop that is both responsive and does not consume too much CPU time. Generally the UI toolkits do a good job of this (and `inputhook.py` is clearly not) so it would be better if we can allow the UI event loop to run, and then check on the TTY periodical

[2015-05-29 19:09] campagnola commented on #945
For Qt, at least, this should be simple:  http://doc.qt.io/qt-5/qtest.html#qWait
Might look something like:
[code]

[2015-05-29 19:12] bollu commented on #945
ah, @campagnola, yeah, we do this in games too. But, the technique is slightly different.

If you wish to render at, say, 60 FPS, then figure out the time per frame ```1.0 / 60 seconds = 16.66 milliseconds```. Next, time _each frame_ that you have. If it's below 16.66 seconds, then sleep the difference minus some padding (to account for syscall overhead). Otherwise, don't sleep. Would that not wor

[2015-05-29 19:41] campagnola commented on #945
That's not quite what I mean. In the code example above, python is running the actual event loop and allowing us to process GUI events as long as the user is not typing on the console. So if we wrote something like
[code]
then we would get very low-latency response to user input in both the console and the GUI, but the CPU would be pegged at 100% the entire time. So it is tempting, then to add a l

[2015-05-29 20:56] Eric89GXL commented on #945
-1 on writing our own command prompt, I think it would be limiting for a lot of use cases, and greatly increases our coding burden

For now my vote is to optimize our solution, then also add special cases for backends that support it (maybe only Qt for now)

[2015-05-29 20:59] almarklein commented on #797
* On `__init__.py`, Would it make sense\ to instead consider the glsl code as "data directories" in setup.py?
* I can live with underscores in module names, although we have been pretty consistent in the rest of the codebase, so it really stands out.
* @bollu feel free to remove no-op statements :)

[2015-05-29 21:00] Eric89GXL commented on #797
I think it would be easier to remove underscores than to change everything over, so we might as well go to no underscores (even though I'm pretty sure I introduced them...)

[2015-05-29 21:06] Eric89GXL commented on #945
I can take a stab at fixing this since I have access to Windows, Linux, and OSX machines of varying speed capabilities

[2015-05-29 21:06] bollu commented on #797
hm, very well, I'm getting rid of the underscores in that case, along with the no-ops

[2015-05-29 21:08] Eric89GXL commented on #945
Or @bollu you can try to fix it and I can just give you usage reports :) I wonder if using 0.001 ms sleep will be too short, it seems to work well on my desktop at least (CPU usage is negligible)

[2015-05-29 21:09] Eric89GXL commented on #797
sounds good -- please for now only remove underscores for the `collections` code, though. We can do a whitespace + underscores cleanup after his big PR is merged

[2015-05-29 21:10] bollu commented on #945
@Eric89GXL: I'd like to give this a stab while I'm waiting for collections to stabilize so I can work on plotting :)

[2015-05-29 21:20] bollu commented on #945
@campagnola how to we detect which backend vispy is currently using?

[2015-05-29 21:22] Eric89GXL commented on #945
If you have a Canvas you can get it from there, if you don't then you can do something like this:
[code]

[2015-05-29 21:23] bollu commented on #945
thanks

[2015-05-30 00:21] KelSolaar opened #947 ""Line" visual end points fading out with "agg" method."
I'm trying to create a nicely thick antialiased triangle using `agg` method from the `Line` visual but the end points are getting faded out:

![image](https://cloud.githubusercontent.com/assets/99779/7894834/42559e02-06c6-11e5-9c17-966a56c17a4b.png)

[code]

[2015-05-30 00:47] campagnola commented on #947
There are a number of issues with the agg lines that I hope will evaporate when the collections code is rolled in.

[2015-05-30 06:47] QuLogic opened #949 "Functionality test failures"
No matter what backend I use, I seem to get (at least) three failures in `test_functionality_desktop`, `test_functionality_proxy`, and `test_functionality_pyopengl`.

[code]

[code]

[code]
Running on Intel HD Graphics 4600, Fedora 22.

[2015-05-31 02:33] Eric89GXL commented on #949
Argh, Intel again... @rossant did you ever figure out how to fix this on your system? I seem to remember you had this problem. Was it on Linux for you as well? I have access to Intel hardware on Windows and it works there. I might be able to get a Linux machine with Intel... @QuLogic do you have time to debug what is happening? Maybe turn the test into some minimal example that you can play with?

[2015-05-31 02:35] Eric89GXL commented on #949
I have trouble understanding how other more complex GL tests like the visual tests can pass while this one fails, it might be some hint.

[2015-05-31 02:35] Eric89GXL commented on #949
BTW can you check `vispy.sys_info()` and give the OpenGL version? I don't think it would be the problem in such a simple case, but it's good to know. Please omit the extension list for now.

[2015-05-31 04:30] QuLogic commented on #949
I can take a look if you have some idea where to look.

[code]

[2015-05-31 08:34] QuLogic commented on #949
Oh, looks like this is the same as #649, maybe?

[2015-05-31 15:27] Eric89GXL commented on #949
Yeah, I'll close this as a duplicate of that one. Please report over there if you figure anything out.

You have OpenGL 3.0, which should be fine for us.

What I'd do is first make a script that does whatever the test does, to isolate it to as few calls as possible. Then I'd try doing things like repeating the commands a few times before checking the result to see if it "takes". If it doesn't, the

[2015-05-31 15:27] #949 closed

[2015-05-31 23:45] QuLogic commented on #649
Following up from #949, the failure occurs on all backends that I was able to test. It is the only failure on pyqt4 and pyglet, with a couple other failures occurring on pyqt5.

[2015-06-01 00:41] Eric89GXL commented on #649
Do you have pyqt5 working on anaconda? Maybe we should add it to Travis. I
can also try to get it going locally to debug that aspect. Maybe for now we
should add a known fail for Intel. Not satisfactory, but of everything else
works it might be acceptable for now.

[2015-06-01 01:03] QuLogic commented on #649
No, I'm running pyqt5 via system packages. But it has to be run by itself, because multiple Qt runtimes cannot be loaded at the same time.

[2015-06-01 02:37] QuLogic commented on #649
OK, I'm not really sure why this works, but it seems that removing `a_1` fixes it:
[code]

[2015-06-01 03:06] Eric89GXL commented on #649
FYI you should be able to do `python make test pyqt5` from the `git` root directory to run tests (that require a backend) using PyQt5.

Re: the fix -- that is really strange, those bits of code sure seem like they should evaluate in identical ways. Have you tried leaving the code in, but moving the `loc ... \ gl.glVertexAtrib1f` lines until after the `a2` and `a3` are set? I'm wondering if there i

[2015-06-01 03:50] jvtrudel commented on #918
Very interesting reflexion here guys! I'll have a closer look at your comments and I'll contribute with my own views of the vispy's API**s** as soon as I have 2 minutes to write it down.

I plan discuss about:
  - Who will be the typical user of vispy and what do we have/want to offer to him
  - General purpose API vs specialized APIs (and the opportunity/interest to develop both)
  - Use cases an

[2015-06-01 06:04] QuLogic commented on #649
No luck there. I even tried moving it way up to just after `glUseProgram`, but that didn't help.

[2015-06-01 06:08] dragoljub commented on #607
This looks very exciting. Just curious about why the WebGL Backend is only supported on python 3? Will Python 2.7 be supported? Thanks and keep up the great work. :smile:

[2015-06-01 06:20] QuLogic commented on #649
Hmm, even simpler:
[code]
So, it seems like the attribute doesn't get set at all.

[2015-06-01 07:14] QuLogic commented on #649
Soo, an even simpler fix is to just reorder the attributes in the vertex shader. It seems that placing `a_1` first gives it id 0, which without an array seems to have the magical property of not doing anything. Or at least, that's how I've understood it from the `GL_CURRENT_VERTEX_ATTRIB` section of [glGetVertexAttrib](https://www.opengl.org/wiki/GLAPI/glGetVertexAttrib), though oddly enough, this

[2015-06-01 08:02] QuLogic commented on #903
Also missing a changelog in the docs here: http://api.vispy.org/en/latest/releasenotes.html

[2015-06-01 10:59] KelSolaar commented on #914
Should I do a PR with an attribute like in my first message?

[2015-06-01 13:28] campagnola commented on #914
Probably best to wait until #928 is in before starting on this.

[2015-06-01 14:00] Eric89GXL commented on #607
@dragoljub I think it's only supported on IPython version 3+, but that can be running Python 2.7 or 3.4 under the hood.

[2015-06-01 14:10] jvtrudel commented on #903
Thanks @QuLogic for your comment, but this thread is closed. The version 0.4 is already published. Maybe I could open the same kind of issue for the next version?

[2015-06-01 14:22] jvtrudel opened #951 "Must have features for the v0.5 release"
I propose this issue to brainstorm about the next release. Deciding as early as possible the improvements to include in v0.5 will catalyse our work and accelerate the availability of vispy for non-developers.

[2015-06-01 14:43] jvtrudel commented on #951
I my opinion we should work  in parallel on both the core/foundation of vispy (goo, glir, collections, visuals, etc...) and on end-user oriented features (axis, text, styling, ...). But in v0.5, priority should be given to end-user oriented features.

  - Few _minor_ improvements like axis and text (including latex-like) could make a big difference and vispy could be used for serious and professio

[2015-06-01 15:33] dragoljub commented on #607
Yup I got it working after I updated to 4.0.

Thanks.

[2015-06-01 15:43] Eric89GXL commented on #649
Well that's a bummer. @QuLogic can you implement the simpler fix, and add a comment with the insights you have above? It would be good to have some record of these things in case we have future problems on Intel hardware. In the meantime, thanks for fixing this long-standing bug!

[2015-06-01 16:33] scott-howard-james opened #952 "Support for OpenGL Core Contexts"
On OS X configurations supporting OpenGL 3.0+ get following warning when running vispy examples:

WARNING: OpenGL version 3.0 or higher recommended, got 2.1 NVIDIA-10.2.7 310.41.25f01. Some functionality may fail.

Possibly this is due to OpenGL compatibility profile being restricted to 2.1 for OS/X.  Is there a plan to support Core Profile Only modes?

Thanks

https://www.opengl.org/wiki/Core_And

[2015-06-01 17:19] KelSolaar opened #953 "Drawing Precision Issues with 3D Cameras"
I have important drawing precision issues with the 3D cameras that I pinpointed to be coming from the `BaseCamera._get_depth_value ` private method: https://github.com/vispy/vispy/blob/master/vispy/scene/cameras/cameras.py#L128

Oddly the doc string specifies that:

[code]

but the value returned is **100000.0**, putting that back to **100** or even **1** fixes the issues.

[2015-06-01 20:47] QuLogic commented on #952
Also, switching to Core might be an alternate way to fix #949/#954.

[2015-06-01 21:02] Eric89GXL commented on #952
The stackoverflow makes it sound like this might be a Qt thing. Do you get this when you use other backends as well?

[2015-06-01 21:11] Eric89GXL commented on #953
@almarklein `git blame` says this one is yours. Any thoughts on this one?

[2015-06-01 21:14] Eric89GXL commented on #951
I agree with most of this -- I think the process will need to be:

1. get some basic axis visual working (in progress #829)

2. integrate axis visuals into `vispy.plot`

3. speed up scenegraph and integrate collections (in progress #928)

I'm not sure the extent to which equations can be supported. If you mean using generic text I think it can, if you mean via `LaTeX` it would probably take someon

[2015-06-01 21:22] scott-howard-james commented on #952
I indeed did try this under Qt4, Qt5 but also pyglet.
I also examined pyglet directly (i.e. outside vispy) and it appears to default to compatibility mode unless forced to core.

That said, this issue doesn't appear to be just a Qt thing:

http://stackoverflow.com/questions/21526662/opengl-3-3-on-osx-with-freeglut
https://github.com/RPCS3/rpcs3/issues/1028
http://you-script.org/thomasena/2015/05/0

[2015-06-01 21:38] Eric89GXL commented on #952
I think it would make sense to support enabling core profile mode. I'm not sure if we should try to do it by default though -- I'd have to think about what that would mean for supporting OpenGL ES 2.0 code. @scott-howard-james do you want to try adding an option to use core profile mode? It would probably go in the `config` dictionary that `vispy.app.Canvas` has, and then would need to be implemen

[2015-06-01 21:39] Eric89GXL commented on #903
Fixed the release notes @QuLogic thanks for the reminder

[2015-06-01 23:27] campagnola commented on #953
I think "100.000" is a typo (bizarrely, the world has not agreed on the meaning of "." vs ",").
GL has a fixed amount of precision in the depth buffer, and in general we cannot predict whether the user will need a very large range or very high precision. All we need here is a way for the user to override these constraints..

[2015-06-02 01:53] scott-howard-james commented on #952
Glad to help.  However, it might be a bit more involved than a switch.

Following the advice in <http://stackoverflow.com/questions/25708478/pyqt4-opengl-enabling-opengl-core-profile> I modified the app/backends/_qt.py (see below) to force a core context (I also tried 4.1... the highest available on this particular laptop)

Unfortunately, this creates a runtime problem in shader code (see below).

[2015-06-02 04:17] campagnola commented on #952
Right; our shaders are written for GLSL 120, which corresponds to GL 2.1 (so this should be used with the compatibility profile, not core). I do think it would be valuable, though, to begin working on (or at least enumerating) the pieces required to support core.

[2015-06-02 05:40] Eric89GXL commented on #952
Ahh. Perhaps we should update our warning to just warn if gl < 2.1 (instead of 3.0) then. @campagnola WDYT?

[2015-06-02 05:44] #649 closed

[2015-06-02 05:45] Eric89GXL commented on #953
@KelSolaar would exposing a public attribute for the scale factor work for your use case? If so, feel free to open a PR to do it or I can fix it in the next couple of days.

[2015-06-02 06:27] KelSolaar commented on #953
Yeah I think it should work, I'm not sure what represents that attribute exactly but usually in DCC apps such as Maya, Softimage, 3dsmax, etc... you set the camera near and far clipping planes in order to maximise the drawing precision.

[2015-06-02 06:51] QuLogic opened #956 "Test failures with Qt5"
There are two failures when running with the `pyqt5` backend:

[code]

and:

[code]

[2015-06-02 06:58] QuLogic commented on #434
2 of 3 links are broken...

[2015-06-02 12:12] campagnola commented on #952
Agreed.

[2015-06-02 12:54] campagnola commented on #434
This is already possible in the current scenegraph (although it is slow), and in #928 it is a lot faster. At some point we can speed it up further with collections, but perhaps this can be closed with #928?

[2015-06-02 13:55] Eric89GXL commented on #953
@campagnola should we wait until #928 is merged to add the property, or not? I don't want to create a rebase nightmare for you, but if #928 is going to take a bit longer still it would be good to get this fix in sooner so @KelSolaar can fix his use case.

[2015-06-02 15:46] josephwinston opened #957 "`vispy.plot` doesn't work in WebGL with images"
At git  commit `e18e2ab1b9149268a345f7b2ad2d7787c4c64159`, using `anaconda` on an up to date OS X system.

The following code taken from http://vispy.org/examples/basics/plotting/volume.html without the volume rendering fails:

[code]

The output is:

[code]

And the images are not correct either.  The code without the

[code]

runs as expected.

Likewise so does the code found in issue #875.

[2015-06-02 15:49] rossant commented on #957
in `File "/Users/hb55683/anaconda/lib/python2.7/site-packages/vispy-0.5.0.dev0-py2.7.egg/vispy/util/logs.py", line 345, in _serialize_buffer
    'buffer': base64.b64encode(buffer).decode('ascii')`

can you try to replace `buffer` with `buffer.copy()`?

[2015-06-02 15:51] Eric89GXL commented on #957
Or try doing `np.ascontiguousarray(buffer)`, that would avoid any unnecessary copies.

[2015-06-02 15:58] campagnola commented on #953
All changes to the camera system will have to be merged manually (by me) so it's probably best to hold off.

[2015-06-02 16:37] KelSolaar commented on #953
There is really no hurry on my side guys, so I can definitely wait :)

[2015-06-02 18:12] bollu commented on #918
@jvtrudel any updates?

@campagnola Do we have a consensus of some sort about what kind to use?

[2015-06-02 19:08] Eric89GXL commented on #956
Interesting, I don't get either of those failures (Ubuntu 15.04 w/NVIDIA). The samples one might just be because the hardware doesn't support it -- is this on Intel again? Although it would be weird that that test passed for the other backends.

[2015-06-02 19:17] QuLogic commented on #956
Yea, same system (with Qt5 info this time):
[code]

[2015-06-03 02:13] jvtrudel commented on #918
Yes, but... I do not want to say stupid things so I am actually thinking. In the mean while, I found an interesting reflexion I posted on google group (march 30):

I would like to share with developers of vispy and with potential users some thoughts about the APIs design. This reflexion may seem very abstract and its probably true. But I think, as Vispy is heading to a mature state, that such a re

[2015-06-03 03:13] QuLogic opened #962 "mpl_plot example no longer works"
This example currently shows the background and axes, but nothing within.
![screenshot from 2015-06-02 23-12-15](https://cloud.githubusercontent.com/assets/302469/7952015/e9301e06-097c-11e5-9a8b-acc3f6a40a44.png)

[2015-06-03 03:19] Eric89GXL commented on #962
If you aren't sick of debugging and contributing to `vispy`, you can use [git bisect] (http://webchick.net/node/99) to figure out whose fault it is :) Otherwise I can try to get to it in the next few days.

[2015-06-03 03:31] larsoner opened #963 "Keyboard interactivity for fly camera disabled until view changed"
Procedure to reproduce:
1. run examples/basics/scene/volume.py
2. change to fly camera (press "1" twice)
3. use arrow keys -- no response
4. adjust view in any way with mouse
5. use arrow keys -- camera moves

Thanks @QuLogic for the report.

@almarklein any ideas?

[2015-06-03 03:34] Eric89GXL commented on #963
Does this have to do with setting which viewbox receives events? In other words, by clicking in the window, you're clicking in the viewbox and thus setting it to be the target of future keypresses? If so, it might make sense to have the first viewbox added to a SceneCanvas be assumed to be the target of keypresses.

[2015-06-03 04:03] Eric89GXL opened #965 "scene_test_* examples broken"
Will hopefully be fixed by changes in #928 (cc @campagnola), thanks for finding it @QuLogic

[2015-06-03 04:23] QuLogic opened #966 "Buggy display with iso volume example"
Using `examples/basics/scene/volume.py` and switching to iso rendering method produces a [pretty strange view](http://youtu.be/3becSPxKIq8).
![screenshot from 2015-06-02 20-33-11](https://cloud.githubusercontent.com/assets/302469/7952618/7438357a-0986-11e5-8771-cafdb56cde95.png)

System is the same as before (Intel HD 4600):
[code]

[2015-06-03 07:46] QuLogic commented on #962
[code]

[2015-06-03 14:13] josephwinston commented on #957
When I make the change

[code]
There is no output at all.

[2015-06-03 14:14] josephwinston commented on #957
@Eric89GXL I'll be happy to reduce the number of copies once everything works.

[2015-06-03 14:59] Eric89GXL commented on #962
Oh great :) That was a commit that should have fixed how ViewBox backgrounds got drawn. Somehow it must be getting drawn out of order. I'll try to look soon.

[2015-06-03 15:38] Eric89GXL commented on #957
@rossant any other ideas?

[2015-06-03 16:24] nippoo opened #970 "Test failure in test_font_glyph (possible race condition)"
Intermittently, I get:

[code]

Automating this test 10,000 times passes each time but running it manually (or via the test suite) seems to fail occasionally with the same error - I've repeated it twice.

Ubuntu 14.04 LTS, AwesomeWM (tiling window manager), NVidia GTX 980, Anaconda Python 3.4.

[2015-06-03 16:25] Eric89GXL commented on #970
I have seen this one before, can't remember when or why... let me see if I can find a record somewhere

[2015-06-03 16:27] Eric89GXL commented on #970
Oh yeah, at one point for some reason we had a problem with this on Travis, and only on Travis. Looks like now you're actually hitting the error. What makes you think it's a race condition?

[2015-06-03 16:28] Eric89GXL commented on #970
...and actually I think this conditional above was put in to make it "go away":
[code]

[2015-06-03 16:31] Eric89GXL commented on #970
Maybe some hint [here] (https://bugzilla.mozilla.org/show_bug.cgi?id=312105) regarding "HAVE_FT_BITMAP_SIZE_Y_PPEM"?

[2015-06-03 16:36] Eric89GXL commented on #970
And/or we might have to check to see if fonts are scaleable:

http://sourceforge.net/p/ftgl/mailman/message/24463642/

Maybe on Py3k the list of system fonts is in a different order and we're accidentally hitting a font that is not scalable...?

I might be able to test this a bit locally by modifying the test to go through *all* system fonts.

[2015-06-03 16:39] nippoo commented on #970
I'm only guessing, because it only happens a small fraction of the time (there isn't any randomness in the test, either), and crucially doesn't happen when the test is run thousands of times sequentially. So it makes me think that there might be some race condition with OS font loading (of some sort)...

[2015-06-03 16:51] nippoo commented on #970
Ahaaaa.

A bit of debugging shows that `list(sys_fonts)` seems to return in a random order each time.

I've changed the test locally to test all system fonts. (Generally speaking I reallllllly hate non-deterministic tests. We should always test the same font, or a particular subset of fonts, or have an "extended" test for all fonts, but a test shouldn't fail a small fraction of the time or `git bi

[2015-06-03 16:53] Eric89GXL commented on #970
That is a terrible idea... #971

[2015-06-03 16:55] nippoo commented on #970
What's a terrible idea?

[2015-06-03 16:55] Eric89GXL commented on #970
I was joking -- that PR I just opened does exactly what you suggest :)

Yeah, I bet those fonts don't scale. So we need to beef up our font enumeration and loading to only allow fonts that are scalable.

[2015-06-03 17:04] bollu commented on #918
@jvtrudel but, well, taking your R^1 -> R example, there are multiple ways to plot that too, isn't there, depending on you data? If its f(theta) = r, then your plot would be polar. if it's y = f(x), then you may want a line. Or, you may want a histogram of your data to bucket it. So, again, it's a question of data v/s representation

[2015-06-03 17:07] nippoo commented on #970
Ahhh, I figured! Sorry, we don't get sarcasm very well over this side of the pond ;)

[2015-06-03 17:09] #945 closed

[2015-06-03 18:04] bollu opened #972 "docs error - should be PyQt5"
was reading [config.py ](https://github.com/vispy/vispy/blob/75b683ed080440e881a2d0066b9ce182f4217569/vispy/util/config.py#L97), and I think it should be ```pyqt4|pyqt5|...``` rather that ```pyt5```

line no. 97

[2015-06-03 18:22] #962 closed

[2015-06-03 19:36] campagnola opened #973 "Add tests that ensure visuals avoid unnecessary shader modification"
There is a lot of sloppy coding in the visuals where we request modifications to the shader programs, causing unnecessary (and expensive) recompiles. These are easy errors to make, so we need a basic set of tests that ensure there are no unnecessary recompiles for:
- Most calls to `visual.set_data(...)`
- Trivial transform updates (those that should only require new uniforms to be uploaded)
- Othe

[2015-06-03 19:39] kmuehlbauer opened #974 "ImageVisual: set_data function cause modification of shader program"
When using set_data function to load new data to ImageVisual a big amount of time is consumed recreating Texture2D.

See also this thread in vispy forum: https://groups.google.com/forum/#!topic/vispy/N0KpxZO5ay0 covering the problem.

[2015-06-03 19:55] almarklein commented on #953
Oh, yes, it probably is, because that means 100,000 in Dutch, and I would not write three zeros after a decimal separator.

[2015-06-03 20:05] almarklein commented on #973
+100

[2015-06-03 20:09] almarklein commented on #963
Not sure, I *think*  there is no delivery to a viewbox; we simply catch key events at the canvas.

[2015-06-03 20:10] almarklein commented on #966
OpenGL on Intel :(  I would love to see how this looks in WebGL on the same driver.

[2015-06-03 20:29] QuLogic opened #975 "Text in TextVisual example does not stay centred"
The `TextVisual` anchors to the centre by default, plus the resize handler moves the text position to be in the centre of the screen. However, as [you can see](http://youtu.be/FqJv5L8RPm4), the text does _not_ stay centred. Printing out `self.size` seems to show that the window size is determined correctly, but the text does not seem to be in the right place.

[2015-06-03 20:30] Eric89GXL commented on #975
I suspect this will be fixed by #928 because it changes a lot about the transform system

[2015-06-03 22:02] QuLogic commented on #975
Not just yet...
[code]

[2015-06-03 22:21] QuLogic commented on #966
Do you have a sample? I tried to throw it in the notebook, but it doesn't seem like the WebGL backend is ready for this example just yet.

[2015-06-03 23:56] Eric89GXL commented on #972
yes indeed, please fix in your next PR :)

[2015-06-04 08:43] almarklein commented on #966
No I don't think the Volume rendering works in WebGL yet. Sorry I probably should have mentioned that.

[2015-06-04 11:16] bollu opened #977 "automatically launch vispy in webgl mode if in notebook"
This could be a nice usability improvement, to have vispy automatically pickup the webgl back end if its running in a notebook.

AFAIK, this is possible to detect since ipython provides a config object that can be used to query status.

If there's a consensus on this, I'll try and write a pull request for this

[2015-06-04 12:08] hadim commented on #977
That would be nice. You can use this:

[code]

[2015-06-04 12:21] bollu commented on #977
I don't think that's enough: that only tells you if you're in ```ipython``` or not, not if you're in the notebook. For that you'd need to load the cfg object that ipython provides I guess

[2015-06-04 12:25] rossant commented on #977
-1: I often use desktop backends in the notebook, to have multiple popups
also the webgl backend is too experimental at this point to be enable by default
finally, the kernel doesn't know whether you are in a notebook, and you'd need some ugly hacks to detect that

i'd rather have an explicit `enable_notebook()` function, like in matplotlib, mpld3, and all other plotting libraries that work in the

[2015-06-04 14:06] #972 closed

[2015-06-04 14:08] Eric89GXL commented on #977
@rossant we basically have that already with `use_app('ipynb_webgl')`, right?

[2015-06-04 14:24] rossant commented on #977
yes, i imagine we could save a few characters and improve tab completion discovery with such a function
+ we might want to enable other stuff in the notebook later

[2015-06-04 15:20] jvtrudel commented on #918
Yes @bollu . Its true. First, I would identify  all the mathematical cases that can generate a valid "graph" or plot. Then, as you mentioned, there may be different way to visualize it. These possibilities could also be systematically identified and implement independently.

Heres an example of use cases that could be build with that approach:

**input data and visualise it**

    plt=plot()
    p

[2015-06-04 16:06] jvtrudel commented on #918
Standardisation of the data structure + vispy's ability to recognize it would be extremely powerful (in my opinion).

  - It could allow the user to simply feed vispy with his data.
  - Pretreatment of the data (generating meshes, data interpolation, projection on bezier functions or splines, etc...) could be done automatically.
  - Pretreatment of the data could be specified by the user if needed

[2015-06-04 17:02] bollu commented on #977
@Eric89GXL yes, but that's not very nice to use, right? API wise :) It's too much internal detail (what is an "app"? why do I need to invoke "webgl"? stuff like that)

[2015-06-04 17:03] Eric89GXL commented on #918
I see how this type of interaction could be very useful. Personally I still
prefer the mpl-type plotting calls. There is a simplicity and transparency
to them (less magic) that appeals to me. I think the mpl style is likely to
lead to fairly simple code, and potentially easier from an implementation
and piecewise progress perspective.

In any case, we currently have mpl style calls in vispy.plot,

[2015-06-04 17:09] Eric89GXL commented on #977
There should be one (preferably obvious) way of doing things as much as
possible. In this case maybe it's not obvious. At the same time I'd rather
not increase the number of ways. So my problem with this is, say someone
wants to use the Pyglet or SDL backend, what function should they use?
Should we make separate functions for those?

Maybe we can rename a function, or its arguments, or move it to

[2015-06-04 17:31] rossant commented on #977
`enable_notebook()` could enable not only the app backend but also things like JavaScript modules etc, so it would not be equivalent to just `use_app`.

The notebook backend is quite different from all the other backends (desktop) so I don't see a problem with that.

[2015-06-04 18:34] Eric89GXL commented on #977
I agree that functionally it operates differently (remote communication etc.), but we have actually constructed it to be as equivalent as possible to other backends in terms of the experience for end users. FWIW I see this as an advantage. Sure the backend does more complex processing, but all we have to do to use it is `use_app('ipynb_webgl')` to use it. If and when we needed more backend-specifi

[2015-06-04 21:12] jdreaver commented on #918
I agree with @Eric89GXL. I think that @jvtrudel's proposal is very interesting, but an mpl-style API is both easy to use *and* easy to implement.

[2015-06-05 03:23] jvtrudel commented on #918
I also agree with @Eric89GXL and @jdreaver. Mpl-style is easier and refinement could be done later. What does it take to adapt vispy.plot to mpl-like api? Which new features do we need? How to implement it?

[2015-06-05 11:42] almarklein commented on #977
On one hand I agree with Eric, but I also recognise that users are going to forget (and thus having to look up) the "ipynb_webgl" name (at least I do). For desktop use, people actually do not need it in general, because Vispy is smart enough to select a good default app, this is not so much the case for the notebook (because the IPython folks deliberately made it hard to detect whether you're runn

[2015-06-05 14:09] Eric89GXL commented on #977
what if we changed the name to `use_backend` or `enable_backend()`, then the name would be given in the docstring? or maybe we should just change the name of the backend to `notebook` (we can keep an alias to the old one if we want) so it would just be `enable_backend('notebook')`? That to me is almost the same and prevents future namespace pollution.

[2015-06-05 15:31] Eric89GXL commented on #918
Getting AxisVisual (#980) and improving performance (#928) / integrating collections would be the top two priorities to me. Then it would be integrating the AxisVisual with the PlotWidget, integrating the ColorbarVisual (#979) with the PlotWidget, then expanding the set of visuals and/or expanding the `vispy.plot` module.

[2015-06-05 20:27] QuLogic commented on #977
Have you thought of creating an IPython extension instead? One that automatically switches backends and tunes whatever else might be necessary. It would work something like [holoviews](https://ioam.github.io/holoviews/) and should be familiar to any IPython user (e.g., `%load_ext vispy.ipython`). (Note: I am basing my understanding of the holoviews extension on the one line that appears at the beg

[2015-06-05 20:34] Eric89GXL commented on #977
+1 for that solution, it seems like the nicest way to integrate. For now I guess all it would do is call `use_app`. Any takers for a PR? @bollu if you have time?

[2015-06-06 19:25] bollu commented on #977
@Eric89GXL I'm not sure as to what the plumbing needed for that is. I'll definitely take a look and outline what you need for this though.

[2015-06-06 19:37] bollu opened #981 "using a TextVisual leads to unintended scaling of other Visual"
I'm not sure if creating an issue is the right thing to do, but I haven't been able to debug this, so I decided to go ahead and just create one.

The problem is that when I use a ```TextVisual``` with multiple strings (as the constructor allows, it throws off the scaling _completely_ and causes the entire scene to become really tiny. I don't know why this happens.

Also, it __does  not__ happen if

[2015-06-06 21:56] bollu commented on #977
@QuLogic do we need a extension or a magic command?

Like, matplotlib is just ```%matplotlib``` [like so](https://ipython.org/ipython-doc/dev/interactive/magics.html#magic-matplotlib), which is considered a "magic function", that is given access to ```iPython's``` context when it is called.

However, an extension is way more extensive and gives close to complete control over the iPython shell. [do

[2015-06-06 22:23] QuLogic commented on #977
I'm not sure you can create a magic command without installing an extension in the first place, but I didn't look too deeply into that side of it.

[2015-06-06 22:26] bollu commented on #977
@QuLogic if you load a module, it works. So I'm assuming somewhere in the pipeline of vispy, we check if we're running inside ipython, and then load the custom magic command module. [the docs are here](https://ipython.org/ipython-doc/dev/config/custommagics.html)

[2015-06-06 22:28] rossant commented on #977
I think the extension is the way to go

Le dimanche 7 juin 2015, Siddharth <notifications@github.com> a écrit :

[2015-06-06 22:34] bollu commented on #977
@rossant very well. I'll try and get a pull request (WIP) that's a stub in an hour or so. We can move the discussion there, agreed?

[2015-06-07 01:56] Eric89GXL commented on #981
So you have this problem with using a single TextVisual with a list of two positions and a list of two strings. Does it happen if you make two text visuals, one with the first position and string, and the other with the second position and string? Can you turn it into a minimal example (e.g., using as few lines as possible on current `master` branch)? That would help isolate the problem.

[2015-06-07 17:47] bollu commented on #981
@Eric89GXL: [here is a minimal gist](https://gist.github.com/bollu/3ede93ded395c6a5b283)

***what it looks like initially:***

![screenshot from 2015-06-07 23 13 59](https://cloud.githubusercontent.com/assets/1694861/8025215/fd31f70c-0d6a-11e5-907b-41b191b4671d.png)

***what it looks like after pressing a key _twice_ on the keyboard***

![screenshot from 2015-06-07 23 14 07](https://cloud.githubus

[2015-06-07 17:54] rougier opened #984 "Weigther order independent transparency"
I've implemented  the weighted order independent transparency in:

https://github.com/glumpy/glumpy/blob/master/examples/transparency/oit.py
https://github.com/glumpy/glumpy/blob/master/examples/transparency/oit-multipass.py

based on http://jcgt.org/published/0002/02/09/

The technique is pretty simple (but was hard to code) and require first to render the scene to a framebuffer (one pass with tw

[2015-06-07 17:55] Eric89GXL commented on #981
So the `TextVisual` under the hood actually does its own rendering to create each glyph. This rendering occurs on an offscreen buffer, so it queries the OpenGL state before actually rendering. I have a feeling there are some delayed GLIR queues causing problems where the state is queried and set incorrectly here.

Things to probe:

1. Does it still fail for you if the second TextVisual object is a

[2015-06-07 17:56] bollu commented on #981
@Eric89GXL  I'll try both and get back

[2015-06-07 17:57] bollu commented on #981
@Eric89GXL It works perfectly if the second ```TextVisual``` also renders just one string

[2015-06-07 17:57] Eric89GXL commented on #984
@rougier I think there are some simple examples that you could test with in #902. cc @KelSolaar if you have some compelling examples from your program that would be helpful, too. I think it should be possible (hopefully straightforward) to add an option to render using this technique using SceneCanvas. We'll definitely need to wait for #928 to get merged before doing it, though.

[2015-06-07 18:00] Eric89GXL commented on #981
interesting... I wonder if I did something stupid with the concatenation and position setting. If you have time to investigate (e.g., by adding some debugging `print` statements at various places in the text visual generation and drawing code) please do otherwise I can look tomorrow.

[2015-06-07 18:03] bollu commented on #981
@Eric89GXL, I'll try and do it once I finish up the colorbar. I need to learn how to do the right coordinate transforms for it for the pixel width border!

[2015-06-07 18:04] Eric89GXL commented on #981
Cool. For now then, just use two TextVisuals in your ColorbarVisual so you can wrap that up, and add a note saying that they should be combined once this issue is closed.

[2015-06-07 18:05] bollu commented on #981
all right.

also, once ```AxisVisual``` gets merged, we can use that, correct?

[2015-06-07 18:07] Eric89GXL commented on #981
Yeah, but it blows up Luke's system, so don't wait for that. And we'll probably also need to modify it to e.g. allow actually setting what the ticks should be, or the number of ticks. Right now it is basic and just always does 10 spanning the full range of the axis, which might not be great for a colorbar.

[2015-06-07 18:11] bollu commented on #981
@Eric89GXL hm, okay then, I'm constructing two ```TextVisual```s in that case with a URL to the issue, so that it can be fixed later.

[2015-06-07 19:10] KelSolaar commented on #984
I'm right now cleaning my code so I'm hoping to have something almost ready to use to try in a few days.

[2015-06-08 08:08] almarklein commented on #984
@rougier sweet!

[2015-06-08 15:03] rougier commented on #984
Yes

![](http://glumpy.github.io/_static/screenshots/teapot.png)

[2015-06-08 15:55] Eric89GXL commented on #984
@rougier any idea what the performance hit is? a factor of two or more probably (rendering scene multiple times)?

[2015-06-08 15:55] Eric89GXL commented on #984
also looks great :)

[2015-06-08 17:08] rougier commented on #984
Performance is great because the scene is rendered only once in the framebuffer and then the framebuffer is displayed (single quad) for compositing. Very fast indeed.

[2015-06-09 04:27] Eric89GXL commented on #984
BTW @rougier is it easy to produce that same image with the technique turned off?

[2015-06-09 04:35] rougier commented on #984
Yes, you only have to change the fragment shader.

[2015-06-09 04:36] Eric89GXL commented on #984
I mean can you upload an example here, I want to compare the two visually

[2015-06-09 04:39] rougier commented on #984
Order dependent ([reference.py](https://github.com/glumpy/glumpy/blob/master/examples/transparency/reference.py))
![](http://i.stack.imgur.com/IcOiM.png)

Order independent ([oit.py](https://github.com/glumpy/glumpy/blob/master/examples/transparency/oit.py))
![](http://i.stack.imgur.com/Cyavo.png)

[2015-06-09 04:41] Eric89GXL commented on #984
I saw those, I meant that sweet tea pot

[2015-06-09 04:54] bollu commented on #984
@Eric89GXL, it's called the [Utah teapot](http://en.wikipedia.org/wiki/Utah_teapot) IIRC :)

[2015-06-09 05:03] rougier commented on #984
Teapot opaque:
![](http://i.imgur.com/WSuHULd.png)

Teapot order dependent transparency (25%):
![](http://i.imgur.com/y8hgCoR.png)

Teapot order independent transparency (25%):
![](http://i.imgur.com/TDf6YiC.png)

[2015-06-09 05:09] Eric89GXL commented on #984
oh.... wow. Thanks @rougier. Now we just have to translate some code :)

[2015-06-09 05:16] rougier commented on #984
Should be pretty straightforward. The only "problem" is that it requires a multi-target framebuffer (two color buffers attachment) but I also added a single target framebuffer example (but two passes required in such a case).

[2015-06-09 05:18] Eric89GXL commented on #984
Is multi-target FB not ES2.0-compatible?

[2015-06-09 05:20] rougier commented on #984
I'm not sure if it is compatible. @almarklein do you know ?

[2015-06-09 07:53] almarklein commented on #984
I'm actually really happy that there's a way to still do it with one framebuffer, because I was not sure whether that would be at all posible! :D

I don't think ES2 supports multiple color targets, because it only has the COLOR_ATTACHMENT0 enum (whereas desktop gl also has COLOR_ATTACHMENT1, etc.).

[2015-06-09 13:58] Eric89GXL commented on #984
Maybe we could have the code auto-detect based on the GL version or extensions whether to use one pass with two targets or two passes with one target.

[2015-06-10 17:12] bollu opened #985 "Add Vispy IPython extension to IPython wiki"
* Add Vispy into the [IPython wiki index] (https://github.com/ipython/ipython/wiki/Extensions-Index)

[2015-06-13 15:30] josephwinston commented on #957
As suggested by @Eric89GXL, I've reduced the code to:

[code]

with the patch to `vispy/util/logs.py`, but the images aren't correct.

On firefox 38.0.5 running on OS X 10.10.4 the JavaScript console reports the following:

[code]

It looks like there is a WebGL error.  Is there anything I can do to help debug this further?

[2015-06-13 23:13] KelSolaar opened #986 "Toggling visibility on a "Node" should "optionally" toggle visibility of its children."
This one is actually highly debatable: at the moment it is possible to make a `Node` invisible in the `SceneGraph` but its children will still remain visible.

Usually in DCC application, I'm especially thinking about Autodesk Maya as it is the one that is the most used in VFX and Game industries, when you hide a node all the children nodes are getting hidden.

Right now I have to manually walk th

[2015-06-14 15:53] campagnola commented on #986
I think this is already fixed in #928.

[2015-06-14 19:35] KelSolaar commented on #986
Perfect Luke!

[2015-06-14 20:38] almarklein commented on #986
How is it implemented? I think that indeed children should become invisible too (not optionally).

[2015-06-14 20:44] campagnola commented on #986
See yourself:
https://github.com/vispy/vispy/pull/928/files#diff-c5071cd0aede5e96f97f6ca7c0dd2addR265
Note that this for-loop is the entire routine for drawing the scene. It is much simpler (and faster) than the DrawSystem we are currently using.

[2015-06-14 22:07] campagnola commented on #957
It would be nice if we could see the GLIR commands that led to this. @rossant, is that already implemented somewhere?

[2015-06-14 22:09] rossant commented on #957
i think @izaid contributed a vispy-export CLI option to export the glir commands in an HTML or JS file

[2015-06-14 22:21] josephwinston commented on #957
The command to export a file is documented here <https://github.com/vispy/vispy.js/issues/13>.  Running this on the program produces:

[code]

I'm guessing that:

[code]
Isn't correct but removing the lines don't produce the html.

[2015-06-14 22:21] josephwinston commented on #957
Fat fingers -- I didn't mean to close

[2015-06-14 22:31] rossant commented on #957
the webgl backend should *not* be used when exporting the commands
what command are you running exactly?

[2015-06-14 22:44] josephwinston commented on #957
Using:

[code]

in a file called foo.py and invoking as `~/anaconda/bin/python foo.py --vispy-export=myviz.html` produces:

![example](https://cloud.githubusercontent.com/assets/226217/8150780/ca46c7b2-12bc-11e5-8ad3-e20bd9d5ac83.png)

Exiting with and `escape` key press does not produce `pyviz.html`

[2015-06-14 23:00] rossant commented on #957
hmm, one possibility might be my bad memory: https://github.com/vispy/vispy/blob/bc2d3047acf26a81f1c0d8f9175324e044e89459/vispy/util/config.py#L117 ...

[2015-06-14 23:09] josephwinston commented on #957
Running with `~/anaconda/bin/python foo.py   --vispy-glir-file=myviz.html` produces <https://gist.githubusercontent.com/josephwinston/74d7f5425cf8386c79e7/raw/myviz.html>

[2015-06-14 23:15] rossant commented on #957
ok this is a JS file -- can you open it from test_commands.html in the vispy.js repo?

[2015-06-14 23:23] josephwinston commented on #957
No output from firefox 38.0.5.  The console reports:

[code]

It looks like the JavaScript version of vispy isn't installed.

[2015-06-14 23:38] izaid commented on #957
It's been a while, so hopefully I'll be able to help. I think you have to install vispy.js, have you done that?

[2015-06-14 23:38] josephwinston commented on #957
By the way, `display_points.json` in the example directory fails the same way in firefox as well as safari 8.0.7.  Might be a user error here.

[2015-06-14 23:39] josephwinston commented on #957
I'm using head of vispy.js (75034785d094ffee8a61865ac9eb9b39b4aabfcd)

[2015-06-14 23:59] josephwinston commented on #957
Following the install instructions in vispy.js

[code]
Makes `test_commands.html` work.

Here is the output, the same thing I see in the browser.

![untitled](https://cloud.githubusercontent.com/assets/226217/8151028/2b1a9ece-12c7-11e5-9ac3-9dfe0107202c.png)

The error looks to be the same too.

![untitled2](https://cloud.githubusercontent.com/assets/226217/8151042/81faff86-12c7-11e5-8e73-1d5f16f2

[2015-06-15 00:03] izaid commented on #957
Are you volume rendering? If yes, that's the problem.

[2015-06-15 00:03] izaid commented on #957
Not all of VisPy works in the browser because not all of OpenGL is supported in the browser. Volume rendering is one such example.

We've been trying to get it there, but haven't done so yet.

[2015-06-15 00:06] josephwinston commented on #957
I thought that I commented out the volume rendering.

[code]

But I'm a new vispy user and could be wrong.

[2015-06-15 03:24] KelSolaar commented on #986
The "optionally" thing is coming from the fact that in Autodesk Softimage / XSI one is able to either hide the whole branch or just the node in question. I will be more than happy if everything gets hidden.

Notice that in Autodesk Maya, if you want to make a children visible, all the parents will be made visible until the child is visible.

[2015-06-15 04:12] #549 closed

[2015-06-15 08:17] chipmuenk opened #987 "Example examples/basics/plotting/mpl_plot.html only creates blank subplots"
When running the example under

http://vispy.readthedocs.org/en/latest/examples/basics/plotting/mpl_plot.html

for the first time, some files are downloaded and then I just get a canvas with three blank subplots.Subsequent runs give the same result (except that no files are downloaded):

![vispy_empty_canvas](https://cloud.githubusercontent.com/assets/4620020/8155665/9f109980-1346-11e5-9195-0bd14e

[2015-06-15 09:09] izaid commented on #957
Yeah, it's not just the volume rendering that doesn't work in the browser, but some of the underlying scene graph stuff. This might be what vispy.plot uses -- @campagnola @almarklein are the people that know.

In any case, we need to fix the WebGL issues. We're aware of that...

[2015-06-15 09:24] chipmuenk commented on #987
I found the problem by chance (although I don't understand it):

Replace the last line

       plt.show(True)
by

       fig.show(True)

and everything works fine.

Working with the Spyder IDE, the run setting needs to be "Interact with the Python console after execution", otherwise the figure will only flash shortly before being deleted.

[2015-06-15 09:30] chipmuenk commented on #987
Sorry, hit the wrong button: I think somebody should edit the example as users without OpenGL background will most likely try to run of the high-level API examples.

[2015-06-15 09:43] KelSolaar commented on #984
Ready to try whenever you have something guys, almost usable repository of my toy app is there: https://github.com/colour-science/colour-analysis, Colour, Numpy & Scipy are required, if you want to be able to read images, you'll also need OpenImageIO.

[2015-06-15 18:56] QuLogic commented on #987
This is supposed to work fine, and was broken for 0.4.0, fixed in master (#969), and somehow broken again in the latest master. @Eric89GXL I guess maybe some merged branch broke this again?

[2015-06-15 18:57] QuLogic commented on #987
Sorry, my mistake, I was testing a branch. This _is_ fixed in master.

[2015-06-15 19:44] Eric89GXL commented on #987
@chipmuenk can you see if it works for you using latest master?

[2015-06-15 21:12] #977 closed

[2015-06-15 21:59] #682 closed

[2015-06-16 11:01] chipmuenk commented on #987
Thanx for the quick response - with latest master it does work:
![vispy_canvas](https://cloud.githubusercontent.com/assets/4620020/8181592/7f336b06-1427-11e5-9ee2-3f1166ef8d96.PNG)

However, axes are missing now - should they be working at the time being?

[2015-06-16 13:33] Eric89GXL commented on #987
Closing this, then. Axes are currently on the way, but aren't in quite yet :)

[2015-06-16 13:33] #987 closed

[2015-06-17 08:02] kmuehlbauer opened #989 "Improving isocurve calculation speed (Isocurve Visual)"
I use this example with an added 'auto' timer and numpy roll the data between the timer updates to create some motion:

https://github.com/vispy/vispy/blob/master/examples/basics/scene/isocurve.py

For my system I get frame rates of around 12 fps using the original vispy isocurve calculation (in geometry).

After that I tried the pure python scikit-image implementation of contour finding: http://s

[2015-06-17 13:10] campagnola commented on #989
As a first step, we could attempt to import these routines first from matplotlib and then scikit-image and then fail over to the built in version if those packages are not available.

[2015-06-17 13:51] sh4wn opened #990 "Networks/Graphs API Design"
Hi all!

In this issue I would like to discuss the design of the networks/graphs API for Vispy. I know @jvtrudel has got some ideas about that, but maybe other people also have some ideas about this.

Some things to consider:

- NetworkX integration
- Organisation of visuals
- ...

I'll start with this next week, but I think it is a good idea to start a discussion a bit earlier.

[2015-06-17 15:45] Eric89GXL commented on #990
I think we should avoid a dependency on NetworkX for viz if possible, at least to start. It's fine to have examples use NetxworkX to e.g. set up a network, but the plotting should only involve a call to a `Vispy` visual / plotting function (that does not depend on NetworkX) in my mind. Is that what you were thinking regarding NetworkX?

[2015-06-18 17:06] nippoo commented on #981
This might be related to #975.

Is there any progress on this issue? It's been bugging me too...

[2015-06-18 17:08] Eric89GXL commented on #981
No, we need to get #928 in before we can make additional progress on these issues. Some of them will be fixed, some won't. But the systems have been changed there so we need to make the fixes to that. If you have time, you could help @campagnola and @bollu port visuals in the new system, which would get us closer to fixing this.

[2015-06-19 09:41] nnmm opened #992 "Many examples not rendering correctly"
Hi,
in both the latest master and 0.4.0 release, many examples, especially from basics, are failing to render correctly. They don't output anything on the console and don't crash. Here's examples/demo/gloo/realtime_signals.py – there are colored specks moving to the left.
![realtime_signals](https://cloud.githubusercontent.com/assets/1933253/8250522/f0c37514-1674-11e5-8ca7-bb815b3580e1.png)
Others

[2015-06-19 09:42] rossant commented on #992
what GPU drivers do you have?

[2015-06-19 10:28] nnmm commented on #992
I don't have mesa-utils, hope this helps:
![gpu drivers](https://cloud.githubusercontent.com/assets/1933253/8251652/a5ce43fe-167e-11e5-8d4b-7b307d2eae08.png)

[2015-06-19 11:15] campagnola commented on #981
Just fixed a bug in #928 where TextVisual was changing the glViewport; hopefully that's it.

[2015-06-19 13:09] rossant commented on #992
can you try the proprietary nvidia drivers?

[2015-06-19 13:54] Eric89GXL commented on #992
Yeah, I think the open source drivers probably do not have full 3D support
yet.

[2015-06-19 13:57] Eric89GXL commented on #981
Yeah that's probably the culprit. But it needs to change it during
rendering of SDF. Can you point to the change? I'm curious how you fixed it.

[2015-06-19 14:13] campagnola commented on #981
See the most recent commit.

[2015-06-19 14:15] campagnola commented on #992
I think nouveau is supposed to be fully-functional. It would be nice if we can support it, but I'm not sure how much effort it's worth. If we can pinpoint exactly what's different about these drivers, then at least we should file a bug report upstream.

[2015-06-19 14:38] Eric89GXL commented on #981
I guess I should have just looked at the commits, sorry about that... looks like flushing at a different point in the code. I bet it will fix this.

[2015-06-19 16:04] nnmm commented on #992
I switched to the NVIDIA driver version 331.113. This probably doesn't concern vispy, but now I get "RuntimeError: context could not be created" from backends/_qt.py and 'Xlib:  extension "GLX" missing on display ":0".' As an added bonus, I'm unable to log in using Unity.

[2015-06-19 17:17] campagnola commented on #992
..and there we have a great reason to want to support nouveau :)

[2015-06-19 17:17] bollu commented on #549
@rossant: First porting ```PolygonVisual``` to the new visuals system,
@Eric89GXL got an ```AxisVisual``` up and running, but this needs to be ported to the new system as well. That will be after polygons by me :)

[2015-06-19 17:57] Eric89GXL commented on #549
@bollu I think @campagnola already is working on that bit, see his updated description and code in #928

[2015-06-19 17:57] Eric89GXL commented on #549
(working on AxisVisual I mean)

[2015-06-19 19:15] bollu opened #993 "Allow make.py test flake to run docstring tests as well"
As of now, ```make.py test flake``` does _not_ test the docstrings, which means the docstring tests present at  ```vispy/util/tests/test_docstring_parameters.py``` need to be run separately.

Forgetting that step means waiting for the CI to pass the build, have that fail after 5 minutes, and then fix the docstrings again.

I propose to allow ``make.py test flake``` to run the docstring tests as we

[2015-06-19 20:33] Eric89GXL commented on #993
I'd rather not expand `make flake` because then it's a bit of a misnomer, maybe add an entry `make docstring` or `make doccheck` or something.

[2015-06-19 20:38] bollu commented on #993
sure. I think ```docstring``` is more explicit

[2015-06-19 21:52] QuLogic commented on #993
They're more commonly called `doctests`...

[2015-06-19 21:53] bollu commented on #993
@QuLogic hm, I wasn't aware of that :) All right. so, ```doctests``` it is? ```python make.py test doctests```?

```python make.py test docs``` seems neater

[2015-06-19 21:54] Eric89GXL commented on #993
Doctests are AFAIK different, those check code executing in docstrings.
This checks docstring parameter listing.

[2015-06-19 21:59] QuLogic commented on #993
Ah, you're right, they're not the same. `python make.py test docs` is nicer looking though and I don't think there's anything too confusing about it.

[2015-06-19 21:59] bollu commented on #993
@Eric89GXL yeah, looks like it.

[2015-06-19 22:00] bollu commented on #993
cool, so ```python make.py test docs``` works?

[2015-06-19 22:45] bollu opened #994 "have dedicated functions for radian / degree conversion?"
I know that this is a really small issue, but I've been rewriting some ```EllipseVisual``` code, and I would like it if there were standard functions to convert ```radians <-> degrees```.

I know that it's trivial, but seeing something like ```theta = deg_to_rad(angle)``` is much nicer (IMO) than ```theta = angle * np.pi / 180.```

[2015-06-20 00:17] QuLogic commented on #994
[`np.deg2rad`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.deg2rad.html) and [`np.rad2deg`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.rad2deg.html)...

[2015-06-20 00:26] bollu commented on #994
@QuLogic oh, cool. Numpy has everything!

[2015-06-20 00:26] #994 closed

[2015-06-20 13:52] Eric89GXL commented on #918
Closing as resolved for now

[2015-06-20 13:52] #918 closed

[2015-06-21 15:36] #993 closed

[2015-06-22 18:01] jvtrudel commented on #990
I do not agree with this strategy.
NetworkX could be a fast avenue to implement specialized graph transformation. Ultimately, I agree that we should not use NetworkX for "data storage". But it would clearly be an advantage to be able to accept users input  data with the NetworkX formats/objects.

[2015-06-22 18:23] kmuehlbauer commented on #974
I've just had a look into #928 regarding the when and why a texture update is needed (image visual).

In my application I set the colorlimits `clim` only once. Then I use `set_data` function to feed new texture data. To speed up things a bit, I also have the colortransform part in a dedicated function, which is called only when `cmap` or `clim` is set to new values.

There are other things I'm won

[2015-06-22 20:16] Eric89GXL commented on #990
I think it would be okay to eventually have a layer that would accept these types of inputs, but for the first pass I think it's important for orthogonality and low dependency count to have something that works wel for `ndarray`.

[2015-06-22 20:30] rossant commented on #990
we can accept networkx objects without a dependency to networkx no?

[2015-06-22 20:33] bollu commented on #990
@rossant: I don't really belong to the discussion, but how? AFAIK even ```isinstance(obj, type)``` needs the ```type```. So, how do you check if an object is a networkx object?

One way maybe by accepting a keyword argument ```GraphVisual(networkxdata=_)``` ?

[2015-06-22 20:35] rossant commented on #990
I imagine you can test by checking attributes (duck typing)

[2015-06-22 20:41] bollu commented on #990
rossant: hm. so, catch the ```AttributeError``` if you're not able to access a networkx style attribute?

[2015-06-22 20:44] Eric89GXL commented on #990
I don't think looking for attributes would be safe / clean enough, but we could have a simple thing like:
[code]
Then proceed later to use it appropriately. But in any case, something that worked with general arrays or maybe sparse matrices (scipy support?) would be a prerequisite in my mind.

[2015-06-22 20:47] bollu commented on #990
@Eric89GXL this is for rendering _and_ representing graphs, right?

[2015-06-22 20:57] Eric89GXL commented on #990
Rendering. I'd prefer to have some API that worked for some simple way of representing graphs, then extract that type of representation from objects (e.g., networkx objects) if possible. If it's not possible to represent the graphs without networkx, then I guess we'll have to add a dependency on it.

[2015-06-22 21:02] bollu commented on #990
The discussion reminded me of this:

http://bl.ocks.org/mbostock/4062045

The use a simple ```[node]```, [edge]``` representation for that visualization

[2015-06-22 21:05] Eric89GXL commented on #990
That would be an awesome example to replicate here. Similar syntax to what graphviz / pygraphviz uses.

[2015-06-22 21:18] bollu commented on #990
Yeah, d3 has crazy awesome graph examples that convinced me to use it in the first place :) A couple more:

- [collapsible graph](http://mbostock.github.io/d3/talk/20111116/force-collapsible.html): Click on the nodes to collapse

- [tree layout](http://bl.ocks.org/mbostock/4063550)

[2015-06-22 21:44] rougier commented on #990
There is a simple example using force-directed graph in https://github.com/glumpy/glumpy/blob/master/examples/graph.py

There is no dependency but the parameters need to be tuned a little bit. It is mainly a collection of markers and a collection of segmentS. I've studied networkx and from what I've found, you cannot really use it for for the force-directed animation.

[2015-06-22 22:07] Eric89GXL commented on #974
I think that eventually it would be good to have the scaling done on the GPU, we are limited by the data type and limits of the texture. We try to maintain OpenGL ES2.0 support, which means restricting the set of usable data types and functions. I'm not sure if we can do the clim setting on the GPU. @rougier do you have ideas?

[2015-06-23 02:17] campagnola commented on #974
You are correct that the logic for deciding what should be updated is not good -- the vertices, texture, and colormap all need to be updated independently. If you have the time to sort it out, please open a PR!

[2015-06-23 02:25] campagnola commented on #974
Regarding normalization: we certainly should be able to use unclamped 32-bit float textures. This is just another area that needs some attention from a willing contributor. I would also like to use float textures for surface plotting..

[2015-06-23 02:33] campagnola commented on #974
(sorry for the flood)
Actually, it might already be possible if you can just tickle `ImageVisual` into using the correct texture format:  `tex = gloo.Texture2D(data, internalformat='r32f')`

[2015-06-23 02:34] Eric89GXL commented on #974
Makes sense to me. Such code wouldn't end up being ES 2.0 / WebGL compatible, though, right?

[2015-06-23 02:38] campagnola commented on #974
That's correct.

[2015-06-23 07:44] kmuehlbauer commented on #974
Thanks for the explanations. I can try to help on the image_visual update logic. Where should the PR be originated from and where should it have its destination.

I just checked out the scenegraph-update branch of @campagnola, but it seems that my application doesn't run with that branch. I'll try with a stripped down example again.