[2018-05-17 15:31] djhoese commented on #1482
I meant to do that 😜

Have a look at specifying the `color` (via property) or the face color (via init keyword argument), at least as a test. I'm not seeing a face color property at the moment but that might be what you need. You could specify an RGBA color with a lower alpha.

[2018-05-18 10:28] JPFrancoia commented on #1482
Hum, I tried this (in my code above):

[code]

So I can easily setup color and transparency. Here is what I get:

![screen](https://user-images.githubusercontent.com/2399090/40230068-37d11172-5a8e-11e8-8323-3b2d8fd4d8a1.png)

So basically, same results as before, but with a different color...

I think the problem is that when the transparency is set, some faces have this weird grey colours, all di

[2018-05-18 12:26] djhoese commented on #1482
@JPFrancoia It's hard to tell from the screenshot but is the center of the figure not transparent in Cura? Or is this from multiple faces being put on top of each other and making it look not transparent?

Also, the Cura screenshot doesn't seem to have any lighting effects on it in the xray view, could that be making things weird?

[2018-05-18 13:39] JPFrancoia commented on #1482
I don't understand what you mean.

Also, the Cura screenshot doesn't seem to have any lighting effects on it in the xray view, could that be making things weird?

Definitely, I think this it. I think we're not too far to achieving the same result. For the X-ray view, I think I need to set the shading of the mesh to None, and disable ligthing effects. But I don't know how to disable the lighting ef

[2018-05-18 13:48] djhoese commented on #1482
For the first question, I was talking about if you add up enough semi-transparent objects they end up looking opaque, right? So I was wondering if the center cylinder in your Cura image just looks opaque from the screenshot or if it actually is opaque.

I would think turning off shininess should turn it off or maybe playing with the `light_dir` property: https://github.com/vispy/vispy/blob/master/

[2018-05-18 14:26] JPFrancoia commented on #1482
I'm not sure I understand, but the screenshot exactly looks like what I have on my screen. But yeah the center cylinder is actually opaque in Cura. So strictly speaking, I'm not sure Cura uses transparency.

I tried the ```light_dir``` solution (I set it to 0, 0, 0):

![screen](https://user-images.githubusercontent.com/2399090/40239340-afc49748-5aad-11e8-9730-09bde7336a11.png)

So it's darker but

[2018-05-18 14:35] djhoese commented on #1482
What if you set the face colors so the outside is semi-transparent but the inside cylinder is opaque? I'm sure it won't look perfect, but it would be good to see the difference.

Also, is Cura showing the data loaded from the stl file? Or is it the software that created the file? The image from vispy looking like it is made of a lot of smaller shapes (with faces in between chunks of the cylinder e

[2018-05-18 14:45] JPFrancoia commented on #1482
It's not possible. The object is not two cylinders, it's a beaker. So the "inside cylinder" in Cura's screenshot is void.

Yes

The stl file store vertices and unit normals: https://en.wikipedia.org/wiki/STL_(file_format). The  smaller shapes you see are probably the faces of my object. There are plenty, since the object is rendered in a decent resolution.

But on the same file, Cura is capable of

[2018-05-18 15:10] djhoese commented on #1482
So I think what is happening is that vispy or opengl is drawing each of the STLs shapes and each face of those "wedges" is having an additive effect so the faces that are next to each other appear less transparent (more opaque) which produces weird results.

You may have luck playing with the GL state (`my_vis.set_gl_state('translucent', blend=True)` and/or other GL state options (depth_test...pro

[2018-05-19 02:15] campagnola commented on #1482
Three points:

1. There is a mesh example that includes meshes without lighting:
examples/basics/visuals/mesh.py

2. Transparency in openGL is tricky because you either need to draw all
faces in the mesh sorted from farthest to nearest (which vispy currently
does not support) or you need to use an order-independent blending mode. A
quick way to achieve the latter is to use visual.set_gl_state('add

[2018-05-20 10:53] JPFrancoia commented on #1482
Thank you all for your answers.

So I did some tests:

@djhoese :

Actually the only test that helped was ```depth_test```. By using:

[code]

I get a more suitable result:

![screen](https://user-images.githubusercontent.com/2399090/40278134-561314b4-5c23-11e8-9f23-fbce9e9b1cae.png)

I could live with that, but it's still not perfect.

Do you have any idea how I could disable these additive effec

[2018-05-26 12:14] firestructure commented on #875
Ok, I am pretty new to this. I have had the same problem for days. But what is the workaround that @larsoner  had in mind? I can't find the solution?

[2018-05-26 13:02] djhoese commented on #875
@firestructure This is an old issue and a lot of things have changed in jupyter notebooks. Please try installing vispy from the github master branch and let me know if you have any issues by filing a new github issue or bringing it up on https://gitter.im/vispy/vispy.

[2018-06-02 10:21] mkkb opened #1483 "panzoom camera.set_range(margin=0) bug?"
I found out that setting range with margin=0 does not work as excpected, at least not in small intervals (<1). I made a simple example to show the behavior.

[code]

[2018-06-02 13:35] djhoese commented on #1483
@mkkb Could you give a little more detail? I ran your example and I think I can tell it is wrong, but can you give exactly what you expect to see and what you're actually seeing.

All of that said, I think the main cause is:
https://github.com/vispy/vispy/blob/master/vispy/scene/cameras/base_camera.py#L281

[2018-06-02 13:38] djhoese commented on #1483
I'm not sure why that 0.1 is there and why it might be an issue to have a 0 margin. Removing it gives me expected results, for me at least.

[2018-06-02 14:30] mkkb commented on #1483
I expect to see the range parameters I set to be completely at the edges of the plot. If you don't use "margin=0" you get some default margin, and "margin=0" works for intervals well over 1 for me. E.g. at the plot below, margin=0 works at bottom graph where x-range is 0-40000 but at the top graph the range is below 1, it does not work.

![image](https://user-images.githubusercontent.com/7489565/4

[2018-06-02 14:37] mkkb commented on #1483
Another thing i was wondering about is, either specify or have some algorithm to automatic format the axis ticks labels so they don't overlap. Is that already possible, or could it be worthy an issue/PR?

![image](https://user-images.githubusercontent.com/7489565/40877546-1d8796a0-6683-11e8-8a84-98873e625d67.png)

[2018-06-02 14:57] djhoese commented on #1483
I'm not sure if the axis labels are already implemented. Definitely worth an issue, but a PR would be greatly appreciated.

Based on the code as it exists, the behavior of the `set_range` function makes sense even if it unexpected. That is, a margin of 0 turns in to a margin of 0.1 (value, not percentage). Your second plot above is actually suffering from the same thing but since the range is larg

[2018-06-02 15:14] mkkb commented on #1483
I can try to make a PR on both.

[2018-06-02 18:57] mkkb commented on #1483
I can see that the axis labels issue also is already addressed in the source code, but it is commented out:
https://github.com/vispy/vispy/blob/70fabf2c28504325ac31782c108a5003fc6eb890/vispy/visuals/axis.py#L302
So I think a possible solution is to create a "nbins" property (or a more intuitive name) for the axis visual, and if set in the AxisWidget() call the user can use the MaxNLocator(nbins=nb

[2018-06-03 12:35] djhoese commented on #1483
@mkkb How does matplotlib handle this? Do they have something that auto-distributes the tick lables well (iirc no)? What is the name of their keyword argument for users who want to specify the number of points? I suppose they have to use the `Locator` classes right? At least that's what I remember.

[2018-06-03 22:16] mkkb commented on #1483
I think matplotlib uses the MaxNLocator class with its default values for a standard plot.
And the simplest way to edit I could find was this:
[code]
And this example shows how a user can do more custom stuff:
https://github.com/matplotlib/matplotlib/blob/92a93d698b1085a20b40274dee4ea19013d011f0/examples/axisartist/demo_axis_direction.py

Matplotlib source code file:
https://github.com/matplotlib/

[2018-06-03 23:34] djhoese commented on #1483
Yeah, vispy could probably use a re-evaluation of the plotting api and how users should customize things (matplotlib-like versus other). One concern would be too many keyword arguments going in to `__init__` methods.

I'm fine if you want to throw a PR together, but final decision on this should really get some feedback from @campagnola who I think originally created the plot API(?).

[2018-06-06 10:07] KelSolaar opened #1484 "macOs and deprecation of OpenGL and OpenCL."
I suppose most of you have read about it: https://developer.apple.com/macos/whats-new/#deprecationofopenglandopencl

I wanted to know if there were discussions about the consequences this would have for Vispy on macOs.

Cheers,

Thomas

[2018-06-07 18:12] sanketgujar opened #1485 "Visualization for Point cloud series"
How can I visualize a series of point cloud from a rosbag in vispy?

[2018-06-07 18:21] djhoese commented on #1485
I'm not familiar with what format that is although a quick google search shows me a little information. You probably want to start with a `MarkersVisual`. We have many example scripts that can give you ideas for how to do things: https://github.com/vispy/vispy/tree/master/examples

As far as reading the format, we don't provide anything to read rosbag but it looks like the tools come with a python

[2018-06-07 20:21] sanketgujar commented on #1485
Thanks for the help. I am using the script in the above examples to visualize point clouds, Actually I wanted to know what changes should I make to the   https://github.com/vispy/vispy/blob/master/examples/basics/scene/point_cloud.py. script to visualize temporal point cloud arrays.

[2018-06-07 20:28] djhoese commented on #1485
@sanketgujar You would want to use a timer most likely and update the location of the points based on time. There are multiple ways to do it and there are many examples showing how to use a Timer and/or customizing a Visual/shader. It really depends what your data looks like, what your end goal is, and how you want to handle it. If you have more specific questions we can try to help.

[2018-06-07 23:34] sanketgujar commented on #1485
Thanks for the help :)

[2018-06-07 23:34] #1485 closed

[2018-06-09 23:54] #1397 closed

[2018-06-10 07:35] KOLANICH commented on #1397
🎉

[2018-06-12 15:57] JPFrancoia commented on #1419
I still have this problem on Ubuntu 18.04. So you say simply building Pyqt5 from source fixes the issue?

[2018-06-12 16:32] djhoese commented on #1419
@JPFrancoia Are you using PyQt5 from PyPI?

[2018-06-12 16:33] JPFrancoia commented on #1419
yes. That's the default source when you use pip.

[2018-06-12 16:36] djhoese commented on #1419
Are you able to try conda just to make sure it isn't something else? Maybe @hmaarrfk has a link to the email they sent to the PyQt5 folks?

[2018-06-12 16:45] JPFrancoia commented on #1419
Yeah, it would be nice to have more info about the bug. FYI, it works on Ubuntu 16.04.

[2018-06-12 16:47] djhoese commented on #1419
Yeah segmentation faults typically aren't our fault 😉  I would guess PyQt5 is being built strangely.

[2018-06-12 16:48] hmaarrfk commented on #1419
[code]

[code]

[code]
[code]

[code]

[BugReportToQt.pdf](https://github.com/vispy/vispy/files/2094955/BugReportToQt.pdf)

[Gist for code](https://gist.github.com/hmaarrfk/b2b676fa19a1c4fdaf7d5454ce33761e)

[2018-06-12 16:49] hmaarrfk commented on #1419
Seems to me like it is a dependency issue. I think I tried to install the Qt Development libraries and that probably solved things.

Because I:
1. Tried to compile pyqt myself. It worked (it was hard)
2. Then created a new pipenv to try the wheels. They worked then too!

[2018-06-13 09:41] JPFrancoia commented on #1419
I found a solution. On the Qt install guide (https://wiki.qt.io/Install_Qt_5_on_Ubuntu) it says you need to install both these OpenGL libraries.

`sudo apt-get install mesa-common-dev
sudo apt-get install libglu1-mesa-dev -y
`

That fixed the issue for me.

It seems that only ```libglu1-mesa-dev``` is necessary, but I installed both. Thanks to @mcrav for finding the solution.

[2018-06-17 20:00] asnt commented on #1185
FYI, see https://github.com/vispy/vispy/issues/1479#issuecomment-386883178 for forcing the light to follow the camera.

[2018-06-18 00:42] EtienneCmb opened #1486 "Superposition of semi-transparent images"
Hello,

I've an issue with the superposition of transparent images.

The example bellow define a first semi transparente red image and then a second blue image. But only the first image is visible.

[code]

![image](https://user-images.githubusercontent.com/15892073/41513712-13a6c696-726e-11e8-93d7-3043214ebbec.png)

[2018-06-18 01:57] EtienneCmb commented on #1486
ok, it works if the following line is added :

[code]

[2018-06-19 17:13] djhoese commented on #1486
@EtienneCmb What backend is this? Any idea what the default GL state is for Image visuals?

[2018-06-19 17:20] djhoese opened #1487 "Some colormaps in the `get_colormaps` dictionary are not Colormap instances"
If I recall correctly this was added by @larsoner. In `vispy/color/colormap.py` there is a `_colormaps` dictionary that can be accessed via the public `get_colormaps()`. However, as a user, I expect this dictionary to map colormap names to colormap instances, some of these values though are colormap classes or functions. For example, `cubehelix -> CubeHelixColormap` and `single_hue -> _SingleHue`.

[2018-06-19 17:21] larsoner commented on #1487
fine by me

[2018-06-19 17:30] kmuehlbauer commented on #1487
@djhoese I can have a look early next week.

[2018-06-19 17:36] djhoese commented on #1487
Here is a copy of the raw dictionary:

<details>

[code]

</details>

And visuals like `ImageVisual` typically run `get_colormap(cmap)` when a user does `my_img.cmap = 'cubehelix'` which will automatically generate the *instance* of the colormap.

[2018-06-19 17:37] EtienneCmb commented on #1486
@djhoese This is with PyQt5 (BTW, moving to the qt5opengl branch actually solved the transparent window). By default, the GL state for [ImageVisual](https://github.com/vispy/vispy/blob/master/vispy/visuals/image.py#L215) is set to :
[code]
And I think the [default GL preset](https://github.com/vispy/vispy/blob/master/vispy/gloo/wrappers.py#L34) is set to `deep_test=True`

[2018-06-19 17:42] djhoese commented on #1486
So you see this issue with both PyQt5 on master and PyQt5 on `qt5opengl`?

[2018-06-19 17:51] EtienneCmb commented on #1486
Exactly, same issue on both branch. But on the `qt5opengl` branch the window background is opaque.

**Latest master** transparent background
![image](https://user-images.githubusercontent.com/15892073/41614797-6664462e-73c7-11e8-83e8-ba9058bfbe77.png)

**qt5opengl branch** opaque background
![image](https://user-images.githubusercontent.com/15892073/41614908-c2c3f630-73c7-11e8-9bf8-5fe9f1278566.pn

[2018-06-21 12:37] EtienneCmb commented on #1487
I've a suggestion. If the colormap is not in the `_colormaps` dictionary and if matplotlib is installed, it might be interesting to build the colormap with Matplotlib? Something like :

[code]

[2018-06-21 13:13] djhoese commented on #1487
@EtienneCmb Now that vispy supports texture-based colormaps this should be a lot easier. If you want to make a pull request for this I'd be ok with that. If mpl colormaps need more than 256 colors we can do that too (ex. viridis).

[2018-06-23 16:00] Tillsten commented on #1466
Note that this bug vanishes when replacing `'_glGetIntegerv` with `'GL.glGetIntegerv`

[2018-06-23 16:10] djhoese commented on #1466
I could be wrong but last time I read this source code and the comments around it the pyopengl GL backend is for debugging mostly. I'm wondering if this GL backend isn't fully tested or if there is a reason that `_glGetIntegerv` was preferred in other backends over `glGetIntegerv`.

[2018-06-27 12:46] mars0001 commented on #1276
Hi!
I have an issue that may be related to the one mentioned here.
Setup:
Windows 7 x64 (all updates) in VMWARE Environment with VmWare tools installed.
Python 3.6.3.0, vispy 0.6.0dev (tried with 0.5.3 same result), pyqt4, pyopengl, numpy

Tests are failing due of not finding the freetype dll:
`File "C:\DEV\WinPython3.6.3.0_x64\python-3.6.5.amd64\lib\site-packages\vispy\e
xt\freetype.py", line 10,

[2018-06-27 12:55] rougier commented on #1276
The latest freetype-py can be installed with  freetype binary, that could help.

[2018-06-27 13:37] mars0001 commented on #1276
@rougier
Hi Nicolas,
Can you guide me on how to do that?

I have:
1. removed the "C:\DEV\WinPython3.6.3.0_x64\python-3.6.5.amd64\Lib\site-packages\vispy\ext\_bundled\freetype.py"
2. pip install freetype-py
3. downloaded the sources for freetype 2.9.1 from https://download.savannah.gnu.org/releases/freetype/

I work in Windows 10, should I compile the freetype sources? And then what do I need to do

[2018-06-27 18:29] djhoese commented on #1453
It looks like your vispy tests failed but for some reason numpy tests are also being run. By that I mean the ones *from numpy*. I think this is probably do to recent changes in numpy to drop nose for testing. I don't recall what version of numpy this was done in, but from what I can tell your vispy tests are fine.

[2018-06-27 19:00] trees4me commented on #1453
You're right, the examples are working now!  Looks amazing, thanks!

[2018-06-28 10:01] mars0001 commented on #1276
Actually, for those who might get the same error, all is needed is to replace the file downloaded by VisPy named freetype253_x64.dll with the new freetype.DLL downloaded from https://github.com/ubawurinna/freetype-windows-binaries/tree/master/win64, renamed to freetype253_x64.dll.

[2018-06-28 13:08] djhoese commented on #1276
@larsoner Weren't you one of the people who set up the freetype stuff for vispy?

[2018-06-28 13:09] larsoner commented on #1276
Yep. Perhaps the DLL I compiled for vispy should be replaced with this other one.

[2018-06-30 17:16] dominikandreas commented on #1312
hey @larsoner , any updates on this? would love to see this work. I'm also happy to help if you can give me some pointers on where to start

[2018-06-30 17:21] larsoner commented on #1312
I'm not sure what is left to be done

[2018-06-30 18:06] dominikandreas commented on #1312
@djhoese any updates from your end? Couldn't find your fix-jupyter-widget branch, is that pushed somewhere?

[2018-06-30 18:41] djhoese commented on #1312
@dominikandreas Current master should have this all fixed as far as basic vispy visuals and examples. Performance in some areas is still not up to my liking and there are still some things (like volumes) that won't work without modifying the vispy.js code to support fancier webgl functions.

[2018-07-03 16:42] raphaelvallat opened #1490 "python setup.py crash"
Hello,
I am trying to install the latest version of VisPy using `git clone` and `python setup.py install`. However, I am getting the following error:

![image](https://user-images.githubusercontent.com/25703792/42232862-a7efa506-7ea4-11e8-8718-695635e66ee1.png)

I have used previous version of VisPy (0.5.2 and 0.5.3) and they worked perfectly fine.
I am using Python 3.6.5 on Windows 10 64-bit with

[2018-07-03 17:09] djhoese commented on #1490
Very interesting. We do test vispy on appveyor using anaconda so I would expect this to work. Do you know if you have cython and setuptools installed?

[2018-07-03 17:20] codypiersall commented on #1490
Looks like this is a problem building the extension with cygwin, as opposed to using Visual Studio.  I'm guessing the appveyor build uses VS.

[2018-07-03 17:56] raphaelvallat commented on #1490
Thank both of you for your prompt answers. I just upgraded `cython` and `setuptools` using pip but the bug is still there. @codypiersall How can I force the build with VS then?

[2018-07-10 06:06] KelSolaar commented on #1033
Hi,

I'm reporting that this issue is still currently happening with the latest Vispy codebase (I pulled the latest yesterday).

[2018-07-17 15:31] j-schroeder-schetelig opened #1492 "Widget's padding is increased +1 if border_color is not None"
I discovered a strange behaviour. When a viewbox has set border_color, then the inner padding increased +1 pixel.

The effect can be seen in examples/basics/scene/one_scene_four_cams.py.
The viewboxes are created with default parameters margin=0 and padding=0, but there is always a one-pixel-wide line drawn in background_color, separating the white border line from the content of the scene.

The c

[2018-07-20 09:13] FrancescoFFA opened #1493 "Vispy Plot and Scene not using GPU"
Hello everyone, aware that there have already been discussions about the slow responsiveness of scene and plot modules, I would like to propose again this subject from another point of view.
Recently I ran into the aforementioned problem when, moving from matplotlib, I sadly noted the same (or even worse) slowness in vispy when managing thousands (or even millions) of curves within a plot with axe

[2018-07-26 06:15] Edward-Shaw opened #1495 "No module named 'vispy.visuals.text._sdf_cpu'"
With the environment:
1. python 3.4
2. vispy 0.5.3
3. PyQt4
4. OpenGL version 3.1
5. Intel Core i7-2600 CPU
6. Intel HD Graphics

Run every script in folder `examples` in vispy source package, I got the following error:
[code]
What's wrong with my environment?

[2018-07-26 17:20] larsoner commented on #1495
It sounds like it is trying to use the local copy of `vispy` rather than 0.5.3, and you have not built the necessary Cython module

[2018-07-26 17:22] djhoese commented on #1495
If you have installed vispy from source you may want to try `python setup.py build` first although this should have been accomplished automatically when doing `python setup.py install`. Do you remember how you installed vispy?

[2018-07-30 09:33] baptiste-mnh opened #1496 "Dense point clouds doesn't show properly"
Hi, I'm currently working with depth cameras (Reaslense D400) and I need a viewer working with numpy point clouds.
Using the lib open3D I successfully open .pcd file and convert them in numpy format.
Then the viewer is able to show the point cloud with the colors but the result isn't good :
### My code
[code]
### Sreenshots
![zoom0](https://user-images.githubusercontent.com/30402725/43389456-0d786

[2018-07-30 13:48] neurochen opened #1497 "legend support for vispy plot?"
Hi, I am very much amazed by vispy project. I always use it in my UI now. I am wondering if there is a plan to support legends as well, which could make the graph much more clear. Thanks.

Right now, I always use colors to differentiate lines int he same plot, with a sort of legend with colored texts.

[2018-07-30 13:57] djhoese commented on #1497
The core developers have no immediate plans to add legend functionality but are definitely not against it if someone wants to try to add it. We can try to provide whatever guidance is needed. The plotting API may be a focus in the future, but we are currently working on improving performance and compatibility of vispy.

[2018-07-30 14:11] djhoese commented on #1496
It is hard to tell from your screenshots, but it kind of looks like there are some weird lighting effects happening. I don't have any experience with depth cameras, but should there be huge gaps in the point cloud like that (the black around the shoe)? Do you have any idea why there are so many white pixels? Maybe the MarkersVisual is adding a border around points? I don't remember the default. I

[2018-07-30 14:21] EtienneCmb commented on #1496
May be it's because you're coloring edges and not faces?

[code]

[2018-07-30 14:44] neurochen commented on #1497
It sounds reasonable. Performance and compatibility are definitely more important. Sorry that I am now busy with another project, although adding support for legends seems quite interesting to me.

[2018-07-30 14:44] #1497 closed

[2018-07-30 16:59] baptiste-mnh commented on #1496
Yes, the gaps are normals, it's a scan from only one point of view. I this code :
`scatter.set_data(array_points, face_color=array_colors, size=5, edge_width=0.)
` and there is no notable differences.

Here is an exemple with pcl (point cloud library) :
![screenshot from 2018-07-30 18-56-11](https://user-images.githubusercontent.com/30402725/43411389-539824a6-942a-11e8-849e-81545de7e4ce.png)

By a

[2018-07-30 17:10] djhoese commented on #1496
Regarding changing the data, you would have to configure your UI to allow a user to specify a new point cloud input (or whatever you want) and then call the `set_data` method again on your MarkersVisual. Easiest way to do that would be to make your own class that holds on to all of your visual objects and data as well as has the handler for when the user wants data to change. You call `set_data` a

[2018-07-31 07:07] Edward-Shaw commented on #1495
I tried several ways to install vispy:
1. pip install vispy numpy
2. from source: python setup.py install
And I got the same error.
Now I have upgraded my hardware device to `Intel Core i5-4590`, and the problem sovled. Maybe my cpu is too old, and the corresponding opengl api version is too low？
https://www.intel.cn/content/www/cn/zh/support/articles/000005524/graphics-drivers.html

[2018-07-31 07:25] baptiste-mnh commented on #1496
Thank you for your response.
I also tried to color the edge and the front but it didn't change.

I think the issue is that the points which are too far from the point of view aren't visible (may be fake light shader issue).

What do you mean by "what backend"? I'm using the python library.

[2018-07-31 12:34] djhoese commented on #1496
If you compare your pcl screenshot to your vispy screenshot it looks like the colors are more vibrant or at least that is the main issue I see as far as quality of the display. To me it seems that the circles being drawn by the MarkersVisual are not one solid color as I would expect. All of my suggestions and @EtienneCmb's should have fixed this by making the circles one solid color. What exact is

[2018-08-01 00:10] neurochen opened #1498 "rolling data gradually became slower"
Hello, have anyone seen similar behaviors of roll_data in ScrollingLines and set_data in LinePlot? If I simply call canvas.measure_fps, the reported fps will become smaller and smaller. After around 10 minutes, it dropped from over 60 Hz to 10 Hz. The plots also followed the same trend. I checked the source code for these two functions, without finding the line resulted in this issue.

My setup is

[2018-08-01 02:34] djhoese commented on #1498
Small update: moving the `data` outside of the `update` function and just keep assigning the same data over and over again and the memory usage still goes up. I've also switched to an interval on the timer of `1./60`.

[2018-08-01 02:41] djhoese commented on #1498
Even if I don't set the data on the GPU and just update it I still get increased memory usage and lower FPS:

[code]

[2018-08-01 02:43] djhoese commented on #1498
So even commenting out the fps measuring with the above changes to roll_data and I still get increased memory usage. @larsoner @kmuehlbauer What am I missing here?

[2018-08-01 08:03] kmuehlbauer commented on #1498
@djhoese I have only the bad news: Here too the FPS is slowly decreasing. I have no idea where to look atm. But I can say, that this does not happen with a simple TextVisual.

[2018-08-01 11:50] neurochen commented on #1498
Thanks @djhoese @kmuehlbauer for checking this out. One minor update on my side, the same thing happened with set_data with on_mouse_move. Even if I waited for a while after the fps drop, the fps is still at the same low level when I move the mouse again. Based on the tests here, it's definitely caused by set_data or roll_data. And adding a waiting period will not free the resource automatically.

[2018-08-01 13:13] neurochen commented on #1498
Just confirmed @djhoese observation about RAM leakage with a careful check with memory_profiler. It indeed consumed more and more memory after running, which is not supposed to be the case based on the code in set_data.

[2018-08-01 13:33] djhoese commented on #1498
@neurochen Just curious, what version of numpy do you have? What if you try an older version?

[2018-08-01 13:53] neurochen commented on #1498
Interesting idea. Just made a new conda env with numpy 1.7.0, which is released in Feb 2013. I believe that's probably when vispy project began. Still, the same fps drop is observed. See below for the env.

[code]

[2018-08-02 00:09] neurochen opened #1499 "long startup period for vispy plots embedded in pyqt5 GUI"
Hi, I am now embedding vispy plots in pyqt5-based GUI apps. All the plots worked fine after startup. However, there are usually around 10 seconds to wait before vispy plots became active. In this period, the GUI is completely freezed.

I also tried the same setup with other plot packages, such as pyqtgraph by Luke and matplotlib. Both of them worked fine, i.e. the UI and plots are responsive immed

[2018-08-02 00:45] djhoese commented on #1499
So I have excuses and no real good answers. You're right this does seem slow and is probably something I've just gotten used to. I don't really use the plotting interface and I still consider it pretty young as far as development and features go. We are also aware that the Scene API has some limitations when many nodes/visuals are added which is something that happens with the plotting API and the

[2018-08-02 00:48] djhoese commented on #1499
FYI, doing:

[code]

was practically instant.

[2018-08-02 02:27] neurochen commented on #1499
Yes, confirmed. The script you posted is pretty fast. Sounds like it's relative to the plot/interactive components?

[2018-08-02 13:04] djhoese commented on #1499
@neurochen you mentioned that you see the same issues with just the SceneCanvas? I don't see that, the SceneCanvas by itself performs the same as the regular Canvas as I would expect.

[2018-08-02 13:25] neurochen commented on #1499
@djhoese By that, I mean plotting with SceneCanvas, rather than simple SceneCanvas without any plots on it, also has similar lags.

[2018-08-02 13:27] djhoese commented on #1499
How are you plotting with the SceneCanvas (without the Fig)?

[2018-08-02 13:40] neurochen commented on #1499
I just use the official demo code here:

[code]

Actually, running vispy with only one python process in the OS at a time reduced the lag a bit.

[2018-08-03 08:27] baptiste-mnh commented on #1496
Ok, after some test I've found a better solution using the Open3D viewer.
I think my pointcloud was maybe too dense for the vispy viewer.
THanks a lot for your responses and your time.

[2018-08-03 08:27] #1496 closed

[2018-08-03 12:38] djhoese commented on #1496
I would expect density to have an effect on performance not quality of the image. Plus any performance issues would be on the OpenGL side, not vispy itself. I'm glad you found a solution, but I have a feeling this was either a GPU driver bug or some bad configuration of the object.

[2018-08-04 04:51] codypiersall commented on #1498
I was looking into this a little bit, and I modified the script to do some profiling with [python-flamegraph](https://github.com/evanhempel/python-flamegraph). (<sub>_Aside: if you're not familiar with flamegraphs, they're a way of visualizing where a program is spending its time.  [Here's the repo](https://github.com/brendangregg/FlameGraph)._</sub>)

Here is the result of running at startup; thi

[2018-08-04 21:33] mkubanski commented on #1498
Hi Guys,

I have been taking a look at this today and have a potential fix (at least it resolved the FPS issue for me). Since I am learning to use git, I have a branch with a committed fix but cant really create a pull request at the moment as it contains another pull request from my master branch which is still open... but you can try it out regardless:

https://github.com/mkubanski/vispy/commit/

[2018-08-05 19:43] codypiersall commented on #1498
Nice work @mkubanski!  That works for me too.  I should have noticed in the profiling results that so much time was being spent in `optimize()` after running for a minute, compared with startup!

I guess the problem is that constraints are getting added without getting taken off or something?  That would explain why it slows down (harder to solve the extra constraints) and consumes more memory (mo

[2018-08-06 12:50] neurochen commented on #1498
Thank you so much @mkubanski! It works on my side too after I install the repo from your branch. Where did you get the 0.6.0dev version?

@codypiersall Also thank you a lot for your debugging. Visualizing the resources consumed by each function is very helpful! Do you also know some tools to visualize the resources for each variable, even for local variables in functions? That might also be helpfu

[2018-08-06 13:08] djhoese commented on #1498
Awesome work everyone! @mkubanski which pull request are you referring too? I see this [one](https://github.com/vispy/vispy/pull/1488) but it isn't based on your master branch.

@larsoner @kmuehlbauer Were you guys aware of any memory/performance issues in the cassowary solver? Is it time we update to a newer version of cassowary or a different library altogether?

[2018-08-06 13:25] djhoese commented on #1407
Fixed by #1488

[2018-08-06 13:25] #1407 closed

[2018-08-06 13:38] codypiersall commented on #1498
Sorry @neurochen, I don't know of any tool like that, but if you find or make one please let me know!

It looks like the [original project](https://github.com/pybee/cassowary) isn't being maintained anymore.  There is a C++ implementation of the same algorithm called [kiwi](https://github.com/nucleic/kiwi) that I haven't used, but which seems promising.  Here's a relevant quote from that repositor

[2018-08-06 13:52] djhoese commented on #1498
@codypiersall Very cool. Kiwi sounds like a good replacement. One issue I see is that there is absolutely no documentation from what I can tell. It is available on conda-forge though so that's good: https://github.com/conda-forge/kiwisolver-feedstock

[2018-08-06 14:29] neurochen commented on #1498
@mkubanski Could you also please take a look at the following code:

[code]

Everything works perfectly if we comment out the legend code. But once you add_widget into the legend grid, the fps will be dropped a lot (from 150 to 125). Moreover, the fps will gradually decrease over time as well. I looked into the code related to set_data, without sorting the bugs out. Thanks!

[2018-08-06 15:07] codypiersall commented on #1498
@djhoese The lack of docs is a very good point!  From digging around a bit it looks to me that the solver's main user is [enaml](https://github.com/nucleic/enaml), which is from the same organization.  I couldn't find anything approaching documentation for it.  I did find out that Matplotlib uses it, which is a positive data point to me.  (It was added by [this PR](https://github.com/matplotlib/ma

[2018-08-06 16:31] MatthieuDartiailh commented on #1498
As one maintainer of both kiwi and enaml I will try to add some docs in the future for kiwi. Not sure when however.

[2018-08-06 16:46] kmuehlbauer commented on #1498
First of all, great work! @djhoese There have been issues with cassowary solver in the past, but not wrt performance. There were problems with the size of different visuals, which changed spuriously. I do not have the issue at hand now, but I can have a look next week.

[2018-08-06 16:50] kmuehlbauer commented on #1498
@djhoese Found it: #1268
@bollu Did you experience performance degradation as reported here?

[2018-08-06 17:14] djhoese opened #1500 "Migrate from cassowary to kiwisolver"
As discussed in #1498 there were some performance issues discovered that were reduced/mitigated by reducing the number of times cassowary needed to be involved with solving where widgets/plots should show up on the canvas. The performance issues seemed to be related to a memory leak inside cassowary. As far as I know cassowary is only used in vispy in the plotting API (@kmuehlbauer correct me if I

[2018-08-06 17:14] djhoese commented on #1500
https://pypi.org/project/kiwisolver/

[2018-08-06 17:31] larsoner commented on #1500
The VisPy constraints are pretty simple so I hope the effort required is small. +1 for migrating

[2018-08-06 17:44] djhoese commented on #1500
I think it mainly depends on how the interfaces change between the two.

[2018-08-06 18:29] MatthieuDartiailh commented on #1500
Could you point me at the relevant files in the vispy codebase ? I will give a look at much work would be needed.

[2018-08-06 19:07] djhoese commented on #1500
@MatthieuDartiailh the only use of the solver is here in the grid module: https://github.com/vispy/vispy/blob/c1fd20ba5a8976edceee9b0838502054079d6791/vispy/scene/widgets/grid.py#L382

The other mention is here, but I think this is still used in the grid.py module: https://github.com/vispy/vispy/blob/a6ec64bb7b56739b463e3c16245a31940ca4f5f7/vispy/scene/widgets/widget.py#L72

[2018-08-07 00:52] neurochen commented on #1498
I checked RAM usage for the new version again, as my program finally crashes due to memory issue. Actually, there is still memory leakage and you could clearly see it in the first minute. Right now, the fps will not drop if you have enough memory. But finally, it will crash due to memory leakage.

[2018-08-07 18:05] mkubanski commented on #1498
@neurochen : im on Windows 10 and Python 3.5 too. The 0.6dev version is the current git master (i.e. unreleased). I will take a look at your new version - I assume you are running it on 0.5.3?

@djhoese : Yes it is #1488 which I see you merged now - now I can fix up the way I operate with git and use branches :) I will make a pull request for this grid check in a bit.

[2018-08-07 18:06] neurochen commented on #1498
@mkubanski I am running your github repo version, that is, 0.6.0dev. Thanks!

[2018-08-07 18:14] MatthieuDartiailh commented on #1498
Note that I opened a WIP PR  #1501 about switching from cassowary to kiwi. Anyone feel free to work from it.

[2018-08-07 19:28] mkubanski commented on #1498
@MatthieuDartiailh - I closed my PR as it makes more sense for you to just make the change directly (can you fix up the if statements in your PR?) I was also taking a look at the issue @neurochen mentions and it is an issue with the solver, this time due to the height constraint:

label_widget.height_max = 16

It might be that with your migration that this will be dealt with?

[2018-08-09 01:08] neurochen commented on #1498
@mkubanski Just noticed that my reply to you is not getting posted successfully. I am with Windows 10, python 3.6.5 and you personal repo of vispy. Clearly, you already figure it out. Thanks!

[2018-08-09 18:06] STREETKILLER007 opened #1503 "Vispy in Visbrain"
Hello developers, i am trying to implement visbrain example.

This is my environment :
1) window 7, 64 bit
2) processor : Intel(R) Pentium(R) CPU B980
3) graphic card : Intel R HD Graphic
4) opengl version : 3.1
5) python version : 3.5

`vispy.sys_info()` is as below

[code]

current `pip list` is as below

[code]
the code that i am running is

[code]

the output of the program basically is like [

[2018-08-09 18:28] STREETKILLER007 commented on #1503
my `setuptools` is already at latest version.

[code]

[2018-08-09 18:58] djhoese commented on #1503
Is this on a virtual machine?

[2018-08-09 22:06] STREETKILLER007 commented on #1503
this is not in virtual machine.

[2018-08-10 13:27] STREETKILLER007 commented on #1503
i tried this code.
my result is blank.

![capture](https://user-images.githubusercontent.com/13400998/43960276-2311c75c-9ce4-11e8-9e3d-c9625b0d881a.JPG)

[code]

[2018-08-10 13:33] djhoese commented on #1503
Yes, it seems very strange to me that you can't get the GL version. If you try various examples from the vispy repository do you always get draw errors? Are you able to try pyqt4 (conda should make this easy, `conda install "pyqt<5"`) and do you get different results?

[2018-08-10 14:22] thomasdeneux opened #1505 "Updating collections"
Hello, I don't find how to update basic values of collections.

For example, i can create a points collection:
[code]

But trying to change its vertices coordinates:
[code]

Gives me the error:
[code]

Besides, I managed to update the colors:
[code]

This was possible only with `color="shared"` when constructing the PointCollection object, while `color="local"` resulted in the same error as above

[2018-08-10 14:35] djhoese commented on #1505
@rougier Any advice?

[2018-08-10 14:38] thomasdeneux commented on #1505
Of course i understand this is about different types of declarations in the shaders. I am not very familiar with those yet.

[2018-08-10 15:06] STREETKILLER007 commented on #1503
what example do you mean ?
hmm, i am trying to not to use conda, since i am not trying to implement this program in virtual environment.

[2018-08-10 15:13] djhoese commented on #1503
Any of the examples here: https://github.com/vispy/vispy/tree/master/examples
There are simple ones and more complex ones, but if the simple ones don't draw then that's a problem. A simple-ish one to start with might be: https://github.com/vispy/vispy/blob/master/examples/basics/gloo/display_lines.py

I only suggested conda so that you could easily create a python 3.6 environment with pyqt4 which

[2018-08-10 15:30] STREETKILLER007 commented on #1503
I see, thank for the remind.

I read up Visbrain documentation and there is a line said **visbrain use PyQt4 which means that you need to use a python version under 3.5.2.**
http://visbrain.readthedocs.io/en/latest/

[2018-08-10 16:40] djhoese commented on #1503
@EtienneCmb you created visbrain, right? You mention in the instructions that PyQt4 needs Python 3.5 or under. Any idea where that restriction came from? I have an application (and vispy's tests are based on) that is python 3.6 with PyQt4.

[2018-08-10 18:34] EtienneCmb commented on #1503
Hello @djhoese. This is not the documentation of visbrain. See: http://visbrain.org

Actually this is an outdated readthedoc version. I should remove it

[2018-08-10 18:38] EtienneCmb commented on #1503
I confirm that PyQt5 can be used with python 3.6, which is the one I daily use. Just a @djhoese pointed out and as I've precently recommend, try conda installation with py3.6

[2018-08-10 19:26] STREETKILLER007 commented on #1503
@EtienneCmb i will set up the whole thing using python 3.6, thank you~^^

[2018-08-10 20:00] STREETKILLER007 commented on #1503
@djhoese

i tried anaconda as @EtienneCmb.
i installed python 3.6 in anaconda.

tried the simplest example, which is
https://github.com/vispy/vispy/blob/master/examples/basics/gloo/display_lines.py

but it pops out this error.

[code]

[2018-08-10 20:04] djhoese commented on #1503
My best guess is a driver issue. Do you have another machine with a display that you can test with? Since you have conda installed now you could try making a pyqt4 environment and see if that behaves any differently. I'd still expect similar results, but good to see a comparison.

[2018-08-10 20:13] STREETKILLER007 commented on #1503
i don't have another machine to test on.
i will try to create another python 3.6 in anaconda, with pyqt4 environment.

would like to know that, pyqt4 version need to works under what version of sip.
since sip version is 4.19.8, pyqt5 version need to be 5.10.1.

my driver is in latest version as shown.

![hd driver](https://user-images.githubusercontent.com/13400998/43979293-d396ddc8-9d1c-11e8-8f24

[2018-08-10 20:41] STREETKILLER007 commented on #1503
this is the error that i am currently facing while install pyqt4.

![pyqt4](https://user-images.githubusercontent.com/13400998/43980468-cb45c68a-9d20-11e8-9f61-ac77d516682d.JPG)

[2018-08-10 20:42] djhoese commented on #1503
I would add the conda-forge channel to get other scientific libraries including vispy: `conda config --add channels conda-forge` and try again.

[2018-08-10 20:42] djhoese commented on #1503
Oh sorry, you have to do `"pyqt<5"`.

[2018-08-10 20:43] djhoese commented on #1503
And don't use pip in a conda environment if you can help it. Use `conda install`.

[2018-08-11 07:03] STREETKILLER007 commented on #1503
when i type in `conda install "pyqt<5"`
[code]

error occur.

[code]

[2018-08-11 09:47] STREETKILLER007 commented on #1503
after CondaVerificationError solved, tried to run this code :
https://github.com/vispy/vispy/blob/master/examples/basics/gloo/display_lines.py

faced following error and how i solved them
1) `ImportError : No module named 'numpy'`
Solution : `conda install numpy`

2) `ImportError : No module named 'vispy'`
Solution : `conda install vispy`

below is the running situation, wondering am i in the righ

[2018-08-11 13:48] djhoese commented on #1503
That looks good to me @STREETKILLER007. I would try to install visbrain in that environment and see how it goes. I'm not sure exactly what was going on in your original environment, but I think you've shown that your drivers seem to be fine and that your machine is able to run vispy.

[2018-08-11 16:16] STREETKILLER007 commented on #1503
i tried to install visbrain in the environement.

Visbrain will install PyQt5 by itself.

If get the warning of `VisPy is not yet compatible with matplotlib 2.2+`
According to https://github.com/EtienneCmb/visbrain/issues/17
it can be solved by `pip install matplotlib==2.1.0`

This is my issue in Visbrain.
I think you can refer to https://github.com/EtienneCmb/visbrain/issues/18

[2018-08-11 16:25] STREETKILLER007 commented on #1503
@EtienneCmb let me update my matplotlib to 2.2, hope it works.

[2018-08-14 12:15] EtienneCmb commented on #1503
@djhoese @STREETKILLER007 this issue should be closed because vispy installation works

[2018-08-14 12:33] STREETKILLER007 commented on #1503
@EtienneCmb ya, although Visbrain cannot run in my environment, but can see that Vispy work.
I think @djhoese can close it, thank you.

[2018-08-14 13:07] #1503 closed

[2018-08-14 16:45] tperciano commented on #1141
I'm experiencing the exact same issue using a dataset of size (1992, 2288, 100). I have 2 Titan Black cards. Had anyone come up with a solution for that problem? I would really appreciate some help. Thanks!

conda version : 4.5.9
conda-build version : 3.0.27
python version : 3.5.4
platform : linux-64
vispy: 0.6.0.dev0
PySide2: 5.9.0a1

[2018-08-14 16:51] djhoese commented on #1141
@tperciano Just to make sure, you are getting the exact same error as the original poster and your data works fine if you stride (subsample) it?

[2018-08-14 16:53] tperciano commented on #1141
@djhoese Exactly!

[2018-08-14 17:06] karlcz commented on #1141
Have you tried padding your data out to a multiple of a larger
power of 2?

As I recall, NVIDIA requires 3D textures to be aligned but the
alignment requirements are different for each axis, and I don't
recall the exact values off hand.

If I were you, I would try padding 1992 -> 2048 as a first test. If
that works, you can search for a smaller alignment in between. But,
you might also have to ali

[2018-08-14 17:10] tperciano commented on #1141
@karlcz I see... I will give it a try! I will keep you guys updated.

BTW Thank you @djhoese @karlcz for the prompt response!

[2018-08-14 17:13] djhoese commented on #1141
My only other thought beyond the alignment would be some GPU memory allocation issue like not being able to allocate all of that memory in one chunk. But I wouldn't expect that to show up as an error and I also would expect GPU drivers to be smart about handling that.

So alignment or driver bug/limitation?

[2018-08-14 19:59] tperciano commented on #1141
@karlcz @djhoese I tried padding the data but it didn't solve the problem. However, after looking around a little bit more I think I found the issue. Taking a look at some info using glxinfo, there is a "GL_MAX_3D_TEXTURE_SIZE = 2048" entry. So, I believe that's what's limiting the rendering...

[2018-08-14 20:11] djhoese commented on #1141
Interesting, so there is a separate limiting factor for textures. I suppose that makes sense since a max texture size of 16384 on a 3D texture is ~4400GB where as 2048 is ~8.5GB. If you limit your array to 2048 or less in each dimension does that still work?

[2018-08-14 21:28] tperciano commented on #1141
So, I did some tests with different datasets... it seems that as long as I limit the arrays to 2048 in each dimension, everything works fine!

[2018-08-15 02:15] djhoese commented on #1141
Awesome @tperciano. Thanks for testing all of this. I think I'm going to close this as a limitation of the hardware and it just took forever to figure out because it isn't something `vispy.sys_info()` current lists (and I don't think it needs to be necessarily). Not anything vispy can do.

[2018-08-15 02:15] #1141 closed

[2018-08-15 15:56] tperciano commented on #1141
@djhoese Can I ask you a related question though? I've mentioned before that I have 2 GPUs. I was just wondering if vispy would be able to use both of them to handle the 3D rendering in parallel. I mean, theoretically that would double the limit we've been talking about. Would that be possible?

[2018-08-15 16:48] karlcz commented on #1141
Normally, linking two GPUs with OpenGL would duplicate the same data
onto both and just divide the pixel filling and texture sampling
workload between them. This has the least application-visible
programming impact, but they'd still show the same overall limits.

To work with a larger volume than the 3D texture size limits, you
would need to use multiple textures, each meeting the texture size
lim

[2018-08-15 16:55] tperciano commented on #1141
Thank you @karlcz, that's very informative and helpful!

[2018-08-17 11:53] lonnibesancon opened #1506 "No module named 'vispy.visuals.text._sdf_cpu'"
I do manage to get some of the examples working but not all of them. For instances, all the examples in the collections folder do not run and I get the following traceback when trying to run chloropleth.py for instance:

Traceback (most recent call last):
[code]

Here is the print from vispy.sys_info():

[code]

You can also find this question on stackoverflow here: https://stackoverflow.com/quest

[2018-08-17 12:36] lonnibesancon commented on #1506
I used Conda and did:

- ` conda install numpy pyqt`
- `pip install Cython`
- `pip install git+https://github.com/vispy/vispy.git`

[2018-08-17 12:43] djhoese commented on #1506
Your error message shows a different path. Your error message shows `/Users/xxx/Documents/vispy-master/vispy/visuals/text/text.py`. Is it possible you had vispy installed from this local directory at some point? You may have to make sure you uninstall this installed version first.

If the version was installed with that pip command you listed above then it would most likely show a `site-packages`

[2018-08-17 12:44] lonnibesancon commented on #1506
I mean I downloaded the git repo to have the examples and imported it in PyCharm so that I could try them. I don't think I installed from that downloaded directory.

[2018-08-17 12:48] djhoese commented on #1506
Are you running python (`python examples/...`) from that directory? If you are then when python tries to import vispy it will look in the current directory first and find that one. That's my only other guess so far.

[2018-08-17 12:49] lonnibesancon commented on #1506
Yes I am trying to run from that directory indeed. So how should I proceed to avoid that?

[2018-08-17 12:52] djhoese commented on #1506
You could change in to the examples directory `cd examples` and then run the examples from there. Or run from any other directory that isn't the root of the repository.

[2018-08-17 15:29] djhoese commented on #1506
@lonnibesancon Did that work?

[2018-08-17 16:58] Harvie opened #1507 "tkinter integration?"
Hello. I have python UI application written using tkinter and i want to replace tkinter canvas using vispy to get 3D acceleration. Is that possible?

Thanks.

[2018-08-17 17:00] djhoese commented on #1507
As far as I know there is no tkinter backend for vispy. It is possible to add it, but won't be simple. @larsoner are you aware of any work on a tkinter backend?

[2018-08-17 18:29] larsoner commented on #1507
I don't think anyone has worked on it.

[2018-08-17 19:57] Harvie commented on #1507
I am working on bCNC (https://github.com/vlachoudis/bCNC) and it renders 3D lines (CNC toolpaths) using Tkinter Canvas, it's slow and the view can't be rotated in realtime using mouse. I was thinking that Vispy might be nice solution, but i have no idea, how to embed it into Tkinter GUI of bCNC :-(

[2018-08-20 15:26] PaulDebus opened #1508 "Mesh not showing correctly"
Hey,
I am having a weird issue while displaying a 2D mesh using a `panzoom` view. I tried three different approaches and got varying results.

The base for all approaches is a (valid) mesh consisting of vertex positions (numpy array `vertices`) and face indices into the vertices (numpy array `faces`).

## Polygons
First I created one [Polygon](https://vispy.readthedocs.io/en/latest/scene.html#visp

[2018-08-20 18:35] djhoese commented on #1508
So there are a couple things I can think of for you to try and some questions I have:

1. In your mesh example why are you using `mode='lines'` if you want triangles?
2. How are you viewing the results and how are you saving the screenshots? Are you using a direct call to `render`? This has been shown to not draw things as expected, please use `vispy.gloo.util._screenshot` or take a screenshot of

[2018-08-21 09:17] PaulDebus commented on #1508
Hey,

1. I only want the contours of the triangles, not the filled areas. I took this from the [box implementation](https://github.com/vispy/vispy/blob/982bed13646100b4c557b65916cb492510e07078/vispy/visuals/cube.py#L40)
2. I made the screenshot using the OS tools to make sure I capture what I am seeing.
3. I created a [complete mwe](https://gist.github.com/PaulDebus/9065af47f1e3aad94b1f7d189518f2c

[2018-08-21 12:41] EtienneCmb opened #1509 "ImageVisual doesn't support masked array"
One nice feature when plotting images using Matplotlib is that it support [masked array](https://docs.scipy.org/doc/numpy-1.13.0/reference/maskedarray.html) which mean that array values with a `True` set to the mask are not displayed (and not take into account in the colormap)

[code]

![image](https://user-images.githubusercontent.com/15892073/44401380-78411a80-a51c-11e8-8b38-5c0303a3b21f.png)

[2018-08-21 13:09] djhoese commented on #1509
Good idea. First question I have is what happens if you fill the masked area with NaNs? Actually for the ImageVisual that might be unspecified behavior since data is converted to 8-bit integers.

I hesitate to add this functionality to the Visual classes since they are one level above the low-level gloo interface. This is just a hesitation, not a strong feeling. Also if we add the support for mask

[2018-08-21 13:32] EtienneCmb commented on #1509
I've tested the following code :
[code]
Producing :
![image](https://user-images.githubusercontent.com/15892073/44404340-ac203e00-a524-11e8-9e5e-ecd4a3ac6fdd.png)

Tested with `np.nan` and `np.inf`. I think vertex buffers take `np.float32` arrays no?

I don't think every visuals should handle masked array. For example, if I remember correctly, `LineVisual` provide a `connect` input and you can alr

[2018-08-21 14:37] djhoese commented on #1509
So it sounds like the ImageVisual is the visual that lacking this functionality and would benefit the most from it. It may not be the best solution but we could specifically check for NaN values (or an equivalent) in the fragment shader and discard the pixels: https://www.opengl.org/sdk/docs/tutorials/ClockworkCoders/discard.php

This may not work for the current implementation of the ImageVisual

[2018-08-21 17:08] PaulDebus commented on #1508
I did some further investigation/tinkering and created a [pull request](https://github.com/vispy/vispy/pull/1510). The issue was, that the `"lines"` mode did require the face description in a different mode than the `"triangle"` mode. It does not want the polygons, but the edges. The pull request fixes that (at least in all the cases I have).

Thanks for the great tool and the friendly community!

[2018-08-23 14:14] lonnibesancon commented on #1506
@djhoese yes it did, sorry for the late reply and thanks for the help :)

[2018-08-23 14:42] #1506 closed

[2018-08-30 14:44] thomasdeneux commented on #1505
@rougier First sorry for the delay, i just was en vacances.

So, no it clearly does not work! I show more code below, this is the latest version of the vispy master branch.

It appears that in the `BaseCollection.__setitem__` method there is a call for setting the vertices buffer using a string key (which in my case is `'position'`):

[code]

But writing in a `DataBuffer` with a string key is actu

[2018-08-30 14:54] thomasdeneux commented on #1505
Note also that i have the same error for other collection objects, e.g. lines:

[code]

[2018-08-30 18:18] rougier commented on #1505
Ouch. That may be a structural difference between vispy and glumpy. I originally coded collections for glumpy and we ported them to vispy. In glumpy, I compute the smallest contiguous chunk of memory to uploadi it at once to the GPU. In vispy, I don't quite remember how we coded the data buffer but it might be possible we forbid such update. To solve the problem would thus require to (maybe) rethi

[2018-08-31 07:03] thomasdeneux commented on #1505
Thank you for the explanation (and nice book by the way).
Well, yesterday, as i was blocked with the collections, i started writing my own shaders to use gloo directly: so i will continue like this!
Otherwise my understanding is that, in order to reproduce the mechanisms present in glumpy, vispy buffer should also have a CPU counterpart where to write in 'non-contiguous' way, while only continuous

[2018-08-31 10:17] rougier commented on #1505
Yes, for vispy I think we decided at some point to not have a CPU image and this prevent us to to upload non contiguous data to a GPU buffer from what I remember. For glumpy, I chose a different option, the advantage being to be able to upload non contiguous data and to batch all updates in one operation.

One potential solution for vispy and collection would be to split the single GPU buffer into

[2018-08-31 10:17] rougier commented on #1505
Yes, for vispy I think we decided at some point to not have a CPU image and this prevent us to to upload non contiguous data to a GPU buffer from what I remember. For glumpy, I chose a different option, the advantage being to be able to upload non contiguous data and to batch all updates in one operation.

One potential solution for vispy and collection would be to split the single GPU buffer into

[2018-08-31 15:41] thomasdeneux commented on #1505
Oh, i can't go down to write my own shaders as i would like to draw antialiased lines, this would be too difficult!

Maybe do i start to understand enough to try editing myself the buffer classes. What about having an optional CPU buffer (default would be not to have it), which, if activated, makes it possible to write non-contiguous data? Do you see any difficulty with this?

[2018-09-01 10:26] rougier commented on #1505
I'm not sure how much work is needed. but you can have a look at glumpy to check for the implementation of the CPU implementation and see differences with vispy.

[2018-09-02 22:05] djhoese commented on #1505
@rougier The disadvantages of having a CPU backed buffer were mentioned so just wanted to make sure I'm understanding this properly.

1. Current VisPy: Require the entire buffer data to be sent at once. Benefit is that the data doesn't have to be kept in CPU-memory because it "lives" on the GPU only. Downside as discussed is that you can't send per-vertex updates without having all of the vertex's

[2018-09-03 17:39] rougier commented on #1505
You're right. The other problem with the GPU only version is that all pending upload operations cannot be agglomerated into a single operation. If you have many operations, this can slow down things a lot.

But for very large buffers, I don't know if the glumpy approach is good. We would need some benchmarks at some point.

Concerning the scipy/numpy relationship, you're right. It is the way I gen

[2018-09-05 01:15] elliottzheng opened #1512 "fig.Render() generate noisy image while preview is not."
Hey guys, I'm having trouble rendering mesh to an image, the image generated by `fig.Render()` is kinda noisy while the preview is not.  As shown below, the first image is created by `fig.Render()`, and the second is the preview while the `app.run()`. Any idea what causes it?

![rendered](https://user-images.githubusercontent.com/22427645/45065184-5cc43b00-b0ea-11e8-9358-9527d4d009af.png)

![previ

[2018-09-05 01:20] djhoese commented on #1512
Try using the `from vispy.gloo.util import _screenshot` function and see if you get better results. This is on my TODO list for making it public and advertising this function better. We've seen poor results in the past with using render directly.

[2018-09-05 01:37] elliottzheng commented on #1512
@djhoese Thank you for your early reply, but I don't know where to use the `_screenshot()` function, since I read the function comment and it doesn't provide much information, I try to replace the `fig.Render()` with it, but it doesn't work, could you please give me an example? Thanks.

[2018-09-05 01:48] djhoese commented on #1512
You should be able to swap it in for the render call `img = _screenshot()`. The result (`img`) should be a numpy array of RGBA pixels. You should be able to pass that directly to `write_png` from what I can tell. Are you getting an error message?

[2018-09-05 02:02] elliottzheng commented on #1512
@djhoese I didn't get any error message, but the output image is pure black if I use `_screenshot(alpha=False)`, which means the image ndarray is full of 0. I think `_screenshot()` is to take a screenshot from the preview window? Cause when I set `fig.show` to False, the `_screenshot()` returns an image with a different size than `fig.size`.
I try to use it like this
[code]
but it didn't work out

[2018-09-05 09:47] leeeeeeo opened #1513 "How to rotate a .obj model ?"
I modified code in `vispy/examples/tutorial/gloo/colored_cube.py` like this:
I changed `V, I, _ = create_cube()` to `V, I, _, _ = read_mesh('/path/to/obj')`.
The .obj file contains vertices and faces:
`v x y z r g b` such as `v 1.0 1.0 1.0 0.5 0.5 0.5`
`f a b c` such as `f 1 2 3`.

And I get error :
  File "/Users/lls/anaconda2/envs/face/lib/python2.7/site-packages/vispy/gloo/program.py", line 439

[2018-09-05 09:57] leeeeeeo commented on #1513
Besides, what does this mean? Why a python variable could = c++ comment ?

[2018-09-05 12:45] djhoese commented on #1513
Does the original unmodified colored_cube.py work for you?

Did you modify anything else in that example?

As for the python variable glsl code, you can see in the example that this `fragment` variable (and `vertex` variable) are passed to a `Program` class. This class and in fact all low-level `gloo` objects in vispy are wrapping even lower-level C library OpenGL function calls. The OpenGL C libr

[2018-09-05 12:47] djhoese commented on #1513
You may want to see our resources page for some pages and books that may help you learn OpenGL more: http://vispy.org/resources.html

[2018-09-05 12:50] djhoese commented on #1512
You may have to draw the figure first before saving the image, but I would have thought this would work. I know there are some people who are doing something very similar to what you are doing. Let me see if I can find the issues they raised.

[2018-09-05 12:54] leeeeeeo commented on #1513
Thank you for your quick respond.
The origin code works fine. But I want to rotate my own obj model, but my obj model seems not compatible with the code.
Could you please tell me where to add the attribute (vertex color)?
Thanks a lot.

[2018-09-05 13:00] djhoese commented on #1513
The `v_color` in the fragment is coming from the vertex shader's `color`. You should be able to do `self.program['color'] = X` where `X` is whatever color you want to set it too. However, the fact that the original example works is a little weird because it doesn't seem to be setting the color either.

[2018-09-05 13:02] djhoese commented on #1513
Ah you can see in the `vispy.geometry.generation.create_cube` function that it returns a `V` that it is actually multiple properties (position, texcoord, normal, color) for each vertex by using a numpy dtype. You may have to do something similar if you want per-vertex colors.

[2018-09-05 13:09] leeeeeeo commented on #1513
I'm confused that I didn't find where `color` defined in the original code, where does the color on the cube come from?

`self.program['color'] = X`,  is the X a list which contains rgb tuples correspond to each vertex?

[2018-09-05 13:30] leeeeeeo commented on #1513
I'm sorry I missed your last reply. I have read `create_cube`, and I found each face of the cube has a normal. But my obj model only contains vertices, colors and faces. So how to get the normal in my case? Sorry too many questions.

[2018-09-05 14:51] djhoese commented on #1513
I'm not sure. You may have better luck looking at using the MeshVisual which I think accepts just vertices and faces. *If* you really want to use gloo then you could look at how the MeshVisual in vispy calculates normals, if at all.

[2018-09-08 11:57] schlegelp opened #1514 "multiple arc ball cameras do not properly rotate on grid"
When using multiple 3D views on a grid, arc ball cameras misbehave:
The camera for the first view (top left in my case) behaves just fine but all others rotate as if the cursor was out of the view's bounds. Interestingly, if I click and hold into a misbehaving view and then move the mouse cursor into the first view, the camera translates correctly. It appears as if mouse coordinates in relation to

[2018-09-08 16:37] schlegelp opened #1515 "canvas._render_picking incomplete render"
I've been playing around using picking with 3D LineVisuals and I noticed that `canvas.visuals_at` was not very reliable in returning visuals: random parts of the canvas seemed to be "blind spots' for picking. I've been trying to find the cause of this and got as far as this: `canvas._render_picking` appears to returns an incomplete representation of the scene.

This screenshot shows the actual can

[2018-09-08 17:12] schlegelp commented on #1515
Apologies: this is issue is already mentioned in #1231 - albeit without a solution. I can confirm though that setting `vispy.scene.widgets.viewbox.ViewBox.interactive = False` (`view3d` in my example code) makes the blind spots disappear.

[2018-09-09 16:15] djhoese commented on #1515
This is really weird and I remember looking at this when #1336 first came up. Sorry I don't have a better solution or workaround than temporarily turning interactive off. We'll leave this issue open as a reminder that this isn't working as expected.

[2018-09-10 08:51] elliottzheng commented on #1512
@djhoese I rendered the same noisy image with `pyglet` , and I solved it by  enable the depth test in opengl , I guess this issue may be the `vispy` 's render backend doesn't enable the depth test.

[2018-09-10 12:35] djhoese commented on #1512
The depth test being enabled/disabled is set per-visual (because each is its own GL program). There are certain situations where you want depth testing turned off. Have you tried showing the figure then using `_screenshot()`? I don't have time to look deeply in to this issue this week so I can't give you a better solution right now. @larsoner @kmuehlbauer do you guys have any ideas?

[2018-09-20 15:33] f0k opened #1517 "Mesa backend fails"
First of all, thanks for making this available! After being pointed to vispy by a colleague, I tried to run the demo at https://github.com/liubenyuan/vispy-tutorial/blob/master/examples/scatter.py.

I got the following wall of error messages, afterwards it ran in a tight loop that I could exit with CTRL+C:
<details><summary>Wall of error messages</summary>

[code]

</details>

Tracing through it i

[2018-09-20 17:40] djhoese commented on #1517
Hi, thanks for making this issue. I'll try to answer your points/questions in order:

1. Glad you figured out the issue. It seems something was wrong with your GL drivers on your system.
2. I agree that the error messages could be improved in this case. We don't run in to this issue very much though because it only shows up when someones environment is corrupt in some way (bad GPU drivers, badly b

[2018-09-20 22:15] aldanor commented on #1184
I know this is 2.5years old now, but wonder if there's any thoughts on this or #1182?.. (or have there been any relevant changes since 0.4.0 that I might've missed?) Thanks!

[2018-09-21 12:50] djhoese commented on #1184
@aldanor There have only been small performance improvements to the Scene API where we try to redraw the Scene as little as possible, but I think the issue that @larsoner brings up with #1182 is still an issue. If you'd like to look in to solving anything about this let me know and @larsoner and I can try to point you in the right direction.

[2018-09-25 06:18] 229668880 opened #1519 "set xlim and ylim for plot() in vispy.plot, or use plot(data=, x=, y=)"
Hi, I am using plot(), image() with vispy.plot. Is there a method to set xlim and ylim for them? or use plot(data=, x=, y=)

Thanks.

[2018-09-25 06:35] kmuehlbauer commented on #1519
@229668880 You can change the camera range like this:

[code]

[2018-09-25 06:38] kmuehlbauer commented on #1519
@229668880 Please report back, if that helps. For questions like this, please use our [gitter channel](https://gitter.im/vispy/vispy).

[2018-09-25 07:41] 229668880 commented on #1519
It doesn't work.
My codes:
import vispy.plot as plt
import vispy.scene
fig=plt.Fig()
ax=fig[0,0]
ax.plot(randn(10))  # the corresponding xdata will be (0,9)
line=scene.LinePlot(randn(10))
ax.view.add(line)  # I want plot the data against (10,20)

Neither ax.camera.set_range nor line.camera.set-range work.

[2018-09-25 08:01] 229668880 commented on #1519
If I want to  ax.image(randn(100)) againt xdata=arange(200,300), not the default (0,100)

[2018-09-25 08:18] kmuehlbauer commented on #1519
@229668880 This is not implemented yet. But you can adapt the `transform ` of image to suit your needs.
[code]

[2018-09-25 10:18] 229668880 commented on #1519
It works now. Thank you.

[2018-09-25 10:35] kmuehlbauer commented on #1519
@229668880 Glad it works now. I'll close this issue for now, reopen if appropriate. If you like to see this in the vispy codebase, PR is always welcome.

[2018-09-25 10:35] #1519 closed

[2018-09-25 23:44] kne42 opened #1522 "Most provided filters cannot be detached."
# Description
Most filters provided by `vispy` itself cannot be detached due to a missing `_detach` method. This issue is meant to collect references to all such filters and document related issues.

# References
## [color.py](https://github.com/vispy/vispy/blob/master/vispy/visuals/filters/color.py)
[IsolineFilter](https://github.com/vispy/vispy/blob/master/vispy/visuals/filters/color.py#L11)
[Al

[2018-09-26 00:31] kne42 commented on #1522
@djhoese

I was thinking this as well. I would additionally like to subclass from `Frozen` to prevent future errors like the one in #1518. I will work on this tonight and/or tomorrow.

[2018-09-26 00:57] djhoese commented on #1522
Makes sense. My only problem with using `Frozen` is that deep down I was hoping to get rid of `Frozen` from Visuals in the future. It feels very un-pythonic to me but I suppose with the complexity of these classes it is needed...fine 😫

[2018-09-26 02:01] kne42 commented on #1522
@djhoese You're right, it is rather un-Pythonic. However, I just remembered the Pythonic equivalent to this which is accomplished by defining [`__slots__`](http://book.pythontips.com/en/latest/__slots__magic.html):

[code]

This additionally has the benefit of taking up less RAM.

[2018-09-26 02:08] djhoese commented on #1522
I like it...but at the same time it makes it harder for users to add their own "stuff" to a visual in their own application. Usually this means user are doing something hacky, but we don't want to break someones entire application. Maybe it will just have to be something for us to keep in mind. @larsoner @kmuehlbauer FYI ^

[2018-09-26 06:44] kmuehlbauer commented on #1522
@kne42 Yes, I tested @JPFrancoia example #1434, but didn't follow up on that. Big thanks for bringing this back and taking the lead with #1523.

We should discuss the `Frozen` vs `__slots__` stuff in a separate issue. Might need to get insight from the original authors.

[2018-09-26 09:10] thomasdeneux commented on #1505
@rougier Hello, I am back on this issue. I had a look at how [Buffers](https://github.com/rougier/glumpy/blob/master/glumpy/gloo/buffer.py) are implemented in glumpy, I see that they inherit from [GPUdata](https://github.com/rougier/glumpy/blob/master/glumpy/gloo/gpudata.py), which itself inherits from np.ndarray and provides mechanisms for keeping track of the memory range that has been modified.

[2018-09-26 09:35] JPFrancoia commented on #1434
Well at the moment I don't use attach/detach for the alpha filter, I don't like having "non-approved" in production.

For now, I just attach an alpha filter to any mesh I want to display. When I want to make it transparent, I just set the alpha value to 0. Opaque: I turn it to one.

[code]

[2018-09-26 14:44] rougier commented on #1505
Actually I meant `cpu_copy`

[2018-09-26 14:44] rougier commented on #1505
Oh, `DataBufferView` is part of vispy, is it ?

[2018-09-26 14:57] jkrumbiegel opened #1524 "SceneCanvas doesn't resize when embedded in other QWidget"
First I had the bug that a Line visual with alpha != 1 showed the window below through the lines. To fix that I copied from https://github.com/vispy/vispy/issues/1238#issuecomment-274804941 the idea to embed the SceneCanvas. The alpha bug is gone but I can't get the canvas to resize like the slider in this minimal working example when I make the window bigger. How does vispy work together with QSi

[2018-09-26 15:34] djhoese commented on #1524
If you revert the logic for the transparency workaround, does the resizing work as expected (even though the window is transparent)? What if you remove the vsync keyword?

Actually, I don't see anywhere in your code where you add the canvas to the layout. You only set the parent which I think is not enough for Qt to properly add it to the layout.

[2018-09-26 15:49] jkrumbiegel commented on #1524
Well, I add the canvas_widget, which is the parent of the canvas, to the layout. Is that not enough? Or can I add the canvas more directly to the layout? I think I don't understand the backend well enough to know in what way the vispy elements relate to Qt.

[2018-09-26 16:00] djhoese commented on #1524
I believe you can do `layout.addWidget(canvas.native)`.

[2018-09-26 16:45] Roios opened #1525 "Markers with real size"
How can in a scatter define the size of a marker with a real dimension?
For example, scatter data in millimeters and I want the markers with 5mm of size (if square)

[2018-09-26 16:56] djhoese commented on #1525
Could you maybe provide a screenshot of what result you are getting and what you don't like about it? Maybe a small working example similar to the code you are using? The `plot` method has a `marker_size` keyword argument that can be set to change the size of the markers. That is the only way I know of to change the size of the marker without customizing some of the lower-level code.

[2018-09-26 18:44] kne42 commented on #1522
I will note that classes defined with `__slots__` will not work when used as a base with any other base:
[code]
will raise a `TypeError` for having two superclasses with `__slots__` defined and
[code]
will allow arbitrary attribute setting again (since `NotASlotsClass` has a `__dict__`)

A `__slots__`-like system can however work with custom metaclasses but will not have the same speed benefits an

[2018-09-26 18:50] djhoese commented on #1522
Also an only slightly-off-topic topic: In the future of vispy I would like to remove the need for the `Node` or rather `VisualNode` class. It is annoying to me that the logic of the VisualNode can't be part of the base Visual class and either disabled or go unused. Having to defined a Visual class twice (create_visual_node) is annoying IMO. At the same time, I don't want to have to refactor all of

[2018-09-26 23:43] kne42 opened #1526 "Option to disable interpolation"
Is there a way to disable interpolation so that all of the pixels of the image represented on the screen match those in the data? For example, say I'm rendering a simple checkerboard. I want to see only 0 and 255. No intermittent values.

[2018-09-26 23:49] djhoese commented on #1526
You could use a MarkersVisual or something similar to display individual points. The ImageVisual is spreading a texture over the surface so I don't think (could be completely wrong) there is any way to *not* find the nearest pixel. You *could* make a custom ImageVisual maybe with a custom fragment shader that says "if this coordinate is not within threshold distance of a whole numbered coordinate,

[2018-09-27 02:34] yileichen123 opened #1527 "No response of Vispy canvas"
When I run the examples in the spyder on Anaconda, it works but the gui has no response.

![qq 20180927103230](https://user-images.githubusercontent.com/37318400/46120122-d7432f00-c240-11e8-85f1-733c84b088f4.png)

[2018-09-27 02:45] djhoese commented on #1527
Try running the examples from the command line. The event loop for the backend (Qt4, Qt5, Wx, etc) must be running (`app.run()` usually) for GUI interactions and events to be processed.

[2018-09-27 02:55] yileichen123 commented on #1527
Thank you ！

[2018-09-27 02:57] yileichen123 opened #1528 "In jupterbook in anaconda, there is no output when I use vispy.Should I install some other packages?"

[2018-09-27 03:46] djhoese commented on #1528
I'm assuming you mean `jupyter notebook`. It is possible older versions of vispy (even the master branch at this point) are not compatible with the newest versions of jupyter notebook. I believe all of the necessary packages are already listed as dependencies for vispy and should have been installed. If you are receiving an error message (either in the python output or your browsers console) then

[2018-09-27 06:38] Super-Tree opened #1529 "running vispy on deep-learning server and only using it to generate png file not display"
I want to use the vispy on an deep learning server(ubuntu14.04),it doesn't have desktop, and other stuffs about display. But it has many gpus. I try to use vispy to generate screenshot PNG files without really display,
`import vispy `
`import vispy.app`
`import vispy.scene`
`import numpy as np`

`pc=np.arange(300).reshape(-1,3)`
`# v = vispy.app.Canvas()`
`canvas=vispy.scene.SceneCanvas(title="nam

[2018-09-27 06:40] Super-Tree commented on #1529
here is the result when i run
`vispy.test()`

[GCC 7.2.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.

----------------------------------------------------------------------
Skipping backend pyqt4, not installed or working properly
----------------------------------------------------------------------
------------------------------------------------------------

[2018-09-27 06:42] Super-Tree commented on #1529
here is part of gpu info:

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.90                 Driver Version: 384.90                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usag

[2018-09-27 07:06] kmuehlbauer commented on #1529
@Super-Tree How did you install `VisPy`? For the testing machinery to work correctly, you need to install `pytest`/`pytest-cov` and maybe some more packages. Unfortunately this is not reflected in the docs atm.

I'm not really sure why the `astropy` bundled `doctest_plugin` shows up in the error message.

To work in headless mode you would need to run something like `xvfb` to get the images render

[2018-09-27 07:32] kmuehlbauer commented on #1526
@kne42 Do you have a minimal example showing the behaviour? I'm not sure I understand the question.

Consider this example (using `scene`):

[code]

[2018-09-27 07:35] thomasdeneux commented on #1505
Indeed! My question was: what should i do with the vispy `DataBufferView` class, should i just set `use_cpu` to False in the constructor (which as noted in a comment is an "evil" constructor that doesn't call its superclass constructor), or will it need the CPU buffer in some situations?

And similar question for the `IndexBuffer` class: does it need `use_cpu` as a constructor argument, or do i ju

[2018-09-27 15:46] Roios commented on #1525
data_background unit is in meters [x,y,z]
I wanted to say that the marker should be 0,01 m for example

The code I have is this:
[code]

Thank you for the help

[2018-09-28 08:40] yileichen123 opened #1530 "AttributeError: 'VispyWidget' object has no attribute 'on_msg'"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-14-7c5b6e06e2a7> in <module>()
----> 1 c.show()
      2 app.run();

f:\anaconda3\vispy-master\vispy\app\canvas.py in show(self, visible, run)
    427             Run the backend event loop.
    428         """
--> 429         self._b

[2018-10-01 07:54] jkrumbiegel opened #1531 "refresh rate drops when setting transforms in SceneCanvas"
I don't know if this is related to another issue I saw which talks about nested SceneCanvas nodes, because my structure is quite simple, but there is still a considerable slowdown. It's also too slow to catch up with a 1/30 or 1/60 refresh rate using a timer. But rotating around with the camera in the scene is very smooth. I use pyqt5 and show one Mesh, two Markers visuals and one Line visual. I h

[2018-10-01 10:09] f0k commented on #1517
Looking at the code to figure out where the exceptions are intercepted, I found [the following](https://github.com/vispy/vispy/blob/master/vispy/app/backends/_osmesa.py#L175-L186):
[code]
This is the problem I experienced -- `glGetString(GL_VERSION)` returns an empty string. Could still be a problem with how the machine is set up, but I tried it on different Ubuntu machines with the same result.

[2018-10-01 15:19] djhoese commented on #1517
The loop is checking if the module/backend exists. I think it is a fair assumption that if something exists that it will work. If it doesn't then that is a problem with the environment. If I was in the opposite position and had PyQt5 installed, didn't specifically ask to use the PyQt5 backend, and then ended up using some other backend because the PyQt5 was corrupt/broken then I would be upset tha

[2018-10-01 15:31] djhoese commented on #1531
A couple questions about this and things I think are affecting the performance:

You block signals for frame_slider, you can apply this same type of logic with the canvas' update signals when setting data. I don't have the time to look up the exact incantation right this second but it is something like `with canvas.events.block():` or you may be able to do it per visual `with self.helmet_vis.event

[2018-10-01 17:28] jkrumbiegel commented on #1525
I think you need to create your own custom Markers visual, where you include an additional transform in the fragment shader that makes it so the size argument refers to the data coordinate system, not just the screen coordinate system. That way a marker will change size when zooming, so that it can have a real-world meaning relating to your data. You could look at the tutorials for writing custom

[2018-10-04 10:19] Paraphase opened #1532 "Shader Compilaton Error, GLSL Version 120 not Supported"
Hi everyone,

When I run some examples, for example examples/basic/scene/cube.py or point_cloud.py, I get the Error Message:

RuntimeError: Shader compilation error in vertex shader:
    on line 1: error: GLSL 1.20 is not supported. Supported versions are: 1.00 ES
      #version 120

The Complete Error Message is inside the Attachement
I'm trying to get vispy running on a RaspBerry PI 3B+ with Ras

[2018-10-04 14:44] Gotham13121997 opened #1533 "GLFW glfw.glfwSetWindowTitle issue"
Hello there,
I am using a library https://github.com/p5py/p5 which is dependent on vispy. When passing a new title as str to glfw.glfwSetWindowTitle only the first letter of the passed string is coming up as the changed title. I was able to find a workaround to this by passing the title by encoding it to utf-8 in
https://github.com/vispy/vispy/blob/0ff2bacef0ec941c039708935a4cbd694ecf02ab/vispy/ap

[2018-10-04 16:01] djhoese commented on #1533
@Gotham13121997 Thanks for the issue (and the pull request). What version of python are you using? I'm wondering if this is some python 2/3 incompatibility. I would think that glfw would handle this directly.

@larsoner I recall you having a little more experience with the glfw backend than me. Thoughts?

[2018-10-04 16:02] djhoese commented on #1532
@kmuehlbauer Has the most experience with vispy on rpi that I know of. @kmuehlbauer Any ideas?

[2018-10-04 16:04] Gotham13121997 commented on #1533
@djhoese I am on python 3.6. O.S is ubuntu 18.04

[2018-10-04 16:12] kmuehlbauer commented on #1532
@Paraphase I see you use berryconda. I contacted the maintainer of berryconda a while ago concerning OpenGL/pyopengl/pyqt on raspberry. I remember I had issues too but finally managed to get vispy to run on raspberry. Digging up the issue now.

[2018-10-04 16:13] kmuehlbauer commented on #1532
https://github.com/jjhelmus/berryconda/issues/15

[2018-10-04 16:15] kmuehlbauer commented on #1532
Unfortunately I did not pursue this further because of lack of time. But I can assist with debugging when I find the time.

[2018-10-04 16:20] yhql commented on #1493
Hi, I made a gist to try and circumvent the problem : https://gist.github.com/yhql/70c3e59019cb73ec83870e946166b95f

One problem is it's not super easy to pick a color for independent lines from there, but feasible nonetheless.

[2018-10-05 10:59] Paraphase commented on #1532
@kmuehlbauer yes i am trying to use vispy in a Berryconda Environment.
Thanks for the references, i'll have a look at it

[2018-10-06 08:03] rougier commented on #1505
I think you'll need it for the index buffer but probably not for he data buffer view (since it is merely a view on a data buffer that has been already declared with `use_cpu` or not)

[2018-10-06 08:10] rougier commented on #1517
Not quite sure either what to do in that situation.  How do you know the mesa import has failed?

[2018-10-07 10:00] kmuehlbauer commented on #1532
@Paraphase Found my raspy **and** the fitting SD-Card. Got it to work. Here are my findings so far:

This [gloo example](https://github.com/vispy/vispy/blob/master/examples/basics/gloo/rotate_cube.py) works nice. The [mentioned scene example](https://github.com/vispy/vispy/blob/master/examples/basics/scene/cube.py) runs also, but the quality is bad (cube edges not "nice").

Do not get any error be

[2018-10-07 10:41] kmuehlbauer commented on #1532
@Paraphase I also found this issue again with more details (at the end): https://github.com/vispy/vispy/issues/495

[2018-10-07 12:15] kmuehlbauer commented on #1532
@Paraphase I have good news, ehm, bad news. Using a self compiled `PyQt5` (via `conda-build`) I get a similar error like in your error message.

`TypeError: '<' not supported between instances of 'str' and 'int'`

This does not happen with my `PyQt4` (via `conda-build`).

@djhoese Does that ring a bell? It seems that there is a problem with the version comparison in `glir.py`. Any ideas? I think i

[2018-10-08 05:01] kmuehlbauer commented on #1532
@djhoese Thanks for the other branch, but the error stays the same. I suspect some problem with Mesa reporting the version, which is somehow working on qt4.

[2018-10-08 13:16] djhoese commented on #1530
Could you please provide more information? What code are you running that generates this error message? How have you divided up your notebook cells (I'm guessing you are using a notebook given the backend module mentioned in the traceback)?

There is a chance that the current vispy master is no longer compatible with current notebook. There were already limitations and notebook development (specif

[2018-10-08 13:16] djhoese commented on #1532
Note a similar issue with the mesa backend: #1517

[2018-10-09 16:16] Paraphase commented on #1532
@kmuehlbauer @djhoese
Thanks for your invesgigation in this issue, i will try the installation with pyqt4

[2018-10-09 17:00] kmuehlbauer commented on #1532
@Paraphase have a look also here: https://github.com/vispy/vispy-website/issues/16

It would be nice, if you write down some notes while doing the installation steps, so that we can probably finetune the installation howto mentioned in the above link. Also problems you encounter and resolve during the procedure would be good to know. Thanks!

[2018-10-11 14:21] #1434 closed

[2018-10-11 14:21] #1522 closed

[2018-10-13 15:31] #1533 closed

[2018-10-14 20:51] JoeXinfa opened #1537 "Change markers color"
[code]

[2018-10-14 21:38] djhoese commented on #1537
It looks like `set_data` requires you to provide the position data (`pos`) regardless of whether it has changed or not. Since it doesn't hold on to the original `pos` array you'll have to do that yourself. I'd be open to pull requests that change this but I wouldn't be surprised if there are reasons the original position isn't held on to.

Side note: If you have any choice you should move to pytho

[2018-10-15 13:52] JoeXinfa commented on #1537
Thanks @djhoese . I saw that. The `set_data` method has `pos=None` in arguments but requires it inside, which is conflicting.

The 2nd issue is that it reverts to other defaults. Try the snippet below. The last line, which intends to update the face color only, also changes the symbol and edge color to the keyword argument defaults. In my app, I have to supply all the arguments when I just need ch

[2018-10-15 14:02] djhoese commented on #1537
Make sure any testing you do is based on the github master as things in the Markers/MeshVisuals may have changed recently.

[2018-10-16 11:27] thomasdeneux commented on #1505
ARGHH!! I have finally made this feature of an optional CPU buffer (see PR #1538), but Collections still have a log of other bugs. Now i do not get an error any more when setting, for example `points['position']`, but the display does not update! In fact, only updating the `'color'` works as expected, but the position or size of agg points, or the edge positions or line width of agg lines do not u

[2018-10-16 19:43] rougier commented on #1505
Where is this `_vertex_list`?

[2018-10-17 02:56] JoeXinfa commented on #1276
I installed vispy using `pip install -e .` Now I get similar error. I'm in ubuntu and don't see the dll file. Could you help me out? Thanks in advance. @djhoese @larsoner
[code]

[2018-10-17 08:49] thomasdeneux commented on #1505
It is an attribute of the BaseCollection class. I have the impression that the `Collection.draw` method systematically enters its `if self._need_update: self._update()`, and that this results in the vertex buffer to be overwritten by the data inside `BaseCollection._vertex_list` attribute. But I may be wrong.

Better is to give an example, but for it to not give execution error, you need to run it

[2018-10-17 13:34] djhoese commented on #1276
@JoeXinfa Do you have freetype installed? If so where are the library files?

[2018-10-18 01:56] JoeXinfa commented on #1276
Thanks David. I had it installed by conda, here `/home/joe/anaconda3/lib/libfreetype.so.6.16.1`

I looked at the file raised the error, `/home/joe/code/vispy/vispy/ext/_bundled/freetype.py`, and inserted `print(filename)` before the error. I'm surprised that it printed `/home/joe/Documents/demo-data/fonts/OpenSans-Regular.ttf`, which origins from the `vispy/util/fetching.py` in which I inserted th

[2018-10-18 02:14] mpspells commented on #1528
For what it's worth, we have had success using ipywidgets 6.0.1 with vispy 0.5.3, and ipywidgets 7.0.1 with vispy 0.6 prerelease (from source). There are a couple of caveats:

- You have to be very careful to install compatible versions of vispy, ipywidgets, widgetsnbextension, and notebook; I think installing with pip has the correct dependencies for ipywidgets, though.
- If installing these depe

[2018-10-18 02:31] mpspells commented on #1528
Correct, it's to get ipywidgets to work. I think the step is not needed if the packages are installed via conda (or, I believe I read that sufficiently modern notebook removes the need to install the extension, though that may not be compatible with ipywidgets 6.*).

[2018-10-18 10:38] thomasdeneux opened #1540 "Image re-draw failed"
Hello, i have many elements in a single canvas, including a 700x350 ImageVisual. I get the following error when the canvas is being redrawn upon call to its `update` method (which calls `on_draw` which calls the image `draw` method, see below: `self.img_ab.draw()`).

Any idea what this can be??!!

Note that the error happens most of the time, but is not systematic.

[code]

[2018-10-18 10:54] rougier commented on #1505
Note that `color="shared", size="local"` means color is stored in the accompanying texture while size is stored in the buffer, that may explain the behavior being different.

[2018-10-18 10:58] thomasdeneux commented on #1505
sure, size has to be local so i see no way to successfully change the property
(note in any case that i switched to not using collections, so this issue is no longer important for me)

[2018-10-18 11:21] djhoese commented on #1540
Are you able to reproduce this with just the ImageVisual? My guess would be either a PyQt5 issue, OpenGL library issue, or something else I'm not sure of. I don't think I've ever seen this before and the fact that it is such a low-level error makes me think there isn't anything we can do.

You could try doing just a single ImageVisual and see if you can reproduce it. Or try using PyQt4 as a test t

[2018-10-18 11:40] thomasdeneux commented on #1540
@djhoese Thanks, I am currently working on making a standalone version of the bug, but it is definitely a complex one: it happens only when another specific graphic element is also present on the canvas: a collection of lines for which i wrote my own shaders (very simple ones by the way). I will post it once i've made it. But i will also try this PR you point at me.

[2018-10-18 11:42] djhoese commented on #1540
I should have mentioned, if not obvious, the mentioned PR is the future of the PyQt5 backend. I've just had a lot of trouble getting all of the unit tests passing for it including getting `vispy.sys_info()` to print usable information when no widget is shown.

[2018-10-18 11:47] thomasdeneux commented on #1540
Sure. I just tried it but it did not help, so i switch back to the master branch and continue my work on simplifying the program that reproduces the bug.

[2018-10-18 14:53] thomasdeneux commented on #1540
The problem might be related to having 2 different canvas. I was making sure that the canvases `on_draw` and `on_resize` functions start by `self.set_current()`, but this was not enough. At the end i could work out the but by putting all my displays inside a single canvas, but this is not ideal.

[2018-10-18 15:08] djhoese commented on #1540
It should be possible to have two canvases that behave separately. If you need two views of the same canvas then that is possible too. There are examples of both in the repository examples. You just need to make sure that you address the canvases separately.

[2018-10-18 15:38] kmuehlbauer commented on #1540
@djhoese I'm not sure if two views of the same canvas is possible. The one example supposed to show this is broken AFAIK. I remember a comment where @campagnola was describing how that can be achieved. I did not find it yet. I'm also interested in this if it works.

[2018-10-19 15:03] kmuehlbauer commented on #1540
@djhoese Found the issue concerning two views of the same canvas: https://github.com/vispy/vispy/issues/1124

[2018-10-19 18:39] kne42 opened #1541 "Draw order combined with opacity does not behave as expected"
Visual nodes drawn in front of others with sub-1 opacities set do not show the node underneath rendered.

Reproducible example:
[code]

@AhmetCanSolak and I would be happy to fix this if you could give us some pointers.
cc @royerloic

[2018-10-19 19:04] djhoese commented on #1541
How does this code change with the current development version of vispy (master branch)? Have you tried with the PyQt4 backend? What about the branch used in this PR: https://github.com/vispy/vispy/pull/1394?

[2018-10-19 19:10] djhoese commented on #1541
Side note: Is there a website or screenshots of what napari is for? Just curious.

[2018-10-19 19:20] djhoese commented on #1541
I'm testing with PyQt4 and current master. `cam.opacity = 0.5`

I also see the issue.

[2018-10-19 19:28] kne42 commented on #1541
Napari is a Python-native high-dimensional data visualization & processing tool. It is currently in the Pre-Alpha stage so if you want more details I can DM you but we'd prefer to keep it on the low until it's ready for an official release.

[2018-10-19 19:29] djhoese commented on #1541
Any data or a specific type of data? Specific scientific field?

[2018-10-19 19:35] kne42 commented on #1541
We'll primarily be dealing with images & ROI/drawing utilities and we're not technically specific to any one field but the driving forces behind the project are to provide an easy-to-use, modular, responsive graphical processing tool for biologists.

[2018-10-19 19:45] djhoese commented on #1541
Got it to work:

1. Set `cam.order = 1` meaning it will be drawn last. The default actually worked for me, but iirc this does matter.
2. Set a z-level for your images. In your `STTransform` specify a 3rd dimension of `100`.

![image](https://user-images.githubusercontent.com/1828519/47240192-3a8e3000-d3ad-11e8-8bb1-edaa6350153b.png)

[2018-10-19 19:48] djhoese commented on #1541
Sorry, also important to note I set `cam.alpha = 0.5`.

[2018-10-19 20:34] kne42 commented on #1541
Yes, we have been using this as a workaround. However, we would like this
to work with regards to draw order as well. Unless this is intended
behavior.

[2018-10-29 14:01] nsinh008 commented on #1412
Hi @djhoese
Saw your comment and needed help.
I am also facing this issue of GLError "invalid framebuffer operation" while using GLClear, glBegin or glEnd.
How did you resolve the error?
I tried many things but none worked.

Can you please help?

[2018-10-29 14:32] djhoese commented on #1412
@nsinh008 Sorry, but I don't remember. My comment after the one you quoted talks about how I moved `show` around which seemed to get rid of the above error. As mentioned in the comment you quoted there is a bug in OSX related to Qt4 (maybe Qt5 too) where the first draw always shows these errors but subsequent draws work fine. That said, are you using vispy? glBegin and glEnd are deprecated OpenGL

[2018-10-29 14:48] nsinh008 commented on #1412
I am actually using pyCharm IDE for my Computer animation project and was using glClear() which is throwing invalid framebuffer operation error. It goes in infinite loop.
2018-10-29 10:12:12.620 Python[5866:1496057] ApplePersistenceIgnoreState: Existing state will not be touched. New state will be written to (null)
Traceback (most recent call last):
  File "/Users/nidhisinha/PycharmProjects/assign

[2018-10-29 14:59] djhoese commented on #1412
If you are not using vispy I would recommend posting on an opengl forum, specifically pyopengl. If you are using vispy then start by testing some of our existing examples. If you have issues with those or your own vispy code then please create a separate issue. Good luck.

[2018-11-01 18:33] Atnas1010 opened #1542 "Qt5 fullscreen - Only rendering in part of window"
I made a program that shows an image in fullscreen, but when I use the Qt5 backend, it shows the full image, but utilizes only part of the screen (to the top and right of the image, there's only white)

If I change the backend to glfw, it uses the whole display as expected.

Following is a MWE:
[code]

[2018-11-01 18:41] djhoese commented on #1542
What version of vispy? Have you tried PyQt4? Are the results different?

[2018-11-01 19:00] Atnas1010 commented on #1542
Python 3.6.0
Vispy 0.5.3

It's the same result under PyQt4 (a bit different part of the image not used, but still top and right parts where it's not used)

[2018-11-01 19:07] djhoese commented on #1542
What operating system? Could you try installing vispy from the github repository master branch and see if that helps?

[code]

[2018-11-01 19:32] Atnas1010 commented on #1542
I was using Windows 10, but fixing my paths to compile vispy was hard so:
So under Ubuntu 18.04, I get the same behavior with QtPy5. Tried with vispy from master branch and 0.5.3, and got same results.
The only difference is that is uses a much smaller part of the screen, but still top and right part not used (but this is also on another computer, so maybe it's just the screen resolution making it

[2018-11-01 19:35] djhoese commented on #1542
Do you get any weird behavior from the vispy examples? There are a couple that open full screen so maybe those would be good for us to use as a starting point for testing.

[2018-11-01 20:11] Atnas1010 commented on #1542
Correct me if I'm wrong, but the only fullscreen example I could find was
vispy/examples/demo/scene/oscilloscope.py

When I run the example, it uses my full screen.
![initial](https://user-images.githubusercontent.com/11504118/47876732-67e8ce00-ddf0-11e8-9413-7faf5bb7a895.jpg)
If I click on the rendering, it moves into the lower left, it moves into the lower left corner and stays there. This is ju

[2018-11-02 14:01] djhoese commented on #1542
You may be right that that is the only one that opens up in fullscreen by default. Others use the default interactive key bindings so you can make them fullscreen (F11 maybe?).

Anyway, I *swear* I fixed this in github master. I'll have to try this later. I'm currently on vacation so not sure when I'll get to it.

[2018-11-02 14:03] djhoese commented on #1542
Just tested this on OSX with the master branch and it behaved as expected. Any idea if you have a HiDPI display? I wonder if the Qt library isn't properly built and isn't detecting the HiDPI display properly.

[2018-11-02 16:14] Atnas1010 commented on #1542
I just tested the oscilloscope on my ubuntu machine (no display scaling) and it worked as properly on 0.5.3 and master.
After updating my windows machine to master, the oscilloscope.py is working fine.
My original posted code still gives weird behavior on ubuntu and windows with both 0.5.3 and master.
My ubuntu machine uses a single display with 100% display scaling.
My windows machine uses two di

[2018-11-02 17:58] Atnas1010 commented on #1542
My bad! I was missing an on_resize in my original sample.
After adding that it works fine.
[code]

[2018-11-02 17:58] #1542 closed

[2018-11-02 19:49] djhoese commented on #1542
Great to hear you got it working. Thanks for reporting it either way.

[2018-11-05 04:26] nyanpasu64 opened #1543 "Recommended API for offscreen drawing (ndarray)?"
I observed Vispy has a lot of "cooking recipe" demos, and a "math textbook" API reference, but no good official tutorials. I've been piecing together an offscreen line drawing program, based off a combination of [basics/visuals/line](http://api.vispy.org/en/v0.4.0/examples/basics/visuals/line.html) and [demo/gloo/offscreen](http://api.vispy.org/en/v0.4.0/examples/demo/gloo/offscreen.html).

[code]

[2018-11-16 19:43] nh43de opened #1545 "Any plans to support reading from Apache Arrow datasets?"
[https://arrow.apache.org/powered_by/](https://arrow.apache.org/powered_by/)

[https://github.com/apache/arrow/tree/master/python](https://github.com/apache/arrow/tree/master/python)

[2018-11-16 19:52] djhoese commented on #1545
How would getting the data from arrow be any different than working with a numpy array?

[2018-11-27 10:04] the-lay commented on #1027
Is there still no way to obtain texture handle from gloo texture? And if so, how should I do with Vispy, or should I use PyOpenGL for texture creation, and then somehow pass it back to gloo.Program as a uniform?

My goal is to do some operations with PyCUDA and write the result to a 3d texture that will be shown by Vispy.

Sorry for necroposting.

[2018-12-03 01:52] JoeXinfa opened #1549 "Visuals cube and box duplicate?"
Looks to me visuals/cube.py and visuals/box.py are very similar. Is there opportunity to merge them and avoid confusion? Thanks.

[2018-12-03 02:34] larsoner commented on #1549
No idea

[2018-12-03 18:23] kmuehlbauer commented on #1532
@Paraphase We have installation instructions for raspberry online http://vispy.org/raspberry.html. Please try this way, which worked for me.

Please reopen, if necessary.

[2018-12-03 18:23] #1532 closed

[2018-12-05 15:12] cimbi opened #1551 "Create TextVisual separate from camera transforms"
I want to create a visual of text within a rectangle so that the text does not become invisible when moved over the background with the same color. This is easy but I cannot figure out how to detach the rectangle visual from scaling. So I basically want to be able to scale the scene but the rectangle visual should not be scaled and stay just around the text.

This becomes even more complicated whe

[2018-12-05 18:10] djhoese commented on #1551
I feel like I remember @kmuehlbauer or @larsoner helping someone else with this recently. There may even be another issue on this topic. I've never done this myself so not sure how much help I can be. You are correct that the transforms are the part that need to be considered. I feel like there is a semi-builtin way to do this, but can't remember and can't find the related issues right now. Hopefu

[2018-12-05 18:33] kmuehlbauer commented on #1551
@cimbi I can't remember adhoc, if this was discussed before.

What comes to mind is the AxisWidget which creates an axis with labels. These text labels keep their sizes regardless of the zoom factor of the data. Maybe we can get some inspiration from that. I'll try to dig a bit deeper in the issues.

[2018-12-06 07:40] kmuehlbauer commented on #1551
@cimbi

I adapted the (volume example](https://github.com/vispy/vispy/blob/master/examples/basics/scene/volume.py). Is this what you want to achieve?

The main difference between the `Sphere`  on one side and the `Text` and `Rectangle` on the other side is `Sphere`'s parent is `view.scene` whereas the others parent is `view`.

[code]

[2018-12-07 10:40] cimbi commented on #1551
Yes, exactly. Thanks @kmuehlbauer!

[2018-12-07 10:40] #1551 closed

[2018-12-07 11:50] cosmoni opened #1552 "transparency when using line width=0 in plot"
when running the vispy/examples/basics/plotting/scatter_histogram.py example the window becomes transparent in high point density areas and other windows and the desktop show through. this problem goes away when you set line width to anything but 0.

[2018-12-13 00:32] SuyiWang opened #1554 "Link two flycameras"
The mouse rotation for two linked FlyCameras like the following is not working properly.
[code]
Namely, the current mouse rotation for linked FlyCameras has an inertia effect. For example, let's say we have two movements with left button down. Move 1: Dragging the screen from `mouse_down_pos` to `mouse_pos_A`. Move 2: Without releasing left mouse button, dragging the screen from `mouse_pos_A` back

[2018-12-13 02:00] djhoese commented on #1554
Are you following an existing example that shows this issue? Otherwise do you have a self-contained example that I could test out? What backend are you using?

Thanks for the thorough bug report too.

[2018-12-14 00:13] SuyiWang commented on #1554
Here is an example script to reproduce the bug. If you unquote the block in `class fly`, the issue should be gone.
[code]
I don't quite get what "backend" refers to in this context, but my python version is 3.5.2 and the OS is Ubuntu 16.04.4 LTS. Would you elaborate if these two guesses are not helping?

[2018-12-14 00:42] djhoese commented on #1554
The backend refers to the GUI framework that vispy is using to draw things on the screen, like PyQt5, PyQt4, Wx, etc. You can find this type of information out by doing:

[code]

If you paste the output of that here that may give me more information, but I'm guessing you are correct about limitations of the current implementation of the fly cameras.

[2018-12-14 01:04] djhoese commented on #1554
I've looked at the fly camera and your original post and I think I understand what you're saying now. As for your concerns about changing rotation, I don't think it is used anywhere else in vispy. Is there a reason you called them `_self` and `_user`? And what is the reason for the `normalize` call inside the setter methods?

Regardless, I think it would be great if you could make a pull request w

[2018-12-19 16:04] djhoese commented on #1374
Now that I'm looking at this again, I've changed my mind again. My original thought for having two sites was that github might limit how much data we can throw in the gallery page (`_static`) so it'd be nice to have a way out by having a separate domain for the "flashy" stuff where we could possibly put the files somewhere else.

However, github has a per-repository limit of ~1GB and we aren't goi

[2018-12-19 16:32] kmuehlbauer commented on #1374
Makes sense. So the API docs would be build via rtd at every push, right? Also versioning could be configured.

[2018-12-19 16:36] djhoese commented on #1374
Yes. But I'm saying that now I would rather have everything (API, gallery, landing page) on rtd which would use `vispy/docs` (which points to the `vispy-website` repository). So going to `vispy.readthedocs.io` would have the same effect as going to `vispy.org` now. This is the second bullet in @almarklein's original post. We'd have to update the instructions for updating the docs since right now i

[2018-12-19 16:44] kmuehlbauer commented on #1374
I would still pick bullet point 3, but do not have strong preference. In the end it is a matter of maintainability, so whatever is easy and nicely automated is good.

[2018-12-19 16:47] djhoese commented on #1374
Maintainability, yes, but also user experience. Having two separate websites may be confusing to users. I'll think about it more.

[2018-12-20 07:02] tnekent opened #1556 "Import Error: Fontconfig not found"
If I try to import vispy, it raises ImportError "fontconfig not found". Is there something missing?

[2018-12-20 07:50] kmuehlbauer commented on #1556
How did you install VisPy? Seems, that `fontconfig` is not installed.

[2018-12-20 07:55] tnekent commented on #1556
Installed through terminal with "pip install vispy"

[2018-12-20 07:58] kmuehlbauer commented on #1556
OK. Can you check with your system's package manager if `fontconfig` is installed in your system? If not, check if installation of `fontconfig` will fix it.

[2018-12-20 08:08] tnekent commented on #1556
How do you install fontconfig?

[2018-12-20 08:13] kmuehlbauer commented on #1556
What system are you on? You would use your system package manager (eg. apt, zypper etc. depending on system) and install `fonctconfig` through this.

[2018-12-20 08:38] kmuehlbauer commented on #1556
@djhoese @larsoner This seems to be a problem for users. `fontconfig` isn't mentioned in the docs, if it is missing, users will get these notifications. But we also have this patch currently in `conda-forge` to get things running (https://github.com/conda-forge/vispy-feedstock/blob/master/recipe/ctypes_fontconfig.diff).

Can we do anything to correctly find `fontconfig` for the different systems?

[2018-12-20 09:46] kmuehlbauer commented on #1529
@Super-Tree Is this still an issue for you? Could this be closed?

[2018-12-20 13:35] larsoner commented on #1556
I think that code was originally taken from glumpy, maybe there are hints over there

[2018-12-20 13:41] kmuehlbauer commented on #1556
@larsoner Thanks for looking into this. But glumpy doesn't use `fontconfig`.

[2018-12-20 13:48] djhoese commented on #1556
@kmuehlbauer If I'm not mistaken that conda-forge patch is to make sure it takes the fontconfig from conda and not from the system. It isn't necessarily a fix for anything wrong in vispy.

I *think* the TextVisuals require fontconfig to be installed to find and load font glyphs. We could make it not raise an ImportError until a TextVisual is actually made rather than when it is imported (which is

[2018-12-20 14:38] kmuehlbauer commented on #1556
@djhoese Wasn't meant to blame vispy doing something wrong. But currently we do not know, if `fontconfig` is really missing in the OP's system or if vispy just isn't finding it.

[2018-12-20 21:18] SuyiWang commented on #1554
It seems that my reply was not posted. Just post it again. [The backend is PyQt5.]

The original idea is to let people understand what the variables mean by their names. I am also considering names such as `_fixed`,`_varying`. It could also be good to just put comments below `_rotation1` and `_rotation2`.

My version has no `normalize` for setter, but for properties. In original version, the `rota

[2018-12-20 23:22] SuyiWang commented on #1554
Now there is a small issue left. Let's still use the following example. The snippet is using FlyCamera after the commit above.
[code]
When started new, there is no problem in control both cameras in either side of the viewbox. But after resizing the window / moving cameras using keyboard / rotating cameras using mouse in viewbox1 (left), the mouse rotation for camera in viewbox2 (right) becomes ve

[2018-12-20 23:55] SuyiWang commented on #1554
The small issue mentioned above could be resolved by adding `event.handled = True` in several locations. The change is reflected in the second commit. Afaik, there is no issue left.

[2019-01-05 07:27] lilunqin opened #1559 "About 'ColorBarWidget' problem, how to use Chinese in 'label'？"
![image](https://user-images.githubusercontent.com/45551603/50721575-def65780-10fc-11e9-90ff-e6a660e15781.png)

Here's code.
`
def how_to_use_chinese():
    import sys
    from vispy import scene
    from vispy import app

    # http://vispy.org/scene.html?highlight=colorbarwidget#vispy.scene.widgets.ColorBarWidget
    canvas = scene.SceneCanvas(keys='interactive')
    canvas.size = 800, 600
    b

[2019-01-07 02:09] EricThomson opened #1560 "Rendering of 2d images using viridis on GPU does not work (also cubehelix)"
I'm flagging this for viridis more than cubehelix because viridis is the default for matplotlib, and is fairly ubiquitous, but I tried it for all built-in colormaps and found the same thing for cubehelix as well. When I render 2d data as an image in vispy, and set viridis as the cmap (and use my GPU) it comes out extremely sparse-looking. As you zoom in you see that the data is there, it is just n

[2019-01-13 22:40] philCryoport commented on #1453
Thank you for this!   I finally could run vispy.test() on Windows 10 after I found this.

[2019-01-13 22:55] djhoese commented on #1453
@philCryoport Glad you figured it out. I'm going to close this as it seems everyone got things working. If anyone reading this still has trouble running certain things about vispy they should open a new issue. That said, some tests may fail (we're making them better) on some systems for small things like race conditions that are unlikely to arise in real life use cases.

[2019-01-13 22:55] #1453 closed

[2019-01-14 02:00] EricThomson opened #1561 "After closing cube example, it still seems to be running in background"
I noticed this when things started to slow down as I worked longer and longer on my project. I can reproduce it with the `visuals.cube.py` example from the repository, slightly modified with a print statement to illustrate it. This example shows a rotating cube in the canvas, and when you close the canvas, it continues to print the statement from the `on_timer()` method:

[code]

This code is pret

[2019-01-14 06:38] philCryoport opened #1562 "How to surface plot with set of {x,y,z} points?"
Hi there,

I have a large set of {x,y,z} points (which I load into a pandas dataframe).  In order to get `matplotlib.plot_surface` to work, I:
[code]
...and voila! I get a plot_surface.

If I want a tri_surface plot, I can:
[code]

But with 330k data points...matplotlib is kinda slow.  But hey, I've got this midrange nVidia GPU on my laptop.  Let's try Vispy!

[code]

So I get I'll use:
[code]

Bu

[2019-01-14 06:55] kmuehlbauer commented on #1562
@philCryoport AFAIU, you would need your data in a regular grid, which can be described via a 1D X-array and 1D Y-array. Same logic as you do in your first example (x1, x1).

So for plotting you would also need the 2D Z-array (z2 in your case). With this you should get SurfacePlotVisual running.

I'm not sure, if there is some GL-driven interpolation of irregular data available in VisPy.

[2019-01-15 22:30] philCryoport commented on #1562
@kmuehlbauer thank you for the tip!  I checked the shape of x,y,x1,y1,x2,y2, and various combinations of x*,y*->z* and found a matching set of arrays that worked :)

[2019-01-15 22:30] #1562 closed

[2019-01-16 06:46] kmuehlbauer commented on #1562
@philCryoport Glad it works for you!

[2019-01-22 08:16] sjoro opened #1563 "Plotting wind barbs"
a feature request:
i'm using vispy to plot meteorological products. it would be great to have have a marker or a way to plot wind barbs. this type of visualization is available in [matplotlib](https://matplotlib.org/examples/pylab_examples/barb_demo.html)

[2019-01-22 14:11] djhoese commented on #1563
Hi @sjoro. I think we had a user a year or so ago bring up wind barbs on [gitter](https://gitter.im/vispy/vispy) or in an issue. I can't find the discussion on github anywhere, but I think someone has done something like this. I feel like @kmuehlbauer was in on the conversation too. I feel like I remember seeing some shader code for it too.

The "best" idea would be to have a custom Markers visual

[2019-01-23 05:05] EricThomson commented on #1527
Note when this happens `%gui qt5` in the ipython terminal gets things working for me.

[2019-01-23 06:08] EricThomson opened #1564 "Clipper w/images: y-axis not flipped, and transform coordinates are flipped"
### tl;dr
1.  `Clipper()`, which I use to make a clipping mask for multiple images, uses an unflipped y-axis. This is bad for `ImageVisual`s and yields some strange behavior (e.g., images being cut off when you resize).
2. When applying transforms to the clipping window, x/y seem flipped (e.g.,+x translation moves it to the left).

Is there some way I'm missing to change these? I've gone into the

[2019-01-23 07:06] kmuehlbauer commented on #1563
@sjoro I think this was discussed before, unfortunately I wasn't able to dig this up.

I have the same impression as @djhoese that a custom MarkerVisual is the best way to go. And this would indeed be a nice addition. How many different windbarbs are out there?

[2019-01-23 07:56] sjoro commented on #1563
thanks for the info!  shame that the old discussion could not be found.
regarding the barbs, the representation depends on the wind speed. so, as individual markers there's many different ones. [https://blog.mapbox.com/mapping-wind-barbs-to-show-speed-and-direction-4d3078add03d](Here) is a good example. would each of these barbs need it's own Marker or could it be build on-fly?

[2019-01-23 08:22] kmuehlbauer commented on #1563
@sjoro Currently `Marker` just get an array of positions where to plot. You could create different markers for the different wind speed ranges. But this won't work here as you also have wind direction as parameter to take into account.

Nevertheless, it should be possible to also provide wind speed and direction to calculate the barb from those values within the shader. This would need some tweaki

[2019-01-23 09:02] sjoro commented on #1563
i'm happy to assist in anyway i can, but please keep in mind that i have no openGL programming skills :)

[2019-01-23 09:54] almarklein commented on #1374
Sorry, I've somehow missed that message. I've added you. @larsoner and @kmuehlbauer, if you provide/send me your rtd user names, I can add you too.

[2019-01-23 11:42] kmuehlbauer commented on #1563
Means, for a range up to 200 knots we need only 45 different windbarb polygons. Depending on the direction of wind the windbarb polygon just need to be rotated accordingly. For use on the southern hemisphere, we just need to flip on x-axis. Could all be assembled in one dedicated function.

[2019-01-23 15:20] larsoner commented on #1374
Just signed up, mine is `larsoner`

[2019-01-23 15:49] sjoro commented on #1563
looks very promising! thanks @kmuehlbauer !

[2019-01-23 21:02] almarklein commented on #1374
Great! Done!

[2019-01-24 08:34] kmuehlbauer commented on #1563
This is probably the quickest way to implement this, without touching shaders. In the example the windbarb is build from segments and rotated. Should be fairly easy to implement, @sjoro.

[code]
![screenshot_20190124_093111](https://user-images.githubusercontent.com/5821660/51665081-3892c900-1fbb-11e9-8e8b-8ed968a38c4b.png)

[2019-01-24 09:23] sjoro commented on #1563
looks really good, thanks @kmuehlbauer! do you see any performance issues with this if plotting a vast amount of barbs. our product has ~50k winds.

[2019-01-24 10:13] kmuehlbauer commented on #1563
@sjoro Can you elaborate a bit further about the application? How do you display ~50k windbarbs.

The first image is 1000 barbs, the second 100000. I can't see any reason to display that much windbarbs.

![screenshot_20190124_111033](https://user-images.githubusercontent.com/5821660/51671341-fff9ec00-1fc8-11e9-819e-86103ff518a7.png)
![screenshot_20190124_111110](https://user-images.githubuserconte

[2019-01-24 11:55] sjoro commented on #1563
thank you!
95% of the time we inspect the winds per channel, so good performance for 10k winds would be appreciated. officially speaking the flags should be filled, though in my IDL example they are not. so, as a first implementation they would not need to be filled if that brings performance gains. it's more important to be able to just plot them. i'm using vispy to plot other types of products (

[2019-01-25 06:53] rougier commented on #1563
Note that you can probably have the rotation made inside the GPU

[2019-01-25 07:06] kmuehlbauer commented on #1563
@rougier Thanks for chiming in. Actually I'm just reading your great book (http://www.labri.fr/perso/nrougier/python-opengl/#id29). From my experience the performance loss is not the creation of the vertices (rotation) but the vast amount of items put into the collection, But I might miss something.

If we were going the marker-way how would you tackle the creation of these barbs within the shader

[2019-01-25 10:19] rougier commented on #1563
@kmuehlbauer If you barbers are all the same (memory) size, you can add all of them at once with the collection.

I'm not familiar enough with barbs but they are supposed to all look exactly the same, you can consider having a distance field. I explained this in the book with the firefox logo. The other option is to write a specific shader and looking at the barb, it should not be too difficult (l

[2019-01-25 10:50] rougier commented on #1563
But there is a fixed size of such barbs, right ? In that case a big SDF texture with all the markers might do the trick.

[2019-01-25 10:59] kmuehlbauer commented on #1563
Yes, the size of the barbs is fixed. You mean, we put all possible variations of these barbs into a SDF texture and select from that texture. I can grasp that this might work, but have no idea how this is coded.

[2019-01-25 12:35] rougier commented on #1563
There's is a SDF glyph collection that you can use as a starter (or find a font file with barb sign inside).
The new collection would be pretty similar but much simpler because you don't need to align characters.

For the alternative (defining bar through function), the problem is to find a good way to parameterize the shape if don't want to have too much tests (if speed = 0 then draw(barb0) else

[2019-01-25 12:59] sjoro commented on #1563
regarding the AMV product, it consists of latitudes and longitudes for the location, and then wind speed and direction for each wind barb. it also has the height (i.e. pressure) for each wind that i've used for coloring the barbs. and just to confirm, the size of a barb is fixed, but should be preferably configurable.

[2019-01-25 17:27] rougier commented on #1563
Size, position, color & rotation are easy. The only difficulty is to draw the shape depending on the speed. Using analytical functions might not be a good option unless we find a way to reduce the number of `if/else` statements.

[2019-01-25 17:36] kmuehlbauer commented on #1563
@rougier We can break it down to one if/else (for the calm-barb which is a double circle) and three while-loops (flags, fullbarbs, halfbarb).

If we think about 145 knots there will be calculations for the shaft (1), for two flags (2), for four fullbarbs (4) and one halfbarb (1). This means calculation and mixing of 8 elements for that one barb, where for the different elements just the position i

[2019-01-28 09:05] kmuehlbauer commented on #1563
@sjoro @rougier I adapted the gloo-quiver plot using a windbarb calculation which I found on [shadertoy](https://www.shadertoy.com/view/XsKyR1). The wind originates at mouse position and is getting stronger with distance.
![screenshot_20190128_100033](https://user-images.githubusercontent.com/5821660/51824919-e36cf500-22e3-11e9-8876-523abeb6d4c9.png)

[code]

[2019-01-28 15:10] kmuehlbauer commented on #1563
Below is the main-function after dissolving the DRAW-definitions. Variable `d` should now resemble something like a distance-field but with linewidth and kind of aliasing already applied. It might be possible to make this more efficient.

@rougier Is this the analytical solution you mentioned? How do we get this into VisPy now? Via `MarkerVisual` or via kind of `ArrowVisual`? What do you suggest?

[2019-01-29 18:36] rougier commented on #1563
Probably via Marker visual (or a subclass). Orientation and speed needs to be fed via attributes.

[2019-01-29 18:57] kmuehlbauer commented on #1563
I thought so. But I have a hard time to understand the difference between plotting the barb at some coordinate and the momentary code, where everything depends on the `iResolution` and the artificial grid within the shader. Can you shed some light or point me to some examples?

[2019-01-30 08:20] kmuehlbauer commented on #1563
@rougier I think I've resolved my problems in understanding.

@sjoro I'm currently thinking a bit about which parameters to feed to the `WindbarbVisual`. We might think about feeding u/v wind components. This would be easy in the shader to get direction and length of that vector. We can feed speed and direction also. Or we can make this both available. Any more ideas?

[2019-01-30 13:41] kmuehlbauer commented on #1563
OK, here comes first iteration of `WindbarbVisual`including application. Using 50k barbs I get roughly 2 FPS while updating everything (position, wind, colors) on my machine. Using 10k barbs this gets up to decent 12 FPS. If you zoom in this accelerates even more depending on the zoom ratio.
![screenshot_20190130_143112](https://user-images.githubusercontent.com/5821660/51984487-b82d0600-249b-11e9

[2019-01-31 07:10] kmuehlbauer opened #1566 "GLSL - code duplication"
While digging into #1563 I found that several glsl-functions have duplicates in the code base.

Here are some examples

1. signed segment distance [here](https://github.com/vispy/vispy/blob/master/vispy/glsl/arrows/common.glsl) and [here](https://github.com/vispy/vispy/blob/master/vispy/glsl/math/signed-segment-distance.glsl)
2. arrows/arrowheads [here](https://github.com/vispy/vispy/blob/master/v

[2019-01-31 14:15] GuillaumeFavelier commented on #1561
I tried your version of the script and I didnt reproduce the issue: when I closed the window, the "don't mind me" message stopped popping completely.
I have Ubuntu 18.04.1, Python 3.6 and vispy 0.6.0.

[2019-01-31 15:32] djhoese commented on #1566
I'd like to hear @rougier's opinion on this. I wouldn't be surprised if these have already been cleaned up in glumpy. I'm assuming most of these came from glumpy originally.

[2019-01-31 15:44] kmuehlbauer opened #1568 "pyopengl issues"
See for further discussion:

https://github.com/mcfletch/pyopengl/issues/19
https://github.com/conda-forge/pyopengl-feedstock/issues/16

First I installed pyopengl and pyopengl-accelerate from latest github master (https://github.com/mcfletch/pyopengl). Then I applied the following patch to vispy:
[FIX__pyopengl.patch.txt](https://github.com/vispy/vispy/files/2817944/FIX__pyopengl.patch.txt)

That

[2019-01-31 15:53] djhoese commented on #1568
Is pyopengl master needed for these to work? Or does 3.1.3b2 (current conda-forge version) work with this patch? Can you make a PR for this? In your patch you have some stuff commented out that looks the same as the "new" lines, is that true or am I missing something? Why isn't the `:length` truncation needed for the name variable?

@mcfletch, what do you think of this (if you understand our usage

[2019-01-31 16:15] kmuehlbauer commented on #1568
@djhoese I think so, I just had to install pyopengl-accelerate somehow.

[2019-02-01 07:58] rougier commented on #1566
I think there's no such duplicate in glumpy (need to check) and I'm not sure what it origin of such duplicatino in vispy.

[2019-02-01 08:13] kmuehlbauer commented on #1566
@rougier I meant, that there are eg. this file `vispy/glsl/arrows/common.glsl` and this file `vispy/glsl/math/signed-segment-distance.glsl`. Both include the same formulation of the signed segment distance. And this example is also in glumpy, I just checked. Just curious.

[2019-02-01 13:06] kmuehlbauer commented on #1568
OK, I tracked that down to a stale redefinition of `glGetBufferParameteriv-wrapper` in [pyopengl](https://github.com/mcfletch/pyopengl/pull/20)(needs final confirmation from @mcfletch). The other problem is in vispy where `glGetActiveAttrib` needed some tweaking. Patches are PR'ed [here](#1569 ) and in [pyopengl](https://github.com/mcfletch/pyopengl/pull/20). I also tried to patch latest [conda-fo

[2019-02-04 15:26] GuillaumeFavelier commented on #439
If I'm not wrong, #78 and #417 can be checked, the corresponding issues have been closed.

[2019-02-04 15:49] djhoese commented on #439
@GuillaumeFavelier Thanks. Checked.

[2019-02-04 17:40] kmuehlbauer commented on #1525
Possible dup of #1423

[2019-02-05 10:37] kmuehlbauer commented on #1526
@kne42 Is this still an issue for you? Please reopen with added information.

[2019-02-05 10:37] #1526 closed

[2019-02-05 10:42] kmuehlbauer commented on #1490
@raphaelvallat Is this still an issue for you? Did you work around it somehow?

[2019-02-05 10:51] kmuehlbauer commented on #1330
@ronpandolfi If this is still an issue for you, please reopen with added information.

[2019-02-05 10:51] #1330 closed

[2019-02-05 10:56] kmuehlbauer commented on #1206
@geraldstanje Did this answer your question? Please reopen, if needed.

[2019-02-05 10:56] #1206 closed

[2019-02-05 11:13] kmuehlbauer commented on #1118
The https://github.com/vispy/vispy/blob/master/examples/basics/scene/isocurve_updates.py example uses pure python marching-squares algorithm which can be really slow. Installation of scikit-image will use more performant algorithm.

[2019-02-05 11:13] #1118 closed

[2019-02-05 11:14] kmuehlbauer commented on #1117
Please reopen with added information, if needed.

[2019-02-05 11:14] #1117 closed

[2019-02-05 11:37] sjoro commented on #1563
@kmuehlbauer this looks great! thanks for your efforts. regarding the input parameters for `WindbarbVisual`, we have speed and direction in our products, so that's what i would prefer. also, the speed should be fed (and the barbs drawn) in SI-units, i.e., m/s. if the user wants to use knots or km/h, they should maybe do the conversion themselves. alternatively there could be an optional keyword fo

[2019-02-05 11:37] kmuehlbauer commented on #1009
@djhoese We could think about having docker containers for testing, again. This would at least give us a well defined testing environment.

[2019-02-05 11:43] kmuehlbauer commented on #1563
@sjoro Can you explain the SI-units part? You mean you want to feed m/s?

What do you mean with **and the barbs drand**?

[2019-02-05 11:52] sjoro commented on #1563
yes, the input unit should be in m/s. so, given the input of 10 to `WindbarbVisual` it should draw two full barbs. 10 knots (= 5 m/s) would be one full barb. hope this helps.

[2019-02-05 12:00] sjoro commented on #1563
[Here](https://www.wmo.int/pages/prog/www/ISS/Meetings/IPET-DRMM_Beijing2015/Documents/IPET-DRMM-III_Doc11-5_GDPFS_Manual_Appendix_II-4.pdf)'s the instructions for drawing barbs from World Meteorological Organization (WMO)

Wind is represented by barbs and solid pennants in black, the full barbs representing 5 m s -1 or 10 knots, the half barbs representing 2.5 m s -1 or 5 knots and the solid penn

[2019-02-05 12:01] kmuehlbauer commented on #1563
So you want the following:

[code]

[2019-02-05 12:01] sjoro commented on #1563
that's my preference, yes. people used to knots probably disagree :)

[2019-02-05 12:03] kmuehlbauer commented on #1563
No problem, it's just a factor of two :grinning:

[2019-02-05 13:34] djhoese commented on #1009
@kmuehlbauer I'm not sure it would buy us much in our case. As @larsoner pointed out (3+ years ago 😨 ) we would want to update conda every time. Is caching or "saving" a conda environment in a docker image any faster than downloading and installing miniconda with ci-helpers from scratch?

It would be nice for the system changes that Travis does but we risk not being compatible with new versions of

[2019-02-05 13:43] kmuehlbauer commented on #1009
@djhoese I agree, that it would not buy us much time. My point is more that we would have a working CI environment in any case, especially for PR's. So if something breaks it would not be induced by conda/pip/travis but by the changes in vispy code.

This dedicated docker thingy could also be recreated/tested once in a while/regular basis with updated packages to keep things fresh.

[2019-02-05 13:45] kmuehlbauer commented on #1563
@sjoro Would be nice if you could test/review https://github.com/kmuehlbauer/vispy/blob/windbarb/examples/basics/visuals/windbarbs.py.

[2019-02-05 13:47] djhoese commented on #1009
Ok, I'm guessing travis allows user custom docker images now? I'm ok with it for system changes (same version of Ubuntu with the same X or other system/version) but would still like the newest conda packages. Although conda has its own issues sometimes when updating itself from older versions...they've been getting better with that though.

[2019-02-05 13:55] kmuehlbauer commented on #1009
To get the newest conda-packages is for testing vispy with these packages? This would be something for the cron-job. For PR's it would be good to have a known working environment, IMHO.

For the conda aspect: the experiments in #1570 showed, that we could get all needed packages from conda-forge nowadays.

[2019-02-05 14:02] djhoese commented on #1009
I would agree except for the cases where the PRs need the newest versions of things (new numpy function, new optional dependency, bug fixes, etc). We could have a conda-forge fully updated environment that is listed as an expected failure.

[2019-02-05 14:10] kmuehlbauer commented on #1009
Sure, did not think about that. :cry:

:+1: Yes, if that would be easy to release, I think.

[2019-02-05 14:12] djhoese commented on #1009
I think we use to have OSX as an allowed failures before we used ci-helpers (@larsoner worked on that iirc, or maybe I'm thinking of another project I work on). Either way https://docs.travis-ci.com/user/customizing-the-build/#rows-that-are-allowed-to-fail

[2019-02-05 22:12] raphaelvallat commented on #1490
Hi @kmuehlbauer, I am using the stable version 0.5.3 for now, which works just fine, so no, it's not an issue anymore. Thanks

[2019-02-06 03:47] geraldstanje commented on #1206
thanks, i didnt had time to try it out ;)

[2019-02-06 09:40] kmuehlbauer commented on #1490
@raphaelvallat Thanks for coming back. I'm closing this. Please reopen, when needed.

[2019-02-06 09:40] #1490 closed

[2019-02-06 11:29] kmuehlbauer opened #1571 "vispy site-packages issues, vispy.test issues"
Depending on the installation vispy is installed differently in the `site-packages`-folder.

1. `pip install vispy`
   - There will be a `vispy`-folder below `site-packages` containing the code (app, color, ...visuals)
   - There will be a `vispy-X.Y.Z.dist-info`-folder below `site-packages`
2. `conda install vispy`
   - There will be a `vispy`-folder below `site-packages` containing the code (app

[2019-02-06 14:04] kmuehlbauer commented on #1571
I think it can be fixed with this patch [testing_coverage_issues.patch.txt](https://github.com/vispy/vispy/files/2836605/testing_coverage_issues.patch.txt). Will PR when #1569 is in.

[2019-02-06 22:29] seanpyaw opened #1573 "Points not appearing in point_cloud.py demo"
Hi,
I am trying to move some point cloud visualization capability from pyqtgraph over to vispy, but am having trouble even getting started. I can't get the point_cloud demo (https://github.com/vispy/vispy/blob/master/examples/basics/scene/point_cloud.py)  to even display points (I can see the axis just fine).

I am running vispy version 0.5.3 from anaconda 3.

Thanks.

[2019-02-06 22:32] djhoese commented on #1573
What does `print(vispy.sys_info())` show you? Do other examples work for you? You could also try using the current code in the master branch if possible:

[code]

[2019-02-06 22:39] seanpyaw commented on #1573
It says:
Platform: Windows-10-10.0.17134-SP0
Python:   3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
NumPy:    1.14.3
Backend:  PyQt5
pyqt4:    None
pyqt5:    ('PyQt5', '5.9.2', '5.9.6')
pyside:   None
pyglet:   None
glfw:     None
sdl2:     None
wx:       None
egl:      None
osmesa:   None
_test:    None

GL version:  '3.3.11672 Compatibility Profile Context'

[2019-02-07 08:41] kmuehlbauer commented on #1568
Damn, thought that this was easy. It's not! :disappointed:

The change have to be done [here](https://github.com/vispy/vispy/blob/master/codegen/annotations.py#L415)!

[2019-02-08 08:28] jiangwei221 opened #1575 "offscreen.py segmentation fault"
MacBook Pro, 10.14.3, Intel Iris Graphics 550 1536 MB

Python 3.6.7 :: Anaconda, Inc.

pip and conda:
vispy 0.6.0.dev0
glfw 1.7.1
glumpy 1.0.6
PyOpenGL 3.1.0
PyOpenGL-accelerate 3.1.0

homebrew:
glfw-3.2.1

and I installed vispy from source, and glfw from homebrew.

When I run offscreen.py, I'll get a segmentation error:
[1]    73124 segmentation fault  python offscreen.py

[2019-02-08 08:31] jiangwei221 commented on #1575
Maybe just change to ubuntu...
Thank you in advance!

[2019-02-08 10:49] kmuehlbauer commented on #1575
@jiangwei221Which conda channel do you use? Which vispy commit do you use? We had issues with pyopengl lately so this would be another thing to check.

If you have a look at latest github master (.travis.yml) you can see how we install conda-packages. For our tests all examples work so far. We use `glfw=3.2.1` provided by conda-forge. But we do not test examples on mac osx atm.

[2019-02-08 14:02] GuillaumeFavelier commented on #819
I would like to take care of this task, what are the constraints of this example? I could reference a prototype using `SceneCanvas`.

[2019-02-13 17:38] kmuehlbauer commented on #819
resolved by #1576, thanks @GuillaumeFavelier

[2019-02-13 17:38] #819 closed

[2019-02-17 11:32] yhql opened #1579 "Inconsistent imap coordinates"
Hi, I'm having trouble getting back coordinates of a click to match what is displayed on an axis.

Setup is roughly :

[code]
and a mouse event handler like so
[code]

When clicking on the canvas just above let's say the 9000 mark on the x-axis, the imap coordinates are something like 9090. The result gets closer to what the x-axis says it is when I zoom in.

Am I using the correct `imap` function

[2019-02-17 15:33] djhoese commented on #1579
I *think* (it's early here, need to wake up more) using `imap` the way you are is trying to convert screen pixel coordinates to scene coordinates (locations internal to the Scene canvas). You may need to use the `transforms` object (TransformSystem) to `get_transform()` to get one that represents "document" to axis "visual". You can find more information on this [here](https://github.com/vispy/vis

[2019-02-17 17:08] yhql commented on #1579
Thanks for the tip. I tried the line you wrote which seems to be exactly what I need, but it gives :
`x = 30.27`
when clicking somewhere with x= 0, and then when sliding the canvas to the right (moving x=0 to the right) I get
`x = 304`
So it doesn't seem to be really linked to the x_axis somehow.

[2019-02-18 01:05] djhoese commented on #1579
Ok so it seems the AxisWidget which is using the AxisVisual is doing some complicated things. You may have to dig in to the internal workings of this in this file: https://github.com/vispy/vispy/blob/master/vispy/scene/widgets/axis.py#L84

I'm not sure I fully understand how this is working or why your transform conversion isn't giving you what you expect. It is very possible that the screen pixel

[2019-02-18 09:21] yhql commented on #1579
Ok thanks, I'll look around !

[2019-02-21 06:51] iris0329 commented on #582
same problem,  anyone have solved?

[2019-02-21 14:57] djhoese commented on #582
@iris0329 Could you please create a new issue with details on your situation (what OS, what backend are you trying to use, are you running in a notebook, what version of vispy are you using, etc)?

[2019-02-22 15:26] GuillaumeFavelier commented on #818
I tried to investigate this issue and I think the port of the skybox as it is requires the implementation of a `TextureCube` class in `vispy.gloo.texture.py` with eventually some modifications in `vispy.gloo.program.py` too.
Plus, I didn't find any alternative for the `Trackball` interaction used in the example.

[2019-02-23 01:01] iris0329 opened #1580 "RuntimeError: Could not import backend "Pyglet":"
when running
`
app.use_app('pyglet')   # Set backend
`
it shows
[code]
version information:
- vispy
Requirement already satisfied: vispy in /usr/local/lib/python3.6/dist-packages (0.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from vispy) (1.14.5)
- pyglet
Requirement already satisfied: pyglet in /usr/local/lib/python3.6/dist-packages (1.3.2)
Requirement alr

[2019-02-25 20:34] djhoese commented on #1580
What does `print(vispy.sys_info())` give you? What happens if you run the code directly from the terminal and not through pycharm?

[2019-02-26 01:39] iris0329 commented on #1580
1. print(vispy.sys_info())
[code]
2. if directly run from terminal, it shows same error

thanks !

[2019-02-26 01:45] djhoese commented on #1580
Are you running this on a virtual machine or docker container? It seems like you are missing a lot of OpenGL/GPU drivers or they are improperly installed or have become corrupt. Are you running this from an SSH connection (no display)? I'm not sure there is much I can help with until these are reinstalled.

I'm not sure I understand how you were able to get the PyQt5 backend to load properly, but

[2019-02-26 03:15] iris0329 commented on #1580
1. yes, I run this from a SHH connection, because  I run the code from server.

2. also if I use `pyqt5`, it shows
[code]
the problem is different, both are from my GPU driver ?

3. I have tried several time uninstalling and installing pyglet, but it doesn't work. I  install the pyglet by `pip install pyglet`

thanks for help !

[2019-02-26 03:19] djhoese commented on #1580
Someone can correct me if I'm wrong, but I don't think there is any way to use OpenGL over an SSH/X Window connection, at least not consistently. I don't have any experience with pyglet, but PyQt5 needs to be run on the local system using the local system's GPU. If you are running from a remote server there is only limited support for OpenGL (iirc) and that's if the server has the proper GPU drive

[2019-02-26 03:38] iris0329 commented on #1580
Ok, my remote server has four `GeForce GTX 1080` GPUs, I am nor sure they have this ability.
maybe the solution is to install an local GPU.
Thank you for your generosity.

[2019-02-26 07:04] junrenge opened #1581 "how to draw overlapping waveforms？"
I want to use Vispy to draw several overlapping waveforms ，but everytime there can only be one waveform，because former waveform will be cleared.I donot know to do this，please help.

[code]

[2019-02-26 13:38] djhoese commented on #1580
To clarify, OpenGL is not meant to run remote displays (running on your server, displaying on your local system). Typically, in my experience, GPUs on a remote server are meant for OpenCL/CUDA-type applications that are using the GPUs for computation resources, not display.

It is possible to do offscreen rendering with OpenGL/vispy in certain cases, but if you want to show an on-screen GL Canvas

[2019-02-26 14:18] djhoese commented on #1581
On gitter @mkkb had a pretty good idea: a circular queue or even just a regular array that represents the N most recent waveforms. Running `set_data` on the position does not "append" data to the GL program so you'll have to find a way that works best for you to send all current waveform data that should be displayed.

You could also have a separate GL program (vispy has Visuals that represent the

[2019-02-26 15:31] colemanbroad opened #1582 "scene.Arrow line and head displayed with different order."
Initially arrow lines are drawn underneath the image.

<img width="866" alt="screen shot 2019-02-26 at 15 35 24" src="https://user-images.githubusercontent.com/2424664/53424429-7bddbe80-39e3-11e9-904a-9e50663e179f.png">

[code]

`vispy.sys_info()` gives:
[code]

[2019-02-26 15:45] djhoese commented on #1582
I would say that the overall behavior of this and how you've done it is undefined. By that I mean that you have two things to draw on the screen and have them on the same Z level. How this gets drawn is ultimately up to the GPU and while I agree that it is strange that the heads are drawn separately from the line, I don't know if you can consistently guarantee anything different without setting a

[2019-02-26 19:32] colemanbroad commented on #1582
Hey thanks for the quick reply. That half works ;) If I set the z coordinate for arrows of -1 (blue) then they are rendered on top of the image. But if I set it at 1 then the line is behind the image while the head is still on top (white)...

![screen shot 2019-02-26 at 20 29 59](https://user-images.githubusercontent.com/2424664/53440759-96c12a80-3a05-11e9-9299-05408bf07c58.png)

[2019-02-26 19:37] djhoese commented on #1582
Just as a sanity check, what if you set it to -100/100? Very possible that this is a bug.

[2019-02-26 19:52] colemanbroad commented on #1582
Problem persists with -100/100. I have not touched the `node.order`, so it is set to zero for each. How does order relate to z-value?

[2019-02-26 20:16] kmuehlbauer commented on #1582
Plot order was discussed several times, but do not have pointers yet. Will try to dig something up the next day. @campagnola, if you are around, your expertise is needed here, :-)

[2019-02-26 20:18] djhoese commented on #1582
Order is the order that the GPU draws thing in the canvas. The Z order specifies where those things are in the canvas. Typically drawing order isn't needed if things are at different Z coordinates/levels.

What version of vispy are you running? If not from github master, maybe try that. It may have some fixes that aren't in the released version of vispy. You could also try the PyQt4 backend as PyQ

[2019-02-26 20:20] djhoese commented on #1582
Also could you post your new updated code @colemanbroad so I can more easily test some things?

[2019-02-26 20:20] colemanbroad commented on #1582
It's vispy `0.6.0.dev0` from github master branch. I don't have PyQt4 installed right now, but will figure that out and give it a try.

[2019-02-26 20:25] djhoese commented on #1582
Are your arrows defined properly according to the docstring:

[code]

[2019-02-26 20:38] colemanbroad commented on #1582
I think I'm conforming to the arrows requirements. Here is a gist that reproduces it for me...
[https://gist.github.com/colemanbroad/eea28c9cbd3df3726f31948d08977e8a](url)

[2019-02-26 21:08] djhoese commented on #1582
This must be a draw order thing. Try changing the camera to a turn table:

[code]

Depending on which side of the image you look at, the arrows "below" it still show the arrow heads. But if you look from the side, the arrows are clearly on either side of the image.

[2019-02-26 21:35] djhoese commented on #1582
Ok so a couple things I figured out:

1. The arrows probably shouldn't be children of the Image. This forces the drawing order so that it can't be modified. So `arr2.parent = view.scene` instead. You can then force the order by doing stuff like `arr1.order = 1; image.order = 2; arr2.order = 3` which will work for one orientation but not the other, so not great. However...

2. I think the main issu

[2019-02-26 21:49] kmuehlbauer commented on #1582
@djhoese No, not really. If 'set_gl_state' comes into play, it is usually used to define behaviour of that respective visual. AFAIK this might lead to problems using different behaviour in different visuals. This is also something which I do not fully understand. So bear with me. Hope that @rougier can give more insight here?!

[2019-02-27 03:36] junrenge commented on #1581
I want to draw like this picture https://github.com/junrenge/vispy/blob/master/pictures/waveforms.jpg.
My understanding is that if I want to draw 10 waveforms,I need an 10*n array,and everytime set_data() should accept this array. I change my data
  y = amplitudes * np.random.randn(10, 100).astype(np.float32) #the shape of y is 10*100
where should I change too?color and index?
I think this can als

[2019-02-27 13:46] rougier commented on #1582
Can you try with `cull_face=True` instead?

[2019-02-27 14:07] djhoese commented on #1581
I'm not sure I understand your question. Each row in the `(10, 100)` array represents one waveform. Your colors and indexes would have to also represent each of these waveforms. I agree that this could be an interesting demo.

Another idea I had this morning, if you know that you want N waveforms and that will never change, you could create N buffers that you send data for. You could save time/pro

[2019-02-27 14:19] djhoese commented on #1582
@rougier if I change `cull_face=True` in the `ImageVisual` then the image only shows from one Z direction and the arrow heads are still visible.

I looked at the defaults for `translucent`, the only difference between the two visuals from what I can tell is `depth_test`. If I force it to `True` in the arrow head then I get the same output as before (arrow heads mixing with arrow lines, but respect

[2019-02-27 17:20] rougier commented on #1582
Depth test is definitely necessary for both the image and the arrow. It is used to build the depth buffer and the "order" of drawing things.

For the mixing between line and head, I'm not sure to what you're referring to exactly but this is probably an expected effect depending on the order between head and line.

[2019-02-27 17:25] djhoese commented on #1582
Well without changing the gl state, you get a line that leads in to an arrow head and looks like one solid "object". If I change it as mentioned above and the arrow line and head "mix" in a weird way it looks like:

![image](https://user-images.githubusercontent.com/1828519/53509852-505de100-3a82-11e9-9421-e6da44725b36.png)

Good example is the arrow head by her chin.

[2019-02-27 17:42] rougier commented on #1582
I think this is because the antialising / transparency for the line is applied again the image and not the head. What you see through the edge of the line is Mona Lisa. If you use thicker lines, maybe this would confirm my diagnostic.

[2019-02-27 17:43] rougier commented on #1582
You can also try to not write to the depth buffer while drawing the arrows (depth buffer will still be used, but arrows won't write information into it)

[2019-02-27 17:45] djhoese commented on #1582
Thanks. I may not have time to try this out today or even this week @colemanbroad, but I'll see what I can do when I do get the time.

[2019-02-27 18:00] colemanbroad commented on #1582
No problem. Thanks for your effort so far!

[2019-02-27 22:34] mattangus opened #1583 "Remove borders from `visuals.MarkersVisual`"
I'm trying to plot colourised lidar with `visuals.MarkersVisual` using [this](https://github.com/liubenyuan/vispy-tutorial/blob/master/examples/scatter.py) as the template. The resulting circles always have a border even if I set the `border_width` to be 0. Here is the relevant code:

[code]

The result is this:

![image](https://user-images.githubusercontent.com/5302804/53527760-d5aeb900-3ab5-11e

[2019-02-27 23:00] djhoese commented on #1583
Could you provide the output of `print(vispy.sys_info())` please? Thanks. I feel like we've definitely run in to this before.

[2019-02-27 23:31] mattangus commented on #1583
Here it is:

[code]

[2019-02-28 00:09] djhoese commented on #1583
Looks like a bug in the antialiasing:

![image](https://user-images.githubusercontent.com/1828519/53531961-9fc00380-3aba-11e9-80fd-7b106b4cf881.png)

Do `p1.antialias = 0` after creation. Also note that this example code seems a little old. You should now be able to use `from vispy.scene.visuals import Markers` instead of creating your own copy of the MarkersVisual.

[2019-02-28 00:13] mkkb commented on #1581
Here are some tweaks on your example that I think gives what you asks for. I don't know if this is the best possible implementation but it seems to work pretty well. It's actually pretty cool, Vispy is amazing. :)

[code]

[2019-02-28 00:30] djhoese commented on #1583
So I'm not sure why this isn't working with antialiasing enabled. I glanced over the code and it made sense to me:

[code]

This is in `vispy/visuals/markers.py`. @kmuehlbauer @rougier any ideas?

[2019-02-28 00:47] mattangus commented on #1583
Setting `p1.antialias = 0` did the trick for me!

[2019-02-28 03:10] junrenge commented on #1581
Thank you very much!I have to study for a while and write my own code .Vispy is cool.

[2019-03-03 03:36] StefanWangsjtu opened #1585 "module 'sys' has no attribute 'argv'" when C++ call vispy"
I tried to embedd vispy in Qt 5.5.1 by PythonQt, in python file ,I typed " import vispy" and I got an error:
"Traceback (most recent call last):\n"
"  File \"/home/stefan/QtObjects/Vispy_based_MeshLab/test.py\", line 8, in <module>\n"
"    "
"from vispy import app"
"\n"
"  File \"/usr/local/lib/python3.5/dist-packages/vispy/__init__.py\", line 30, in <module>\n"
"    "
"from .util import config, s

[2019-03-03 04:52] djhoese commented on #1585
Hi @StefanWangsjtu. I'm not familiar with PythonQt, but this is not a problem with vispy, but with how you or PythonQt is creating a python environment. Whenever python is started it makes any command line arguments available to the python application via the `sys` module in the `argv` attribute. Vispy expects to have this information available since it is available in every normal python environm

[2019-03-04 01:47] iris0329 commented on #1580
yes, I solved this problem as your guide by using a local GPU computer.
Thanks a lot !

[2019-03-04 01:48] #1580 closed

[2019-03-04 06:00] StefanWangsjtu commented on #1585
@djhoese Thank you very much for your useful advise, I tried the solution that provided in https://sourceforge.net/p/pythonqt/discussion/631393/thread/502204d0/ , and I got another problem in C++.  Anyway, thank you for your reply!

[2019-03-04 06:07] junrenge opened #1586 "canvas doesnot fit well in splitter when resize the splitter."
I found an issue in D:\vispy-master\examples\demo\gloo\two_qt_widgets.py It use QSplitter so we can use mouse to resize the canvas.But when drag one edge left and right, the canvas doesnot fit very well, there are some blanks between two canvas.I try to add self.update in on_resize.No success.
The phenomenon is here https://github.com/junrenge/spike-sort/blob/master/picture/spltter.jpg

[2019-03-04 08:40] StefanWangsjtu opened #1587 "embed vispy in Qt Creator"
Hi there, I am trying to embed python vispy in Qt Creator, when I tried to put a canvas into QMainWindow, with app.use_app('PyQt5'), an error occured:
RuntimeError"
"Could not import backend \"PyQt5\":\n/usr/local/lib/python3.5/dist-packages/PyQt5/Qt/lib/libQt5OpenGL.so.5: symbol _ZTI19QStaticTextUserData, version Qt_5_PRIVATE_API not defined in file libQt5Gui.so.5 with link time reference"
"\n"
S

[2019-03-04 15:25] djhoese commented on #1587
I've used Qt Designer before (never Creator) on a project that uses vispy, but I didn't specify the canvas directly inside the UI layout. Instead I had a regular QWidget represent where the "Canvas" would go and then in python I added the vispy canvas (`canvas_placeholder.layout().addWidget(my_canvas.native)`).

Based on your errors for PyQt5 it seems like you have a problem with the way your Qt5

[2019-03-05 04:55] felixwoolford opened #1588 "Slowdown with Grid and AxisWidget + possible solution?"
Hi!

I'm new to all this so sorry if this isn't the right way to go about things. I've encountered a slowdown issue when using Grid and Axis widgets. After a few minutes running a simple animation I begin to see a steady drop in fps.

Here's a fairly minimal example which produces the issue.

[code]

Now, I believe I have identified the source of the problem. In the `_update_child_widget_dim` func

[2019-03-05 07:03] kmuehlbauer commented on #1588
@foloxweilf Thanks for digging into this. In #1498 @mkubanski proposed a fix in the same subfunction. Could you both check, where the differences are? Also, there was a memory leak mentioned, did you ( @foloxweilf ) expirience that too?

[2019-03-05 10:36] foloxweilf commented on #1588
@kmuehlbauer Yes there is a minor memory leak, which is partially reduced by my proposed fix. There is also an increase in CPU load, which seems to be completely removed by my fix. If I run my test for 5 minutes, memory load goes from 73.7MB to 94.5MB and (perhaps more significantly) CPU load goes from 3% to 6%. With my proposed fix the memory load goes from 73.7MB to 81.4MB, and CPU load is stead

[2019-03-05 11:23] kmuehlbauer commented on #1588
@foloxweilf Thanks for checking. It would be nice if you could check this too on latest vispy github master (PR welcome). I'm currently travelling and can test tomorrow earliest. Anyway, it would be good if we can sort this issue out, finally. :+1:

[2019-03-05 12:30] foloxweilf commented on #1588
@kmuehlbauer Well, it looks like I can't reproduce this problem in the latest master. It looks like `_view_changed` in axis.py is no longer being called every frame in the latest version, as it was in 0.5.3. I guess this issue is resolved then, sorry!

[2019-03-05 12:39] kmuehlbauer commented on #1588
@foloxweilf Let's wait a bit what @djhoese has to say about this. Good chance that your findings can still be of value. We really appreciate your contribution.

[2019-03-05 14:16] djhoese commented on #1588
@foloxweilf Thanks for looking in to this and already having a fix. I do think we recently (past 6 months) had an update to reduce the number of times `_view_changed` is called which as you pointed out should help if not solve this issue, although maybe indirectly. As @kmuehlbauer says I think your solution may still be helpful in the future.

If it wouldn't be too hard for you it would be nice to

[2019-03-05 15:40] #1585 closed

[2019-03-05 16:01] codypiersall commented on #1588
I may have found the root  issue that is going on, both with the performance issue and the memory leak, with the help of the [objgraph](https://mg.pov.lt/objgraph/) package.  That package is really amazing.

The issue at least with _a_ memory leak is in [`Buffer.__getitem__`](https://github.com/vispy/vispy/blob/master/vispy/gloo/buffer.py#L258).  The value of buffer._views grows without bound.  To

[2019-03-05 16:26] codypiersall commented on #1588
Here's a patch that prevents `Buffer._views` from growing without bound:

[code]

This comes at a cost of iterating over `Buffer._views` every time the buffer is accessed via `__getitem__`.  I'm not sure this is the best solution, since I don't really understand what the point of `DataBufferView` is.

[2019-03-05 16:57] codypiersall commented on #1588
There's a second leak associated with (I think) mouse events that I haven't tracked down yet.

[2019-03-05 20:16] codypiersall commented on #1588
There's a leak in `EventEmitter` as well.  The problem is that the `_callbacks` list is growing without bound.  To show that, just add a `print(len(self.view._transform._inverse.changed._callbacks))`.  It's growing because the weak references are not getting cleanup up properly, just as in the buffer code.

[2019-03-05 20:40] codypiersall commented on #1588
Here's a patch that fixes the issue in `EventEmitter`:

[code]

This comes at the cost of iterating over `_callbacks` every time `connect` is called.  I feel pretty confident that this is the right thing to do in this case; the list of callbacks is probably pretty short, and it already gets looped over a couple other times in the function.

I'd be happy to open one or two PRs with the two patches

[2019-03-07 01:08] StefanWangsjtu commented on #1587
Hi @djhoese , thank you for your reply. I find a new way to fix this. First,  I create a mainwindow by  Qt Creator,than convert it to .py file by PyUIC.

[2019-03-07 11:00] StefanWangsjtu opened #1594 "Load STL files into vispy"
Hi there, I think  I found a bug in vispy/vispy/io/mesh.py  in col 42:
mesh = load_stl(fname)
when I try to import a  *.stl file by read_mesh(fname), an error occured like this:
 File "D:\Python3.5\lib\site-packages\vispy\io\mesh.py", line 43, in read_mesh
    mesh = load_stl(fname)
  File "D:\Python3.5\lib\site-packages\vispy\io\stl.py", line 43, in load_stl
    file_pos = file_obj.tell()
Attribu

[2019-03-09 04:25] #1594 closed

[2019-03-11 10:50] GuillaumeFavelier commented on #415
I looked at the `distinguishable_colors()` function in the suggested MathWorks link and tried to port it in VisPy in this [example](https://gist.github.com/GuillaumeFavelier/7ef040db9ae98a9d14f1da21af7b3e57). This is still a naive attempt, I need to double-check.

[2019-03-11 13:50] #1238 closed

[2019-03-12 07:13] junrenge opened #1597 "How can I get the data in self.program['a_position']?"
I init the data like this:
  self.program['a_position'] = y.reshape(-1, 1)
and add some data:
    def on_timer(self, event):
        x, max_len = get_waves(self.temp)
        if self.counter >= self.N_wf:
            self.counter = 0
            x = x[:, :self.N_wf - self.counter]
        self.program['a_position'].set_subdata(x.ravel().astype(np.float32), offset=offset)
then how can I get the dat

[2019-03-13 01:24] junrenge commented on #1586
I found a solution to my question，simply move gloo.set_viewport(0, 0, *self.physical_size) in function on_draw
    def on_draw(self, event):
        gloo.clear(depth=10)
        gloo.set_viewport(0, 0, *self.physical_size)
        self.program.draw('line_strip')
This can make the canvas adjust its size in splitter.
I donnot know wheather there is another solution.

[2019-03-19 14:06] dzusan opened #1603 "Multi-Window support for scene module"
I try to create multiple windows to display different datasets through `scene` module.
[code]
Both windows are opening simultaneously, but only first displays data (with huge freezes), second remain black. The console spamming following messages:
[code]
Through `app.Canvas` class I can create two windows and enjoy stable work, but I need `scene` features like zoom and other.

Setup:
* Windows 10
*

[2019-03-19 15:01] djhoese commented on #1603
Why do you have the `self.context.clear()` in the timer method? What happens if you remove that and the explicit `self.markers.draw()`?

[2019-03-19 15:51] prelich opened #1604 "error triggered in parametric.py from klein.py demo"
Hello, I tried to run the klein bottle demo and I had a type error: https://github.com/vispy/vispy/tree/master/examples/demo/scene/klein.py
I'm copying the command line traceback below:

E:\Code\playground>python klein.py
C:\ProgramData\Anaconda3\lib\site-packages\vispy\visuals\isocurve.py:22: UserWarning: VisPy is not yet compatible with matplotlib 2.2+
  warnings.warn("VisPy is not yet compatibl

[2019-03-19 16:01] GuillaumeFavelier commented on #1604
Are you sure you used the master version of the code?

I think the instruction available on master at [line 55](https://github.com/vispy/vispy/blob/master/vispy/geometry/parametric.py#L55) should be :
`indices.reshape(len(indices) // 3, 3))` instead of
`indices.reshape(len(indices) / 3, 3))`

[2019-03-19 16:43] prelich commented on #1604
I think Anaconda has the wrong package by default.  I just did an autoclean on my libraries and then I tried to upgrade vispy via pip and it still didn't change the code.  I'll just build from the master instead in the meantime.  Thanks.

[2019-03-19 18:31] dzusan commented on #1603
Bingo! If I leave only self.update(), the problem is partially solved. I have assembled my code from several examples and don't remember why I pasted this.
But, I still can't use this. First window play in proper time, but the others play slower than first and delay is growing in time. Console is silent unfortunately.

[2019-03-19 18:36] djhoese commented on #1603
Great. One step at a time I guess. Next, what happens if you use the current github master branch (what will become the 0.6 release)? I could be misremembering things but I think there was a recent memory leak fixed in the MarkersVisual. If you monitor memory usage with this, what does it look like? Given how you are creating the Queue (filling it completely before using it), what happens if you f

[2019-03-19 18:49] kmuehlbauer commented on #1604
@prelich anaconda, conda-forge and pip do only have aged versions of vispy (0.5.3 max IIRC). If you install via pip, you will likely get the same version.

You can install vispy from latest github master via pip too:

[code]

[2019-03-20 19:44] prelich commented on #1604
python

[2019-03-20 19:44] prelich commented on #1604
Awesome, that worked.

[2019-03-20 19:44] #1604 closed

[2019-03-20 21:17] dzusan commented on #1603
Yesterday I run app at home and reported this issue. Today I run exactly the same code in my office and it worked as it should! I updated vispy to github v0.6 and it worked the same. Now I try again at home and see old problem. Updating vispy to v0.6 does not affect. Memory usage is fine in any configuration. Im really confused. This is differences list between home and office machine that could p

[2019-03-20 21:22] kmuehlbauer commented on #1603
@dzusan We had issues reported with integrated Intel graphic adapters. Good chance that this might fit here.

[2019-03-21 07:48] dzusan commented on #1603
@kmuehlbauer If the problem is really in the graphic adapter, it's geforce gtx1050ti on the home machine. Because with integrated intel on the office machine app works great. Can I configure vispy to use exactly integrated intel graphics?

[2019-03-21 12:28] djhoese commented on #1603
@dzusan Using one GPU over the other is usually an operating system setting (from my understanding) and isn't available with all GPUs/OSes.

[2019-03-21 12:53] kmuehlbauer commented on #1603
@dzusan Yes, now i'm seeing it too. :disappointed:

[2019-03-21 13:57] kmuehlbauer commented on #1531
@jkrumbiegel Could you please test your application with latest github master (after commit bd14494de960e3b7dfbc377edc10a15a47cd3572) if the slowdown persists?

[2019-03-21 13:59] kmuehlbauer commented on #1498
@neurochen Could you please test your application with latest github master (after commit bd14494de960e3b7dfbc377edc10a15a47cd3572) if the slowdown persists?

[2019-03-21 14:01] kmuehlbauer commented on #1471
@thomasdeneux Could you please test your application with latest github master (after commit bd14494de960e3b7dfbc377edc10a15a47cd3572) if the slowdown persists?

[2019-03-21 14:05] kmuehlbauer commented on #1588
@foloxweilf Could you please test your application with latest github master (after commit bd14494de960e3b7dfbc377edc10a15a47cd3572) if the slowdown persists?

[2019-03-21 15:59] ViNOJ-DAViS opened #1605 "Custom start of Image data for AxisWidget (X & Y axis)"
Hello everyone,
I am trying to use AxisWidget with Image for plotting data.
By default both X & Y axis starts with 0
Attached is the screenshot
![Screenshot from 2019-03-21 21-01-18](https://user-images.githubusercontent.com/25582939/54764710-4d3bb800-4c1e-11e9-92dd-30ae7df57033.png)

Please suggest is it possible to customize start of AxisWidget like say 50 instead of 0
Thanks

[2019-03-21 16:06] djhoese commented on #1605
Could you please provide a basic example for this? You can paste it here and use three backticks (`) before and three backticks after the code (make sure the backticks are on their own lines).

[2019-03-21 16:11] thomasdeneux commented on #1471
@kmuehlbauer I just tried, and this is still quite slow, see this [video](https://www.youtube.com/watch?v=9TOYfrUzuYo). I am using the current master commit 94b0bc70 (2 steps ahead of bd14494). Does the code above run more smoothly for you?

[2019-03-21 16:18] ViNOJ-DAViS commented on #1605
Sample code

[code]

[2019-03-21 16:32] kmuehlbauer commented on #1471
@thomasdeneux Thanks for coming back to this. I'll check later today and let you know.

[2019-03-21 16:45] djhoese commented on #1605
What happens if you provide the `AxisWidget` the keyword `domain=(50, 100)`?

[2019-03-21 16:57] djhoese commented on #1605
What if you keep the `domain` keyword argument, but comment out `self.viewbox.camera.set_range(x=[0,130])`? Like I said on gitter, I don't use AxisWidget that much.

[2019-03-21 17:02] ViNOJ-DAViS commented on #1605
The end image gets zoomed but no change on both X & Y axis.

[2019-03-21 17:13] djhoese commented on #1605
Add this to your imports:

[code]

And this right after you create `self.img`:

[code]

That means shift it 50 units in the x direction and 0 units in the y direction.

[2019-03-21 17:28] ViNOJ-DAViS commented on #1605
Yeah it works!
Thank you David
Really appreciate you help...

[2019-03-21 17:28] #1605 closed

[2019-03-21 20:14] larsoner opened #1606 "MAINT: Wheels"
Now that VisPy uses some compiled code, we should probably produce wheels for releases. (Forcing end users of Windows and macOS to properly set up a dev environment is cruel.)

@djhoese any experience with this? If not, I can look into it. I've been curious to do so at some point anyway.

[2019-03-21 20:50] djhoese commented on #1606
The aggdraw project that I maintain builds wheels (https://github.com/pytroll/aggdraw) using the cibuildwheels project (https://github.com/joerick/cibuildwheel).

[2019-03-21 22:46] lucasnavisens commented on #1452
Hey!

Great thanks for the opportunity to contribute but have never gotten around to doing it.

I will see in the future if I can contribute !

Cheers.

🥖

[2019-03-22 06:37] kmuehlbauer commented on #1471
@thomasdeneux Yes, same behaviour here. So this issue is not fixed with the recent changes (memory leak, slow down) in vispy. So do you experience unnatural behaviour only when resizing the window or is there something more?

[2019-03-22 06:51] kmuehlbauer commented on #1606
This aims on users using plain system python installation, no conda etc., right? .

[2019-03-22 07:58] thomasdeneux commented on #1471
@kmuehlbauer In general it has been a long time now that i stoped using the scene mode and only write my own shaders. So i can answer only from memory: i also experienced slow updates when updating the data shown in the graphs. Yet if needed, i can produce an example code.

[2019-03-22 09:52] larsoner commented on #1606
Yes indeed

[2019-03-22 09:53] larsoner commented on #1606
(really anything other than `conda` I guess, which will take care of building a different way)

[2019-03-23 12:47] dzusan commented on #1603
During using my app this out of sync between windows rise randomly. And finally I found the problem. It was blocking queue reading in update method. And as far as all windows run in the same thread, while one is trying to read queue, the other is frozen.

Firstly I tried to spread windows to threads by standard python threading module, but failed:
[code]
Second I tried to use QThread:
[code]
But,

[2019-03-23 14:12] djhoese commented on #1603
You've found some of this yourself, but here are some things I would suggest:

1. Don't mix regular python threads and QThreads.
2. I think I mentioned this on gitter: don't put "drawing" operations on background threads. All GUI/drawing operations must be done on the main thread.
3. Doing something in a QThread's `__init__` does not perform this operation on a separate thread. Those operations mu

[2019-03-23 18:26] djhoese commented on #1597
I'm sorry for the late response. This issue must have gotten lost in my inbox.

In general, from what I understand, this is bad practice and may not be possible in OpenGL from what I know. It is best to keep a copy of any arrays you send to the GPU if you need to access/modify them again. There are `readPixels`-like functions for getting the frame buffer contents, but I don't think there is anythi

[2019-03-23 21:47] djhoese commented on #1470
Added by https://github.com/vispy/vispy/pull/1467/commits/4f8d13ea324cf35edc56a75d3ea7e89871173070 in #1467. Closing in anticipation of that PR being closed.

[2019-03-23 21:47] #1470 closed

[2019-03-23 21:58] Tillsten opened #1609 "Slow AxisVisual performance"
Hello,
when running the simple toy-example below, showing an updating lineplot with two axis, on my computer, I only get around 30fps. Without linking the axis to the view, the speed is back to normal 60 fps.

Vispy-Info
[code]

The example

[code]

[2019-03-23 22:00] Tillsten commented on #1609
Profiling via cProfiler gives:
![grafik](https://user-images.githubusercontent.com/189880/54872110-6465db80-4dbf-11e9-81c3-aba27ca7a6c9.png)

[2019-03-23 22:02] Tillsten commented on #1609
Hardware is a i5-3570K CPU with a 1070ti, which should be powerful enough. Changing the backend and or changing the _text visual method to 'gpu' do not seem to affect the fps.

[2019-03-24 06:48] kmuehlbauer commented on #1609
@Tillsten It would be really helpful, if you can add some words on how you installed vispy (including dependencies, compilers). It would also help, if you could re-create this and add all possible outputs/logs of the installation process.
As mentioned above I have the same behaviour on my dual boot Ryzen Box. But kubuntu provides normal behaviour, whereas Win 10 does not. So it's not a hardware pr

[2019-03-24 14:44] Tillsten commented on #1609
I tried both fresh packages from conda-base and conda-forge. Vispy was installed by pip, there is not much freedom when it comes to the compiler, one has to use the win10 sdk compiler.

[2019-03-24 15:22] kmuehlbauer commented on #1609
@Tillsten Thanks. I'm currently trying to avoid conda/anaconda by installing python from python.org. But vispy dependencies are hard to get via pip. Anyway still trying. I checked and reinstalled my windows radeon drivers, all good. OpenGL test programs working as expected.

Do you have other (WIN) machines at your disposal where you can try this?

[2019-03-24 15:59] dzusan commented on #1603
Thank you for advices. It's working fine as is, so far. Now I have a good experience with vispy.

[2019-03-24 21:50] djhoese commented on #1603
I'm going to close this for now. If you have more issues feel free to reopen this or create a new issue if the issue is different enough.

[2019-03-24 21:50] #1603 closed

[2019-03-25 02:23] junrenge commented on #1597
I solve this problem by, just like you said, keeping a copy of the data before I use set_data(), so I can access the data later.Thank you for your response.

[2019-03-25 12:47] thomasdeneux opened #1611 "Error when removing a gloo program"
I am struggling with the removal of a gloo program. After reducing the code to the minimum that reproduces the problem, it looks like that:
- a canvas displays 2 programs, each of them simply draws one black triangle
- some time later one of the 2 programs is removed (link to it is set to None, will not be drawn any more)
- on the second next canvas redraw an OSError is raised, access violation re

[2019-03-25 13:02] djhoese commented on #1611
This is a little odd. I'm not sure I've ever tested this with PyQt5 but I have an application that I create for my work that creates visuals and the user can delete them later. It was using PyQt4 on Mac, Windows, and Linux and I never saw this issue. It now uses PyQt5 but hasn't been as heavily tested yet.

I double checked and I don't think there is anything special in `Program` or in the `Visual

[2019-03-25 13:48] #1597 closed

[2019-03-25 13:54] thomasdeneux commented on #1611
Hello, i am on an Anaconda distribution of python 3.6.7. PyQt5 came with this distribution, i don't have PyQt4, but in general i would not go back to PyQt4 for my program (though i understand it could be worth checking if the error still happens with PyQt4).

If i keep the program and just stop displaying it, the error stops.
[code]

This means that some specific garbage collection action causes t

[2019-03-25 13:56] djhoese commented on #1611
How did you install vispy? The current master branch has major changes to the PyQt5 backend. It would be good to test using this version of the code.

Another thing you could try is to try to do the equivalent with the Scene API and Visual objects (ImageVisuals perhaps?). If you remove an image visual (`my_img.parent = None`) I'd be curious if it behaves better.

[2019-03-25 14:18] thomasdeneux commented on #1611
Yes i forgot to answer the question: i am using the very latest version of vispy master (i just pulled and still have the error).
I will try later what to suggest with removing Visual objects in the Scence API. But note that it is well possible that removing visuals does not cause error: the error i got is very specific to some custom displays i program with gloo (when i said "basically each progr

[2019-03-25 19:42] codypiersall commented on #1609
I'm getting ~58 FPS on Win10 on vispy master.

[2019-03-25 20:55] kmuehlbauer commented on #1609
@codypiersall Can we assume, that FPS values below 60 indicate that the application has some performance problem? I mean on Linux and Mac we get stable 60 FPS with this test case. Also the VM win 10 has 60 FPS. Only WIN 10 has degradations.

[2019-03-25 21:32] djhoese commented on #1609
FYI I was getting steady 60 FPS on my mac as long as I wasn't doing anything else. Every time I switched windows, opened a new chrome tab, or really did anything it would dip to ~55FPS for a moment.

[2019-03-25 22:12] codypiersall commented on #1609
My guess is that for this test, 58 is close enough to 60 that I would say it's working okay on my computer.  My profiling results were consistent with @Tillsten's though, where most time was spent in [`_get_ticks_talbot`](https://github.com/vispy/vispy/blob/d96c26ec3093b9ea576bed95072a9c3ef6be1e27/vispy/visuals/axis.py#L500-L577).

[2019-03-26 02:05] codypiersall commented on #1609
On my home computer I'm getting 60 fps on Linux (Ubuntu 16.04), but about 45 fps on Windows.

[2019-03-26 02:43] kmuehlbauer commented on #1609
The question is, why do we get reasonable values for linux/mac but not for windows?

[2019-03-26 09:00] Tillsten commented on #1609
Does the profiling result differ between windows and linux?

[2019-03-26 13:56] codypiersall commented on #1611
Whenever I run this example code, I'm not getting an exception.  This is Win 10.  That doesn't mean there's not a bug, just that I can't reproduce it.  Do you get this exception every time you run it?

[2019-03-26 19:55] thomasdeneux commented on #1611
Yes i get the exception systematically, but as i said i don't get it on a second computer with linux. I could indeed try to upgrade python / PyQt5 / other toolboxes, yet i will first continue debugging and check whether there is one specific vispy garbage collection instruction that is the cause for the problem.

[2019-03-27 00:33] neurochen commented on #1498
Just noticed this message. Already ran the program with the latest github commit of vispy, and there is no memory leakage in both RAM/VRAM and performance drop. Great work! Thanks!

[2019-03-27 01:30] djhoese commented on #1498
Amazing! Thanks @codypiersall!

[2019-03-27 01:30] #1498 closed

[2019-03-27 05:50] kmuehlbauer commented on #1498
@neurochen As you are on win 10, could I point you to #1609? We are short of WIN 10 testers, so we would really appreciate if you can try the example there on your machine.

[2019-03-27 06:28] yiakwy commented on #875
@davidtrem @hadim @larsoner this issue should not be closed cause we still have in python 3.6 jupyter notebook with latest vispy package installation. The OS is ubuntu 18.

[2019-03-27 06:50] yiakwy commented on #875
@djhoese Installing from github repo is extremely slow. It takes a long time before downloading all npm dependencies.

[2019-03-27 08:06] yiakwy opened #1612 "Jupyter notebook canvas does not show (model error)"
## Config

Ubuntu system
VISPY VERSION: 0.6.0.dev0, installed from source
jupyter nbextension enabled : jupyter nbextension enable vispy --py --sys-prefix

## Source

[code]

## Problem

Canvas does not show with many js errors in javascript console 👍

[code]

I plan to move to PyThreejs and it seems that their webgl backend implementation for jupyter widget is much stable.

[2019-03-27 08:21] kmuehlbauer commented on #1612
[code]

[2019-03-27 08:23] kmuehlbauer commented on #1612
@yiakwy Please fix the example code to work. Then we can test it.

[2019-03-27 08:24] kmuehlbauer commented on #1612
Not sure what this should tell us. You are very welcome to fix any bugs you find in vispy sources.

[2019-03-27 08:55] yiakwy commented on #1612
hi @kmuehlbauer , the data is a chaire sanned from lidar (I can render it now using pythreejs plugin to access it in a  remote jupyter notebook client)

data[idx,:] ' shape is [2048, 3], and looks like:

[code]

Could you generate some faked data for that purpose?

[2019-03-27 09:10] kmuehlbauer commented on #1612
@yiakwy I updated/corrected the example code. It runs using my default backend (pyqt5), but not with webgl backend. @djhoese did several changes recently to this backend. He certainly will have some more insight on how to install/run webgl stuff correctly.

[2019-03-27 10:20] djhoese commented on #1612
The way you titled this issue I would assume that you've had this working before. Is that true?

Also it looks like you are using jupyter lab, *not* jupyter notebook. The vispy widget does not currently work in lab/hub; I'm working on it. Follow the installation instructions and try in a regular notebook to see if that works.

Do you have a lot of JS or jupyter widgets experience? Would you be wil

[2019-03-27 11:52] neurochen commented on #1498
You are right. I am working on Windows 10 and happy to try the code. Will post the results there. Thanks.

[2019-03-27 12:05] neurochen commented on #1609
I noticed this issue several months ago. As axis updating is not frequent in my case, so the issue is not reported immediately. Here's my test results today on Windows10 and GTX 1080 Ti. It's around 50 Hz with linked axes, but ran back to 60 hz once disabling the axis update.
'''python
Platform: Windows-10-10.0.14393-SP0
Python:   3.7.2 (default, Jan  2 2019, 17:07:39) [MSC v.1915 64 bit (AMD64)]

[2019-03-27 12:12] kmuehlbauer commented on #1609
@neurochen Thanks for looking into this. Could you explain how you install vispy and dependencies in your machine? Only to make the installation process easier for me.

But nevertheless your results agree with the other results so far. What I still do not understand where this discrepancy between OS results from.

[2019-03-27 12:20] neurochen commented on #1609
This cprofile output might help. It seems related to the vertex buffer object for axis texts.

![image](https://user-images.githubusercontent.com/10821596/55075362-2be92a80-5069-11e9-9169-4747d9edccec.png)

[2019-03-27 12:23] neurochen commented on #1609
Regarding your question, my installation is as follows:
- miniconda
- conda env with python=3.7, numpy, pyqt
- pipinstall git+https://github.com/vispy/vispy.git

[2019-03-27 12:40] kmuehlbauer commented on #1609
OK, so I assume you have some Visual C build tools installed to get the cython extension compiled (text_sdf)? This is exactly the same setup as mine.

[2019-03-27 12:47] djhoese commented on #875
@yiakwy I know you've already filed another issue, but please read the discussion before commenting. In my last comment I pointed out that so much has changed with notebooks and notebook support that this issue's discussion is no longer relevant and that any new issues should be filed separately. As for the slow installation, if you have suggestions on how to improve that please let me know. I am

[2019-03-27 13:26] neurochen commented on #1609
Yes, I have a visual studio community 2017 installed, which comes with a build tool as well. Just went through the _text_to_vbo function, without noticing any code related to performance drop actually.

[2019-03-27 14:17] kmuehlbauer commented on #1609
So for profiling, just for me and @djhoese (kudos to @Tillsten):

Invoking external Profiler:
`python -m cProfile -o test.perf test.py`

using `snakeviz`:

`conda install snakeviz`
`snakeviz test.perf`

There should be some internal profiling possible, but I currently lack this knowledge.

[2019-03-27 14:19] kmuehlbauer commented on #1609
Here is 20 seconds profile on my linux machine
[vispy_axis_slow.perf.zip](https://github.com/vispy/vispy/files/3013584/vispy_axis_slow.perf.zip)

[2019-03-27 15:00] kmuehlbauer commented on #1609
@Tillsten Can you check with my linux profiling from above, where the changes are, compared to your profiling. From the first glance, it seems that too much time is spent in `_text_to_vbo` and `_get_ticks_talbot` (at least more than on my system).

But also the `built-in method swapBuffers` consumes much more time on your system than mine. Also some other differences are there. This will be hard n

[2019-03-28 03:44] yiakwy commented on #1612
Hi @djhoese This is the first time I use vispy.  I want to make 3d points visualization be accessible in remote for my teammates.  I read the relevant discussion about how to make vispy work. To my best knowledge,  it takes me an hour before I realize that I have to install vispy from source. But it didn't work.

I have experiences in webgl development using es6 and am willing to help and thanks y

[2019-03-28 12:56] djhoese commented on #1612
@yiakwy VisPy has notoriously struggled to stay on a frequent release cycle. The main difficulties are supporting so many backends and CI environments changing or having poor compatibility with OpenGL. I'm hoping this next 0.6 release is the start of a more stable release cycle.

Jupyter projects are very active and although they do a pretty good job with backwards compatibility, it is very diffic

[2019-03-28 12:57] djhoese commented on #1612
Also, not sure you mentioned it, but are you using a jupyter notebook or jupyter lab/hub interface?

[2019-03-28 15:34] colemanbroad commented on #1582
Hi all :) Any updates on this problem?

[2019-03-28 15:44] djhoese commented on #1582
No, sorry. I am very swamped at work right now and vispy is not directly part of my job.

[2019-03-28 15:46] colemanbroad commented on #1582
No worries, it's not critical. Good luck at work!

[2019-04-07 23:29] neurochen opened #1613 "vispy postpones pyqt events"
In my program, I use vispy roll_data to animate my data visualization. In the same time, qtimer events are also repetitively scheduled in the main process and thread. Although the callback for plot updates only takes ~1 ms to finish CPU-wise, but the vispy callback postponed qtimer events until the swap was finished. Please be clear that vsync in vispy is already turned off here.

This looks a bit

[2019-04-07 23:30] djhoese commented on #1613
Do you have a code example that I can run to test this and show the timing you are experiencing?

[2019-04-07 23:32] djhoese commented on #1613
Oh also keep in mind the discussion on #1609 which talks about poor performance being seen on certain Windows systems.

[2019-04-07 23:36] neurochen commented on #1613
Thanks, David. Please see the slightly modified scrolling_plots.py below. Right now, it outputs the time stamp when the callback is entered, in this case, event without a qtimer. The same issue occurred as well.
[code]

[2019-04-07 23:53] djhoese commented on #1613
So to reword what you're seeing versus what you're expecting:

The callback that is updating the data (the `update` function) is completing in ~1ms (according to you), but you are seeing that the `update` function is only called every ~10ms because Qt is delaying the call until the draw is complete. Right? You expect the `update` function to be called as fast as possible?

FYI here are my results

[2019-04-07 23:58] neurochen commented on #1613
Yes, exactly. That's what I expected and wanted. Do you think it's possible?

[2019-04-08 00:16] djhoese commented on #1613
How would that work? The `update` function may be *returning* in ~1ms, but it itself is triggering/starting an "update" event in the vispy/Qt system. This update process starts with a check to see if we are already in the update/drawing process and if so, will not redraw. If the `update` function is called faster than vispy/ the GPU can draw things, vispy will "skip" drawing events until the GPU h

[2019-04-08 00:47] neurochen commented on #1613
Got it, reasonable! Your statement about Qt event system is also right. What I want to achieve is only 60 fps, which is super easy with vispy. But I have another critical function running inside the same process together vispy. About 10 ms delay introduced here will basically stop my program. Would it be possible to just check whether GL commands are finished on GPU? I guess what's running inside

[2019-04-08 01:01] djhoese commented on #1613
Is the critical function drawing anything? If not, I would advise moving it to another background thread. If it is CPU intensive then I would recommend moving it to a separate process if possible.

What Qt allows us to do is as close to a non-blocking GPU drawing process as possible (event loop). As far as I know at least. I think Qt makes the python process wait for drawing processing to finish o

[2019-04-08 01:15] neurochen commented on #1613
Thanks for the suggestions. The fps is 60 hz already. I will try the first suggestion out. BTW, just curious about whether vispy is thread-safe now.

[2019-04-08 01:24] djhoese commented on #1613
How so? Vispy is dependent on a GUI framework as its backend. The majority (all of the ones I know) of GUI frameworks require that drawing operations/functions be done in the main (GUI) thread. That includes Qt4/5. Therefore, VisPy is only thread-safe during operations where it is not updating things on the GPU.

There are ways around this. For example, I have an application that requires some tim

[2019-04-08 01:27] djhoese commented on #1613
Let me put that another way: vispy is pretty much not thread-safe. It is up to you the user to make sure multiple threads don't update vispy objects at the same time. Given the dependence on the thread-conscious GUI framework, there isn't a huge point for vispy to add thread locking to make things like `roll_data` thread-safe. It would add a performance hit to the more common single-threaded user

[2019-04-08 01:42] neurochen commented on #1613
Thanks for the explanation! #632 talks about multithreading specifically.

[2019-04-08 01:43] #1613 closed

[2019-04-08 02:35] junrenge opened #1614 "picture is axisymmetrically displayed"
I modified “vispy-master\examples\demo\gloo\camera.py“ to show some pictures，mainly in on_timer() function.It can work but the picture is axisymmetrically displayed,you can see
[https://github.com/junrenge/spike-sort/blob/master/picture/camera.jpg]

# -*- coding: utf-8 -*-
try:
    import cv2
except Exception:
    raise ImportError("You need OpenCV for this example.")

import numpy as np
from visp

[2019-04-08 06:51] kmuehlbauer commented on #1614
Just guessing: The demo was meant to be used with the webcam, so the image was mirrored by purpose.

You can specify the correct alignment via setting fitting coordinates to `self.program['position']` and
`program['texcoord']`.

[2019-04-10 03:18] wangg12 opened #1615 "How to render a normal map with vispy?"
I found a tutorial to render normal map with python opengl
[https://github.com/jcteng/python-opengl-tutorial/blob/master/tu_10_normal_mapping.py](https://github.com/jcteng/python-opengl-tutorial/blob/master/tu_10_normal_mapping.py),
however the raw opengl APIs looks very complex and hard to understand. Is there a simple example of how to render a normal map with vispy?

[2019-04-10 14:00] djhoese commented on #1615
I don't think we have any examples right now that specifically show normals from a given object. We do have utilities for loading different object formats (I think). It is really hard to tell everything that that code is doing due to the lack of documentation.

[2019-04-10 16:27] wangg12 commented on #1615
It would be great if there is an example for rendering the normal map with a .ply file.

[2019-04-10 16:29] djhoese commented on #1615
This is not something I am familiar with. Since this seems like something you are interested in it would be great if you could add the example and make a pull request to share with others.

[2019-04-10 18:05] kmuehlbauer commented on #1615
@wangg12 After having a quick look at the provided example I support @djhoese. An example would be really nice. vispy should have all the needed machinery (`Texture2D` to load the normal map). Everything else could be done in the shaders first. Going further we could think about how and where to integrate this. But a working example would be the initial step.

[2019-04-10 18:16] wangg12 commented on #1615
I am also not familiar with this. My problem is that, given an .ply object which contains the surface(vertex) normals, I want to render out a surface normal map with a given pose. I still don’t know how this could be achieved with vispy. Any hints would be helpful.

[2019-04-12 07:37] dalexan opened #1616 "High CPU consumption when graphics update is stopped"
I was checking the example of cloud of points (https://github.com/vispy/vispy/blob/master/examples/demo/gloo/cloud.py). When the animation is running and cloud is rotated. my CPU usage is below 1% and Intel GPU is 100%. This is what I would expect. However, after pressing 'space' and stopping cloud rotation CPU rises to 20%. Is there a way to reduce it?

[2019-04-12 14:11] djhoese commented on #1616
My best guess is that is either PyQt deciding if it needs to do anything (looping quickly through events) or a sleep/wait loop in vispy. Are you using PyQt? 4 or 5?

[2019-04-12 15:07] GuillaumeFavelier commented on #1615
I made a really rough [gist example](https://gist.github.com/GuillaumeFavelier/cd22bbbf0116c9237be6be1bf160618d) demonstrating [normal mapping](https://en.wikipedia.org/wiki/Normal_mapping), there is definitely room for improvement and I agree with @kmuehlbauer, the `Texture2D` idea sounds nice.

[2019-04-12 15:10] GuillaumeFavelier commented on #1615
This is horrible but this what I get xD

![image](https://user-images.githubusercontent.com/18143289/56047480-c3c36580-5d45-11e9-8a9a-6a1abedf5034.png)

[2019-04-12 18:57] dalexan commented on #1616
Actually, I happen to run it with glfw 3.2.1. Once I switched to PyQt5, which I a planing to use it with, the problem disappeared.

[2019-04-13 10:49] djhoese commented on #1616
Interesting. I don't have a lot of experience with the glfw backend and I'm not sure there is much I can do. I'm going to close this for now. If you have other questions or details feel free to reopen.

[2019-04-13 10:49] #1616 closed

[2019-04-13 12:49] larsoner commented on #1616
GLFW does not have a built-in event loop, so we hack it with a `while` loop. It's entirely possible it's too aggressive or uses too naive a strategy

[2019-04-13 12:51] dalexan commented on #1616
Thank you for clarification.

[2019-04-14 16:52] nekopep opened #1617 "missing wheel package dependency on pip install process"
Trying to install vispy in a python3.7 venv I get this error:

`pip install vispy`

Collecting vispy
  Downloading https://files.pythonhosted.org/packages/5f/e2/1c9f4534a335f922bddf5fbd7ed1b105b91660b9ac32e21c39fa62544386/vispy-0.5.3.tar.gz (12.3MB)
    100% |████████████████████████████████| 12.3MB 153kB/s
Requirement already satisfied: numpy in ./py37_pyside2_gui/lib/python3.7/site-packages (fro

[2019-04-14 16:56] nekopep commented on #1617
I had to do :
`pip install wheel`
Collecting wheel
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/96/ba/a4702cbb6a3a485239fbe9525443446203f00771af9ac000fa3ef2788201/wheel-0.33.1-py2.py3-none-any.whl
Installing collected packages: wheel
Successfully installed wheel-0.33.1

Then:
`pip insta

[2019-04-15 13:44] GuillaumeFavelier commented on #1615
Here is [another example](https://gist.github.com/GuillaumeFavelier/d12b3f9406b68b11bcae09bddfdbaf3e) this time using `Texture2D` but still very straightforward with a plane using normals towards the positive z direction.

![image](https://user-images.githubusercontent.com/18143289/56137489-43933f00-5f95-11e9-8d47-bf7066037cf2.png)